Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit a8cc206938c44f5bc9ce2e136e0e3db5102bffbc [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

fix settings to english language
  tests/cms/utils/test_cancel_translation.py
Due: translations

Improve the performance of `get_region_links` (#3120)
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
Due: translations

Update documentation of commit b67f35839501ae610e859bb3b5d14364d415108f [skip ci]
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Improve social media preview
  integreat_cms/api/v3/social_media_headers.py
Due: translations

Add headers
  integreat_cms/api/v3/templates/social_media_headers.html
Due: djlint-django, translations

api: sort push notifications by maximum of last_updated and sent_date
  integreat_cms/api/v3/push_notifications.py
Due: translations

Add option to skip copying language tree and translations when duplicating a region
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/test_duplicate_regions.py
Due: djlint-django, translations

fix issue template labels
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

Fixes for contact
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0108_rename_contact_title_to_point_of_contact_for.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit b52c745720b1c0dea998709078735e89652529d0 [skip ci]
  packaging.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Region condition: Add total number of pages
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add separate legend for statistics charts
  integreat_cms/cms/templates/statistics/_statistics_legend.html
  integreat_cms/cms/templates/statistics/_statistics_legend_item.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/release_notes/current/unreleased/3133.yml
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: djlint-django, eslint, translations

Update documentation of commit 03fb569182ae92aa6f0982daf07d5c4a47640c0c [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/tests.cms.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 30dbbee6273e2e8ff5195904b52f06f53608a9ca [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/tests.cms.html
  searchindex.js
Due: djlint-django, eslint, translations

Add test for contact form
  integreat_cms/cms/fixtures/test_data.json
  tests/cms/models/contacts/test_contacts.py
  tests/cms/views/contacts/test_contact_actions.py
  tests/cms/views/contacts/test_contact_form.py
Due: translations

Update documentation of commit f0e66c8569852b52fdd3b2e08209b6e651784109 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

add contacts to content search api endpoint
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/views/utils/search_content_ajax.py
Due: translations

implement embedded contacts functionality with tinymce
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/imprint/imprint_form_view.py
  integreat_cms/cms/views/mixins.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/tinymce_custom.css
  integreat_cms/static/src/editor_content.ts
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

use tomselect
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/css/tinymce_custom.css
  integreat_cms/static/src/css/tomselect.scss
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  package-lock.json
  package.json
Due: eslint, translations

display where contacts are used
  integreat_cms/cms/templates/_related_contents_table.html
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/cms/views/contacts/contact_form_view.py
Due: djlint-django, translations

always render cards for embedded contacts server side
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/utils/content_utils.py
Due: djlint-django, translations

Document debugging setup for Neovim
  docs/src/debugging.rst
  docs/src/images/debugging/debug-nvim-01-start.png
  docs/src/images/debugging/debug-nvim-02-overview.png
  docs/src/images/debugging/debug-nvim-03-breakpoint.png
  docs/src/images/debugging/debug-nvim-04-start-debugging.png
  docs/src/images/debugging/debug-nvim-05-step-over.png
  pyproject.toml
Due: none

Fix spacing in poi box
  integreat_cms/cms/templates/_poi_query_result.html
  integreat_cms/cms/templates/ajax_poi_form/_poi_address_container.html
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templatetags/poi_filters.py
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3150.yml
  integreat_cms/static/src/js/poi_box.ts
Due: djlint-django, eslint, translations

Update documentation of commit 4b443df434230abb9a1831d10f22b57175efce36 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix data error when copying long contact
  integreat_cms/cms/migrations/0109_custom_truncating_char_field.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/fields/truncating_char_field.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Disable copying for imported events
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/views/events/event_actions.py
  integreat_cms/cms/views/events/event_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/events/events.py
Due: djlint-django, translations

Update documentation of commit c0698bc7634b4bd5e38425aead12c79a77273b45 [skip ci]
  debugging.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.events.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.pages.html
  ref-ext/integreat_cms.cms.models.pois.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.events.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.pages.html
  ref/integreat_cms.cms.models.pois.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix error at bulk link ignore/unignore
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/release_notes/current/unreleased/3183.yml
Due: translations

Extend select all checkbox to events and pois
  integreat_cms/cms/templates/events/event_form_sidebar/minor_edit_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/minor_edit_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3185.yml
Due: djlint-django, translations

Update documentation of commit 1e3e18ccc7ac32fef31655d5bc65f98e65490df1 [skip ci]
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add contact creation in POI form
  integreat_cms/cms/templates/ajax_contact_form/contact_box.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/contacts/__init__.py
  integreat_cms/cms/views/contacts/contact_form_ajax_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/contact_box.ts
Due: djlint-django, eslint, translations

Update view
  integreat_cms/cms/views/contacts/contact_form_ajax_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit 2bcb47597c42783ba79ec5c2569ff3686f889162 [skip ci]
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
