Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Update documentation of commit c73bfb8d77bf70570674e6a8e52136c0edff2bb4 [skip ci]
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add translation coverage row to dashboard
  integreat_cms/cms/templates/dashboard/_todo_dashboard_widget.html
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/_missing_translations_row.html
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/number_of_missing_or_outdated_translations_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/analytics/translation_coverage_view.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/translation_coverage.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/dashboard/translation-coverage.ts
Due: djlint-django, eslint, translations

Sort contacts by group and name
  integreat_cms/cms/migrations/0112_sort_contacts_by_POI_and_name.py
  integreat_cms/cms/models/contact/contact.py
Due: translations

Add contact creation in POI form
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/contacts/__init__.py
  integreat_cms/cms/views/contacts/contact_form_ajax_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/ajax-contact-form.ts
Due: djlint-django, eslint, translations

Update documentation of commit ce151d9f6bee44291c2a365f820cf8934cce2856 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix location selection in the event filter
  integreat_cms/cms/templates/_poi_query_result.html
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/release_notes/current/unreleased/3212.yml
  integreat_cms/static/src/js/poi-box.ts
Due: djlint-django, eslint, translations

Update documentation of commit 22a110d08da85f03dc4ed904eea5d5d9a55f9472 [skip ci]
  genindex.html
  objects.inv
  py-modindex.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/integreat_cms.html
  searchindex.js
Due: djlint-django, eslint, translations

Added test for bulk cancel translation
  integreat_cms/cms/fixtures/test_data.json
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/utils/test_cancel_translation.py
  tests/cms/views/dashboard/test_dashboard.py
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/test_pdf_export.py
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
  tests/sitemap/expected-sitemaps/sitemap-augsburg-en.xml
  tests/sitemap/sitemap_config.py
Due: translations

new @tree_mutex() decorator, forcing treebeard to use transactions :tada:
  integreat_cms/cms/models/abstract_tree_node.py
  integreat_cms/cms/utils/repair_tree.py
  integreat_cms/cms/utils/tree_mutex.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/cms/views/language_tree/language_tree_node_form_view.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/core/management/commands/repair_tree.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

tests for @tree_mutex()
  tests/cms/utils/test_tree_mutex.py
Due: translations

Refactor/update icalendar (#3352)
  integreat_cms/cms/utils/external_calendar_utils.py
  pyproject.toml
Due: translations

Update documentation of commit d99032368a46b89d4a3a968d063c01dbdc5a658e [skip ci]
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  searchindex.js
Due: djlint-django, eslint, translations

process incoming automatic_answers tag from zammad
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

process auto_answers attribute from chat backend
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Reformat code
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Fix linting issues
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Move translation coverage and change text
  integreat_cms/cms/templates/dashboard/_todo_dashboard_widget.html
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/_missing_translations_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add percentage to accesses
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Add comments to statistics-page-accesses
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Update documentation of commit 102b45fe268754e5dab9d6156c063c74a1484cf4 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 102b45fe268754e5dab9d6156c063c74a1484cf4 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add release note for translation coverage on dashboard
  integreat_cms/release_notes/current/unreleased/4.yml
Due: none

Apply suggestions from code review
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update statistics_actions and utils
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Fix contact link tracking
  flake.nix
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/utils/internal_link_checker.py
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
Due: translations

split fixtures for test_cancel_translation from test_data.json
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/fixtures/test_data_in_translation.json
  tests/api/api_config.py
  tests/cms/utils/test_cancel_translation.py
  tests/cms/views/dashboard/test_dashboard.py
  tests/pdf/test_pdf_export.py
  tests/sitemap/sitemap_config.py
Due: translations

Indicate when contact actions are not available
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/style.scss
Due: djlint-django, translations

Update documentation of commit 822721e9de890e238f7a6b3aee8d7bc0e09c616e [skip ci]
  continuous-integration.html
  packaging.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.utils.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Exclude contact cards (and other non-editable blocks) from HIX
  integreat_cms/cms/views/utils/hix.py
Due: translations

Fix news_id to be number type
  integreat_cms/firebase_api/firebase_api_client.py
Due: translations

Update documentation of commit 54241dd2a57bb96118cba4d21d0baae613953cd6 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.utils.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add basic table to region condition
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/cms/views/region_condition/region_condition_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations
