Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Refactor event filter
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_filter_form.py
Due: translations

Update documentation of commit b89bc655f69f5e8cfc29b4324dde523c547bb9c3 [skip ci]
  api-docs.html
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.api.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.core.html
  ref/tests.api.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Adjust event filter regarding recurrence
  integreat_cms/cms/constants/recurrence.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_filter_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3379.yml
  tests/cms/views/events/test_event_filter.py
Due: translations

Update documentation of commit 79022ad712f9548550aa4b64ec8a4090ace7a0f8 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fixes for preview
  integreat_cms/cms/templates/pages/_page_preview_overlay.html
  integreat_cms/static/src/css/page_preview.css
Due: djlint-django, translations

Add beta permission to user
  integreat_cms/cms/migrations/0117_add_beta_permission.py
  integreat_cms/cms/models/users/user.py
Due: translations

Fix wording of weekdays and translation of recurring
  integreat_cms/cms/migrations/0117_rename_weekdays_in_events.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3436.yml
  integreat_cms/release_notes/current/unreleased/3437.yml
Due: translations

Add beat permission to test roles
  integreat_cms/cms/fixtures/test_roles.json
Due: none

Fix format
  integreat_cms/cms/migrations/0117_add_beta_permission.py
  integreat_cms/cms/models/users/user.py
Due: translations

Chat: send full message history to back end
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Extend test for event
  tests/cms/views/events/test_event_form.py
Due: translations

Add beta permission
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/fixtures/test_roles.json
  integreat_cms/cms/migrations/0117_add_beta_permission.py
  integreat_cms/cms/models/users/user.py
Due: translations

Update documentation of commit 0f227e560414e1ec15a54f2be7d667345a565539 [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit b5d263f7450ed9841ad3ca97195bba5c77531e61 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Fixes for preview
  integreat_cms/cms/templates/pages/_page_preview_overlay.html
  integreat_cms/release_notes/current/unreleased/496.yml
  integreat_cms/static/src/css/page_preview.css
Due: djlint-django, translations

restrict bulk archive for pages to users with publishing rights
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/__init__.py
  integreat_cms/cms/views/pages/page_bulk_actions.py
  tests/cms/views/view_config.py
Due: djlint-django, translations

Fix search term being cleared after search in event filter
  integreat_cms/cms/forms/events/event_filter_form.py
Due: translations

Update documentation of commit da919faae5586efa4876cce2db052b321f58692d [skip ci]
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix migrations
  integreat_cms/cms/migrations/0118_rename_weekdays_in_events.py
Due: translations

Update documentation of commit 0fb24abff0c6c50d563e0458e48cf193e8700cc6 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Merge page_tree_archived into page_tree
  integreat_cms/cms/templates/pages/_generic_page_tree.html
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/_page_tree_children.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_archived.html
  integreat_cms/cms/templates/pages/page_tree_archived_node.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/templates/statistics/_statistics_legend_item.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/statistics/__init__.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/tree-drag-and-drop.ts
  package-lock.json
  package.json
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Hide page statistics behind beta permission
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Rename _generic_page_tree to _generic_page_tree_header
  integreat_cms/cms/templates/pages/_generic_page_tree_header.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add mobile phone number and fax number to contact
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0119_add_mobile_number_and_fax_number_to_contact.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3473.yml
  tests/cms/views/contacts/test_contact_form.py
Due: djlint-django, translations

Update documentation of commit 0b2839e094af089dffb2e3da1b07c593e9e027e0 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Pass talk to human attr between Zammad and Chat
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Chat: add user consent attribute
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Fix error handling
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Add update ticket method
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Move Zammad logic into UserChat model
  integreat_cms/api/v3/chat/utils/zammad_api.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Remove zammad_py module dependency
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Create ZammadAPI class as model parent
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/models/chat/attachment_map.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Class clean up
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Remove dependency
  pyproject.toml
Due: none

Fix region type hinting & optional argument
  integreat_cms/cms/utils/zammad.py
Due: translations

Refactor chat function
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Fix ruff errors
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Remove attachment id
  integreat_cms/api/urls.py
  integreat_cms/api/v3/chat/user_chat.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
