Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Fix time period update
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Update documentation of commit 27c3332c6b7f70b8fa67bc81a89bf7edd7f2593b [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

[WIP] Fix test
  integreat_cms/cms/models/media/media_file.py
Due: translations

Fix number of queries
  tests/api/api_config.py
Due: translations

Remove dependancy from total accesses chart
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/statistics/_statistics_legend_item.html
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Refactor event_form_view
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Refactor poi_form_view
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Refactor 'generate_unique_slug'
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Ensure <details> with opening hours rendered open in TinyMCE
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: eslint

some renamefield
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0001_initial.py
  integreat_cms/cms/migrations/0146_remove_user_page_tree_tutorial_seen_and_more.py
  integreat_cms/cms/migrations/0147_alter_user_has_seen_page_tree_tutorial.py
  integreat_cms/cms/views/pages/page_tree_view.py
Due: translations

ruff error fix
  integreat_cms/cms/migrations/0146_remove_user_page_tree_tutorial_seen_and_more.py
  integreat_cms/cms/migrations/0147_alter_user_has_seen_page_tree_tutorial.py
Due: translations

Fix redirect
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/core/docker_settings.py
Due: translations

Fix redirect (#4059)
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/core/docker_settings.py
Due: translations

Fix vanishing loading indicator
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/directory-content-library.tsx
  integreat_cms/static/src/js/media-management/filter-result-library.tsx
  integreat_cms/static/src/js/media-management/index.tsx
  integreat_cms/static/src/js/media-management/search-result-library.tsx
Due: eslint

Simplify push notification by merging templates and draft status
  integreat_cms/api/v3/push_notifications.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/migrations/0146_remove_pushnotification_draft_and_more.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/push_notifications/__init__.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/core/management/commands/send_push_notifications.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2639.yml
  integreat_cms/static/src/js/conditional-fields.ts
  tests/api/test_pushnotification_api.py
  tests/cms/views/view_config.py
  tests/core/management/commands/test_send_push_notifications.py
Due: djlint-django, eslint, translations

Speed up endpoint
  integreat_cms/cms/views/media/media_actions.py
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/directory-content-library.tsx
  integreat_cms/static/src/js/media-management/filter-result-library.tsx
  integreat_cms/static/src/js/media-management/index.tsx
  integreat_cms/static/src/js/media-management/search-result-library.tsx
Due: eslint, translations

Fix eslint errors
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/directory-content-library.tsx
  integreat_cms/static/src/js/media-management/filter-result-library.tsx
  integreat_cms/static/src/js/media-management/index.tsx
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/media-management/search-result-library.tsx
Due: eslint

Handle chat back end exceptions
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

migration
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
  integreat_cms/cms/migrations/0146_remove_user_page_tree_tutorial_seen_and_more.py
  integreat_cms/cms/migrations/0147_alter_user_has_seen_page_tree_tutorial.py
Due: translations

ruff error fix
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations

migration
  integreat_cms/cms/migrations/0146_remove_pushnotification_draft_and_more.py
Due: translations

Create Management Command
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/core/management/commands/make_slugs_unique.py
Due: translations

Handle multiple requests pge accesses at the same time
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Update documentation of commit e65fb9fd8014968774844499d2f83de3346468fa [skip ci]
  ref-ext/integreat_cms.cms.models.feedback.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.models.feedback.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix slug being overwritten when editing page title
  integreat_cms/release_notes/current/unreleased/3961.yml
  integreat_cms/static/src/js/forms/update-permalink.ts
Due: eslint

Fix timeout when deleting a language with many translations
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/release_notes/current/unreleased/3997.yml
Due: translations

Fix duplicate_pages slugify to preserve unicode characters
  integreat_cms/core/management/commands/duplicate_pages.py
Due: translations

Remove (0) from phone number formatting
  .vscode/launch.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/migrations/0147_adopt_new_phone_number_format.py
  integreat_cms/cms/utils/link_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3712.yml
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
  tests/cms/views/contacts/test_contact_form.py
Due: eslint, translations

Update documentation of commit 5d3b6cfc0b04ecd0da1b3b30d2eaefa01dd58815 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pois.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pois.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

initial.py
  integreat_cms/cms/migrations/0001_initial.py
Due: translations

migration changes
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations

migrations
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations

update
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations

error fix
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations
