Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Fix enter saves form
  integreat_cms/cms/templates/events/external_calendar_form.html
  integreat_cms/cms/templates/organizations/organization_form.html
Due: djlint-django, translations

Apply suggestions from code review
  integreat_cms/cms/models/external_calendars/external_calendar.py
Due: translations

actually fix notranslate ltr direction, for app as well
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/release_notes/current/unreleased/2854.yml
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
Due: eslint, translations

Fix end date of all-day events in iCal imports
  integreat_cms/cms/utils/external_calendar_utils.py
Due: translations

Add option to skip copying language tree and translations when duplicating a region
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add option to skip copying language tree and translations when duplicating a region
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/test_duplicate_regions.py
Due: djlint-django, translations

Update documentation of commit af144e852acdfe24edcbd686dd14d0115937e7d1 [skip ci]
  documentation.html
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Disable copying for imported events
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/views/events/event_actions.py
  integreat_cms/cms/views/events/event_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

adjust previous migration to fix tree before adding constraints
  integreat_cms/cms/migrations/0105_treebeard_models_add_deferrable_tree_constraints.py
  integreat_cms/cms/migrations/0106_update_contact.py
  integreat_cms/cms/utils/repair_tree.py
Due: translations

Adjust wording of statistics
  integreat_cms/cms/templates/statistics/_statistics_widget.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix check_translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Small refactor in deepl_api_client
  integreat_cms/deepl_api/apps.py
Due: translations

Fixes for contact
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0107_rename_contact_title_to_point_of_contact_for.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add support for glossaries for deepl translations
  integreat_cms/core/settings.py
  integreat_cms/deepl_api/apps.py
  integreat_cms/deepl_api/deepl_api_client.py
Due: translations

Add last changed and last updated fields
  integreat_cms/cms/migrations/0108_alter_externalcalendar.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/templates/events/external_calendar_list.html
  integreat_cms/cms/templates/events/external_calendar_list_row.html
  integreat_cms/cms/views/external_calendars/external_calendar_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add created by field to external calendar
  integreat_cms/cms/migrations/0107_update_externalcalendar.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/templates/events/external_calendar_list.html
  integreat_cms/cms/templates/events/external_calendar_list_row.html
  integreat_cms/cms/views/external_calendars/external_calendar_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Adjust colspan and wording of created_by
  integreat_cms/cms/migrations/0107_update_externalcalendar.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/templates/events/external_calendar_list.html
  integreat_cms/cms/templates/events/external_calendar_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Apply suggestions from code review
  integreat_cms/cms/templates/events/external_calendar_list_row.html
Due: djlint-django, translations

Fix related_name
  integreat_cms/cms/migrations/0107_externalcalendar_author_fields.py
  integreat_cms/cms/migrations/0107_update_externalcalendar.py
  integreat_cms/cms/migrations/0108_alter_externalcalendar.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
Due: translations

Fix ruff
  integreat_cms/cms/migrations/0107_externalcalendar_author_fields.py
Due: translations

Update documentation of commit 261cb5cc91ed9a0d9896a9f55915558aba96616c [skip ci]
  packaging.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.feedback.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.feedback.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix #3063: Make save button consistent and update translation
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix error when importing iCal events with multiple categories
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/core/management/commands/assets/calendars/event_with_multiple_categories.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Update dependencies (#3082)
  integreat_cms/cms/forms/pages/mirrored_page_field_widget.py
  integreat_cms/cms/forms/pages/parent_field_widget.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/forms/users/organization_field.py
  integreat_cms/cms/forms/users/password_reset_form.py
  integreat_cms/cms/utils/media_utils.py
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/js/analytics/hix-widget.ts
  integreat_cms/static/src/js/media-management/component/create-directory.tsx
  integreat_cms/static/src/js/media-management/component/directory-content.tsx
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/component/upload-file.tsx
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/pois/opening-hours/component/opening-hours-display.tsx
  integreat_cms/static/src/js/pois/opening-hours/component/opening-hours-input-fields.tsx
  package-lock.json
  package.json
  pyproject.toml
  tests/api/test_api_result.py
  tests/cms/views/status_code/test_view_status_code_11.py
  tests/cms/views/status_code/test_view_status_code_5.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/mt_api_test.py
  tests/pdf/test_pdf_export.py
Due: eslint, translations

new @tree_mutex() decorator, forcing treebeard to use transactions :tada:
  integreat_cms/cms/models/abstract_tree_node.py
  integreat_cms/cms/utils/repair_tree.py
  integreat_cms/cms/utils/tree_mutex.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/cms/views/language_tree/language_tree_node_form_view.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/core/management/commands/repair_tree.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

tests for @tree_mutex()
  tests/cms/utils/test_tree_mutex.py
Due: translations

Add created by field to external calendar
  integreat_cms/cms/forms/events/external_calendar_form.py
  integreat_cms/cms/migrations/0107_externalcalendar_author_fields.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/templates/events/external_calendar_list.html
  integreat_cms/cms/templates/events/external_calendar_list_row.html
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/external_calendars/external_calendar_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit b4679a00755aae87168c6a8ad8e8af238e8faf45 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.models.events.html
  ref-ext/integreat_cms.cms.models.external_calendars.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.models.events.html
  ref/integreat_cms.cms.models.external_calendars.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Attempt to fix docs
  integreat_cms/cms/utils/pdf_utils.py
Due: translations

Attempt to fix docs (#3156)
  integreat_cms/cms/utils/pdf_utils.py
Due: translations

Fix translation for empty archived contact list
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Resolve translation conflicts in django.po
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none
