Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

4549: Remove the hover text from change link option
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Remove offers from the internal link checker
  integreat_cms/cms/utils/internal_link_checker.py
Due: translations

Fix internal link checker test: links to offers are not valid
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/utils/internal_link_checker.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/utils/test_internal_link_checker.py
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
Due: translations

Update documentation of commit ddf0a5d62a817c20b27ea8e836452bb22c8ed86a [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/html/functions/domTokenListToggle.html
  frontend_md/js/utils/iterators/functions/every.html
  frontend_md/js/utils/iterators/functions/filter.html
  frontend_md/js/utils/iterators/functions/some.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.cms.views.status_code.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.utils.html
  ref/tests.cms.views.html
  ref/tests.cms.views.status_code.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

4109: Fix heading hierarchy in form templates
  integreat_cms/cms/templates/ajax_place_form/contact_place_box.html
  integreat_cms/cms/templates/analytics/translation_coverage.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/events/external_calendar_form.html
  integreat_cms/cms/templates/imprint/imprint_form.html
  integreat_cms/cms/templates/languages/language_form.html
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/cms/templates/linkcheck/search_and_replace_link.html
  integreat_cms/cms/templates/offertemplates/offertemplate_form.html
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/placecategories/placecategory_form.html
  integreat_cms/cms/templates/places/place_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_setting_box.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/templates/roles/role_form.html
  integreat_cms/cms/templates/settings/user_settings.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/templates/translations/translations_management.html
  integreat_cms/cms/templates/users/region_user_form.html
  integreat_cms/cms/templates/users/user_form.html
  integreat_cms/release_notes/current/unreleased/4109.yml
  tests/cms/views/test_view_heading_hierarchy.py
Due: djlint-django, translations

add description text for view, and change header to Links from Broken Links
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

add mark as valid functionality from table row
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/static/src/js/feature/bulk-actions.ts
Due: djlint-django, eslint, translations

change invalid links table design
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/linkcheck_filters.py
Due: djlint-django, translations

update po file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

update fuzzy translation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

fix linting
  integreat_cms/cms/templates/linkcheck/link_list_row.html
Due: djlint-django, translations

update translation file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

add linkcheck wiki url link to all views
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/core/settings.py
Due: djlint-django, translations

change column name, fix column overflow, and use branding title
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

remove nested tbody from link_list_row and consistent button design
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

fix error- new button should be visible only for broken links
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/static/src/js/feature/bulk-actions.ts
Due: djlint-django, eslint, translations

Fix merge conflicts
  integreat_cms/cms/forms/linkcheck/edit_url_form.py
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/url_tags.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Improve link source column
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/templatetags/link_checker.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

4549: Remove the hover text from change link option (#4580)
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Rebase to develop
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

Update translation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Add new "Help and Tipps" column to broken-links view
  integreat_cms/cms/constants/linkcheck_errors.py
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/link_checker.py
  integreat_cms/cms/utils/internal_link_checker.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/utils/test_internal_link_checker.py
Due: djlint-django, translations

4492: Fixed contact card replace error
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/release_notes/current/unreleased/4492.yml
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/utils/test_content_utils.py
Due: translations

4492: Wrapped the contact card instead of skipping it
  integreat_cms/cms/utils/content_utils.py
  tests/cms/utils/test_content_utils.py
Due: translations

Update some more NPM packages to fix high severity warnings
  package-lock.json
Due: none

Fix header sizes in exported PDF
  integreat_cms/release_notes/current/unreleased/4582.yml
  integreat_cms/static/src/css/pdf_page_export.css
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf:Zone.Identifier
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf:Zone.Identifier
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf:Zone.Identifier
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf:Zone.Identifier
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf:Zone.Identifier
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf:Zone.Identifier
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf:Zone.Identifier
Due: none

Update documentation of commit 3b00f9e22f43d14b98c133659bf46892b6f405e8 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/html/functions/domTokenListToggle.html
  frontend_md/js/utils/iterators/functions/every.html
  frontend_md/js/utils/iterators/functions/filter.html
  frontend_md/js/utils/iterators/functions/some.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Remove region media when removing region
  docs/src/management-commands.rst
  integreat_cms/cms/utils/media_utils.py
  integreat_cms/cms/views/regions/region_actions.py
  integreat_cms/core/management/commands/delete_orphaned_region_media.py
  integreat_cms/release_notes/current/unreleased/4592.yml
  tests/cms/views/regions/test_delete_region.py
  tests/core/management/commands/test_delete_orphaned_region_media.py
Due: translations

Update documentation of commit 8e48ece51d45c7a06c6e1143e3055d43ccbccf56 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/html/functions/domTokenListToggle.html
  frontend_md/js/utils/iterators/functions/every.html
  frontend_md/js/utils/iterators/functions/filter.html
  frontend_md/js/utils/iterators/functions/some.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.xliff.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.cms.views.status_code.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.cms.views.status_code.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 295bfb8009e86b8640598849a3516a6fa9986431 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/html/functions/domTokenListToggle.html
  frontend_md/js/utils/iterators/functions/every.html
  frontend_md/js/utils/iterators/functions/filter.html
  frontend_md/js/utils/iterators/functions/some.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  searchindex.js
Due: djlint-django, eslint, translations

Improve PDF performance
  integreat_cms/cms/utils/pdf_utils.py
  tests/pdf/test_pdf_export.py
Due: translations

Make member variables in `MatomoApiClient` private and tighten types
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Convert `QuerySet` to `list` to satisfy type checker
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Add VS Code settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Remove unused file `testfile`
  testfile
Due: none

Use `HttpResponse` as `AnalyticsView.get()` return type
  integreat_cms/cms/views/statistics/statistics_view.py
Due: translations

Move parameter definition into `fetch()` call
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint
