Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Show bars
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Fix text direction in content form
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/imprint/imprint_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/release_notes/current/unreleased/3290.yml
Due: translations

Fix text direction in title field
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/cms/templates/imprint/imprint_form.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/imprint/imprint_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: djlint-django, translations

Add filter for external calendar
  integreat_cms/cms/constants/calendar.py
  integreat_cms/cms/forms/events/event_filter_form.py
  integreat_cms/cms/templates/events/_event_filter_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add tests for contact actions
  tests/cms/models/contacts/test_contacts.py
  tests/cms/views/contacts/test_contact_actions.py
Due: translations

Fix input field arrow key navigation and make search query function accessible
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/static/src/js/revisions.ts
  integreat_cms/static/src/js/search-query.ts
Due: djlint-django, eslint, translations

Update documentation of commit 6480606aee975876615500b249e7e05745c68241 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit d6eb9688ada57b6d6419f4889bd399c5349de1ae [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Stop hiding the grids when POI is removed
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/poi_box.ts
Due: djlint-django, eslint, translations

Disable select for events from external calendars
  integreat_cms/cms/templates/events/event_form_sidebar/date_and_time_box.html
Due: djlint-django, translations

Apply the review suggestions
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/poi-box.ts
Due: eslint

Hide checkboxes in archived locations for observer role
  integreat_cms/cms/templates/pois/poi_list_archived.html
  integreat_cms/cms/templates/pois/poi_list_archived_row.html
Due: djlint-django, translations

Feature: Insert contact cards into TinyMCE
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/templates/_related_contents_table.html
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/templates/ajax_poi_form/_poi_address_container.html
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/cms/templatetags/svg_tags.py
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/internal_link_checker.py
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/contact_utils.py
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/contact_signals.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/contact_card.css
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/css/tinymce_custom.css
  integreat_cms/static/src/css/tomselect.scss
  integreat_cms/static/src/editor_content.ts
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  package-lock.json
  package.json
Due: djlint-django, eslint, translations

Fix: prevent early exit of tools/code_style.sh after exit code 1
  tools/code_style.sh
Due: none

Remove x locations and events selected string for observer role
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/templates/pois/poi_list_archived.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3263.yml
Due: djlint-django, translations

Remove contact data fields from poi
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/migrations/0112_remove_poi_email_remove_poi_phone_number_and_more.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/ajax_poi_form/_poi_address_container.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Test for region deletion
  integreat_cms/cms/fixtures/test_data.json
  tests/cms/views/regions/delete_region.py
  tests/sitemap/expected-sitemaps/sitemap-nurnberg-de.xml
  tests/sitemap/sitemap_config.py
Due: translations

Update documentation of commit 8ea1eed14c0ec627f690f7a1b64d785446ac9311 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.sitemap.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.sitemap.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix test error and api docs for poi
  docs/src/api-docs.rst
  integreat_cms/cms/fixtures/test_pois.json
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_locations.json
Due: none

Add release note for fix input navigation arrow keys
  integreat_cms/release_notes/current/unreleased/3037.yml
Due: none

Update documentation of commit d1171282aa72f5b6ae77b0b66c292432a853a89b [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.sitemap.html
  ref/integreat_cms.core.html
  ref/tests.sitemap.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

changed region to regionen, fixes #3302
  tests/cms/views/regions/delete_region.py
Due: translations

Fix contact insertion
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/views/utils/contact_utils.py
Due: translations

Just use `reverse` instead of manually coding url
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/views/utils/contact_utils.py
Due: translations

Merge page_tree_archived into page_tree
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix missing backend titles for root pages in page tree and deleting tags for archive nodes
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_node.html
Due: djlint-django, translations

Fix translation format
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Add template for statistics about viewed pages
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add _generic_page_tree.html
  integreat_cms/cms/templates/pages/_generic_page_tree.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add additional column to page tree on statistics
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Merging page_tree_node and page_tree_archived_node
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Disable dragable tree node for archived tree nodes
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add page accesses calls
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/statistics/__init__.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

[WIP] Page based access
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

[WIP] Restored commit
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Fix loading of childnodes
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: djlint-django, translations

Add _generic_page_tree_node.hmtl
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: djlint-django, translations

Fix codestyle
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
