Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Update tools/update_test_data.sh
  tools/update_test_data.sh
Due: none

Define pre-commit hooks in devtool scripts (#2828)
  .pre-commit-config.yaml
  tools/_functions.sh
  tools/black.sh
  tools/djlint.sh
  tools/eslint.sh
  tools/mypy.sh
  tools/prettier.sh
  tools/pylint.sh
  tools/ruff.sh
Due: none

Update documentation of commit 4252f387db7e07acaf38326c9ff08f33e071480a [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Document debugging setup for Neovim
  docs/src/debugging.rst
  docs/src/images/debugging/debug-nvim-01-start.png
  docs/src/images/debugging/debug-nvim-02-overview.png
  docs/src/images/debugging/debug-nvim-03-breakpoint.png
  docs/src/images/debugging/debug-nvim-04-start-debugging.png
  docs/src/images/debugging/debug-nvim-05-step-over.png
  pyproject.toml
Due: none

Automatically remove user accounts that remain unactivated for 7 days (#2980)
  integreat_cms/core/management/commands/drop_expired_user_accounts.py
  integreat_cms/release_notes/current/unreleased/2076.yml
Due: translations

Update documentation of commit 60e85997a5a1218c28bf20cedcbb2bbc81ab94ec [skip ci]
  genindex.html
  objects.inv
  packaging.html
  py-modindex.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.core.management.html
  ref-ext/integreat_cms.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.management.html
  ref/integreat_cms.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix language tab styling after browser resize
  integreat_cms/release_notes/current/unreleased/2956.yml
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/js/language-tabs.ts
Due: eslint

Update documentation of commit 4b84b4478562a6791c99ab3391bf50c5514951a1 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Apply get_region_links to replace_links
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/utils/content_translation_utils.py
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/link_utils.py
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/core/management/commands/fix_internal_links.py
Due: translations

Update tools.rst
  docs/src/tools.rst
Due: none

initial commit of new testdata
  integreat_cms/cms/fixtures/test_data.json
Due: none

Implement external calendars
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/forms/__init__.py
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/forms/events/external_calendar_form.py
  integreat_cms/cms/migrations/0101_external_calendar.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/models/external_calendars/__init__.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/templates/events/external_calendar_form.html
  integreat_cms/cms/templates/events/external_calendar_list.html
  integreat_cms/cms/templates/events/external_calendar_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/cms/views/events/__init__.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/external_calendars/__init__.py
  integreat_cms/cms/views/external_calendars/external_calendar_actions.py
  integreat_cms/cms/views/external_calendars/external_calendar_form_view.py
  integreat_cms/cms/views/external_calendars/external_calendar_list_view.py
  integreat_cms/core/management/commands/import_events.py
  integreat_cms/core/settings.py
  integreat_cms/core/signals/feedback_signals.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/style.scss
  pyproject.toml
  tests/cms/views/events/external_calendar.py
  tests/core/management/commands/assets/calendars/corrupted_event.ics
  tests/core/management/commands/assets/calendars/empty_calendar.ics
  tests/core/management/commands/assets/calendars/event_with_wrong_category.ics
  tests/core/management/commands/assets/calendars/single_event.ics
  tests/core/management/commands/assets/calendars/single_event_v2.ics
  tests/core/management/commands/test_import_events.py
Due: djlint-django, translations

Fix Uncaught TypeError in the event list
  integreat_cms/static/src/js/events/conditional-fields.ts
Due: eslint

Update documentation of commit 543ee3bc0f7f301c2fdc5239969ce68044db0915 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add ini file to devcontainer
  .devcontainer/.env
  .devcontainer/docker-compose.yml
  README.md
Due: none

Invalidate imprint cache after deleting or adding language tree node
  integreat_cms/cms/forms/language_tree/language_tree_node_form.py
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/release_notes/current/unreleased/2625.yml
Due: translations

Update documentation of commit 92829a2f75f935e70befc7756e888811214b6867 [skip ci]
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.language_tree.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.language_tree.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.language_tree.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.language_tree.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update docs/src/tools.rst
  docs/src/tools.rst
Due: none

Remove outdated code
  integreat_cms/core/signals/feedback_signals.py
Due: translations

Change Zammad ticket type
  integreat_cms/api/v3/chat/zammad_api.py
Due: translations

New devtool to update testdata (#2923)
  docs/src/tools.rst
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/release_notes/current/unreleased/2793.yml
  tools/update_test_data.sh
Due: none

Update documentation of commit 85f80a65c66348fd1c5a9ba45a281ab4c10307a4 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
  tools.html
Due: djlint-django, eslint, translations

Remove default Zammad handler
  integreat_cms/api/v3/chat/zammad_api.py
Due: translations

Remove outdated code (#3038)
  integreat_cms/core/signals/feedback_signals.py
Due: translations

Update documentation of commit 88a67cdac9e5e7313ba2b175712ee601106b9c0d [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  searchindex.js
Due: djlint-django, eslint, translations

Add contact list view
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0102_alter_contact_poi.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/contacts/__init__.py
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/contacts/test_contact_actions.py
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, translations

Show both linked events and contacts at the same time
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
Due: djlint-django, translations

Remove release note about internal feature
  integreat_cms/release_notes/current/unreleased/2793.yml
Due: none

Fix poi table layout
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/templates/pois/poi_list_archived.html
Due: djlint-django, translations

[7.11.24] Add contact list view (#3007)
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0102_alter_contact_poi.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/contacts/__init__.py
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/contacts/test_contact_actions.py
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, translations

Remove release note about internal feature (#3042)
  integreat_cms/release_notes/current/unreleased/2793.yml
Due: none
