Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Add migration to make inactive visible nodes invisible
  integreat_cms/cms/migrations/0135_languagetreenode_language_tree_node_inactive_requires_invisible.py
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/cache_signals.py
Due: translations

Fix typo
  integreat_cms/release_notes/current/unreleased/2133.yml
Due: none

Add change request
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add constraint for language tree node
  integreat_cms/cms/forms/language_tree/language_tree_node_form.py
  integreat_cms/cms/migrations/0135_languagetreenode_language_tree_node_inactive_requires_invisible.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2133.yml
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
  tests/cms/models/languages/test_language_tree_node.py
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Added change requests
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
Due: eslint

Bump up migration number
  integreat_cms/cms/migrations/0139_languagetreenode_language_tree_node_inactive_requires_invisible.py
Due: translations

Fix debug user logging
  integreat_cms/core/settings.py
Due: translations

Fix: unnecessary new windows open at bulk action after PDF export
  integreat_cms/release_notes/current/unreleased/3265.yml
  integreat_cms/static/src/js/bulk-actions.ts
Due: eslint

Fix region save
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/release_notes/current/unreleased/3829.yml
Due: translations

prefer stable hiding logic, move… …move {en,dis}abling location and meeting url fields to poi-box.ts
  integreat_cms/static/src/js/events/conditional-fields.ts
  integreat_cms/static/src/js/poi-box.ts
Due: eslint

Rename online_link to meeting_url, add exclusivity constraint with location
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0139_rename_online_link_event_meeting_url.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_en_events.json
Due: djlint-django, translations

Add_forwarding_bulkaction_to_feedback
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/feedback/__init__.py
  integreat_cms/cms/views/feedback/region_feedback_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update integreat_cms/cms/views/feedback/region_feedback_actions.py
  integreat_cms/cms/views/feedback/region_feedback_actions.py
Due: translations

Update integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
Due: djlint-django, translations

adjust translation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

add release note
  integreat_cms/release_notes/current/unreleased/2925.yml
Due: none

Add setting in region settings to enable term explanations
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0139_add_term_explanations_setting.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3090.yml
Due: djlint-django, translations

restrict restoring pages to users that have publishing permissions
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/page_form_sidebar/actions_box.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/__init__.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pages/page_bulk_actions.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/release_notes/current/unreleased/3512.yml
  tests/cms/views/view_config.py
Due: djlint-django, translations

Refactor existing tabs
  integreat_cms/cms/templates/_generic_multiple_select.html
  integreat_cms/cms/templates/pages/_page_permission_table.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Disable hix signals during cleanup_autosaves()
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/core/signals/hix_signals.py
  integreat_cms/release_notes/current/unreleased/3819.yml
Due: translations

Update documentation of commit e4f647b4496d51b0414ddbc42701912e122a69b8 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.events.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.pages.html
  ref-ext/integreat_cms.cms.models.pois.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.models.events.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.pages.html
  ref/integreat_cms.cms.models.pois.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Upgrade to Django 5.2 & support Python 3.13
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
Due: none

PoC HTMX for poi ajax form
  integreat_cms/cms/templates/_poi_query_result.html
  integreat_cms/cms/templates/ajax_poi_form/_poi_form_widget.html
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/poi-box.ts
  package-lock.json
  package.json
Due: djlint-django, eslint, translations

Pin new versions
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
Due: none

Fix logout
  integreat_cms/cms/templates/_base.html
Due: djlint-django, translations

Fix page submit button
  integreat_cms/cms/templates/pages/page_form.html
Due: djlint-django, translations

Update documentation of commit 4703574652b1e97807b265fb25567b01d85d3cef [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

include trigram similarity to improve contact search
  integreat_cms/cms/migrations/0139_enable_pg_trgm.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/release_notes/current/unreleased/3736.yml
  tests/cms/views/contacts/test_contact_utils.py
Due: translations

Update documentation of commit 240b52f7b88792aa2601e2ad2765c12fbfcdc83f [skip ci]
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.views.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add bulk deletion for push notifications
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3354.yml
Due: djlint-django, translations

Add option to bulk delete to push notification templates
  integreat_cms/cms/templates/push_notifications/push_notification_template_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3354.yml
Due: djlint-django, translations

Update documentation of commit 4196591e9962b3d0ae5ab45abb2b8aba47ff6ad9 [skip ci]
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.language_tree.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.language_tree.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fetch page accesses via celery
  docs/src/management-commands.rst
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/core/management/commands/fetch_page_accesses.py
  integreat_cms/integreat_celery/celery.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Fix TypeError
  integreat_cms/core/signals/cache_signals.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
