Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Refactor Button in button.tsx
  integreat_cms/static/src/js/media-management/component/button.tsx
Due: eslint

Remove button.tsx
  integreat_cms/static/src/js/media-management/component/button.tsx
Due: eslint

Update documentation of commit da80ab945e52849081c762d02a9f8894c24c022d [skip ci]
  management-commands.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.integreat_celery.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/integreat_cms.integreat_celery.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Disable online event link field for archived events
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/release_notes/current/unreleased/3064.yml
Due: djlint-django, translations

Add featureModule validation checks
  integreat_cms/static/src/index.ts
  tools/npm/generateRegistry.ts
Due: eslint

Disable the field, instead of plain text
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
Due: djlint-django, translations

Update integreat_cms/release_notes/current/unreleased/3882.yml
  integreat_cms/release_notes/current/unreleased/3882.yml
Due: none

Update integreat_cms/cms/templates/authentication/_base.html
  integreat_cms/cms/templates/authentication/_base.html
Due: djlint-django, translations

Update integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/_base.html
Due: djlint-django, translations

Apply suggestion manually
  integreat_cms/cms/templates/_base.html
Due: djlint-django, translations

Remove unused files
  integreat_cms/cms/templates/analytics/_broken_links_widget.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/linkcheck-widget.ts
Due: djlint-django, eslint, translations

Skip chat translations for same language
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Fix wrong Zammad stack traces
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Add chat answering task on incoming message
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  tests/api/test_api_chat.py
Due: translations

Upgrade to Django 5.2 & support Python 3.13
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
Due: none

Pin new versions
  pyproject.toml
Due: none

Fix logout
  integreat_cms/cms/templates/_base.html
Due: djlint-django, translations

Fix 'ValueError: Model instances passed to related filters must be saved' during page creation
  integreat_cms/cms/forms/pages/page_form.py
Due: translations

Fix 'ValueError' in terminal
  integreat_cms/cms/models/pages/page.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fix djlint
  integreat_cms/cms/templates/_base.html
Due: djlint-django, translations

Fix get_repr methods
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/abstract_tree_node.py
  integreat_cms/cms/models/chat/chat_message.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/firebase/firebase_statistic.py
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/models/media/directory.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/offers/offer_template.py
  integreat_cms/cms/models/poi_categories/poi_category.py
  integreat_cms/cms/models/poi_categories/poi_category_translation.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/users/role.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/models/users/user_fido_key.py
Due: translations

Fix undefined self
  integreat_cms/cms/models/abstract_tree_node.py
Due: translations

Fix abstract tree node get_repr
  integreat_cms/cms/models/abstract_tree_node.py
Due: translations

Fix rrule
  integreat_cms/cms/models/events/recurrence_rule.py
Due: translations

Add privacy policy and imprint link
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/authentication/_base.html
  integreat_cms/cms/urls/public.py
  integreat_cms/core/context_processors.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3882.yml
Due: djlint-django, translations

Disable online event link field for archived events
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/release_notes/current/unreleased/3064.yml
Due: translations

Delete runtime check
  integreat_cms/static/src/index.ts
Due: eslint

Update documentation of commit a7aba67d471db9ee552551627f019828a2f02dc1 [skip ci]
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add documentation
  docs/src/_docstrings.rst
  docs/src/documentation.rst
  docs/src/frontend-bundling.rst
  integreat_cms/static/src/types/index.d.ts
Due: eslint

make shortcode decorator work for @shortcode("tag", "endtag") as well as directly
  integreat_cms/cms/utils/shortcodes/utils.py
Due: translations

Add new event validation for start_date
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/2025/2025.10.0/3797.yml
  tests/core/management/commands/assets/calendars/event_with_daily_recurrence.ics
  tests/core/management/commands/assets/calendars/event_with_multiple_categories.ics
  tests/core/management/commands/assets/calendars/event_with_wrong_category.ics
  tests/core/management/commands/assets/calendars/outlook_calendar.ics
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/assets/calendars/single_event.ics
  tests/core/management/commands/assets/calendars/single_event_v2.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_a.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_b.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Add new event validation for start_date (#3919)
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/2025/2025.10.0/3797.yml
  tests/core/management/commands/assets/calendars/event_with_daily_recurrence.ics
  tests/core/management/commands/assets/calendars/event_with_multiple_categories.ics
  tests/core/management/commands/assets/calendars/event_with_wrong_category.ics
  tests/core/management/commands/assets/calendars/outlook_calendar.ics
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/assets/calendars/single_event.ics
  tests/core/management/commands/assets/calendars/single_event_v2.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_a.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_b.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Update documentation of commit 1ff1755190297f7354e07604af43220475b057b0 [skip ci]
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  ref/tests.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Count accesses in the backend
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/pages/fetch-subpages.ts
Due: eslint, translations

Fix release note
  integreat_cms/release_notes/current/unreleased/3797.yml
Due: none

Delete broken links box
  integreat_cms/cms/templates/analytics/_broken_links_widget.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/linkcheck-widget.ts
Due: djlint-django, eslint, translations
