Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Add release-note
  integreat_cms/release_notes/current/unreleased/3500.yml
Due: none

4300: Merged two migration files into one
  integreat_cms/cms/migrations/0157_event_first_published_at_and_more.py
  integreat_cms/cms/migrations/0158_populate_first_published_at.py
  integreat_cms/cms/models/abstract_content_translation.py
  tests/cms/models/events/test_event_translation.py
Due: translations

Bugfix: Fix logout button being unresponsive
  integreat_cms/cms/templates/_base.html
  integreat_cms/release_notes/current/unreleased/4270.yml
Due: djlint-django, translations

Fetch tunews if cache is empty
  integreat_cms/news_managers/abstract_news_manager.py
  integreat_cms/news_managers/amalnews_manager.py
  integreat_cms/news_managers/tunews_manager.py
Due: translations

flake.nix: update inputs and scripts
  .gitignore
  flake.lock
  flake.nix
Due: none

Update documentation of commit c721c0d1a47be7fd9dfb86562cbab2e61fd75f22 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Improve missing Zammad ticket error handling
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/core/settings.py
  tests/api/test_api_chat.py
Due: translations

4300: Populate published_at in the test data and only backfill unset values in the migration. Renaming first_published_at to published_at.
  integreat_cms/api/v3/events.py
  integreat_cms/api/v3/locations.py
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0157_event_published_at_and_more.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_ar_pages.json
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_archived_descendants.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_de_page_1.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_events.json
  tests/api/expected-outputs/nurnberg_en_locations.json
  tests/cms/models/events/test_event_translation.py
  tests/cms/test_duplicate_regions.py
Due: translations

Fix release-note
  integreat_cms/release_notes/current/unreleased/3500.yml
Due: none

Refactor
  integreat_cms/cms/templates/_base.html
  integreat_cms/release_notes/current/unreleased/4270.yml
Due: djlint-django, translations

Bugfix: event filter location is greyed out (#4391)
  integreat_cms/cms/templates/ajax_poi_form/_base_poi_box.html
  integreat_cms/cms/templates/events/_event_filter_form.html
  integreat_cms/release_notes/current/unreleased/3500.yml
  integreat_cms/static/src/js/poi-box.ts
Due: djlint-django, eslint, translations

Update documentation of commit 5d37c4047151bc1fc1009807c2d843295544e36e [skip ci]
  continuous-integration.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 0e6b8f9a3be86810bc08ff15ab4616f690317868 [skip ci]
  documentation.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/integreat_cms.news_managers.html
  ref-ext/tests.api.html
  ref-ext/tests.news_managers.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/integreat_cms.news_managers.html
  ref/tests.api.html
  ref/tests.news_managers.html
  searchindex.js
Due: djlint-django, eslint, translations

Bugfix: Fix logout button being unresponsive (#4454)
  integreat_cms/cms/templates/_base.html
  integreat_cms/release_notes/current/unreleased/4270.yml
Due: djlint-django, translations

Update documentation of commit cd6a903f605a87f43a30c4799ba131865823b611 [skip ci]
  documentation.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/integreat_cms.news_managers.html
  ref-ext/tests.api.html
  ref-ext/tests.news_managers.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/integreat_cms.news_managers.html
  ref/tests.api.html
  ref/tests.news_managers.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 2ef283558c932d7121051d26db79d1936074de66 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

use get_link_query in inherit_ignore_within_region
  integreat_cms/cms/utils/link_ignore_preservation.py
  tests/cms/utils/test_internal_link_checker.py
Due: translations

ruff
  integreat_cms/cms/utils/link_ignore_preservation.py
Due: translations

Adopt latest change
  integreat_cms/core/settings.py
Due: translations

4300: Store published_at per translation instead of per content object
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/api/v3/locations.py
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0155_enforce_case_insensitive_slug_uniqueness.py
  integreat_cms/cms/migrations/0157_eventtranslation_published_at_and_more.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_ar_pages.json
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_archived_descendants.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_de_page_1.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_events.json
  tests/api/expected-outputs/nurnberg_en_locations.json
  tests/cms/models/events/test_event_translation.py
  tests/cms/test_duplicate_regions.py
Due: translations

Fix: phone numbers of contact cards appear in link list
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/release_notes/current/unreleased/4431.yml
  tests/cms/views/contacts/test_contact_utils.py
Due: translations

Update documentation of commit faecfbdf0cabfc44ba69ee9bd1a96efa25a6b942 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix broken links marked as valid when ancestor is not public
  integreat_cms/cms/utils/internal_link_checker.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4325.yml
Due: translations

chore: keep eslint, tailwindcss and maplibre-gl on current major versions
  package-lock.json
  package.json
Due: none

fix: use public lucide createIcons API
  integreat_cms/static/src/js/utils/create-icons.ts
Due: eslint

fix: set classic JSX runtime for Babel 8
  webpack.config.js
Due: eslint

fix: migrate flagpack configuration to the Sass module system
  integreat_cms/static/src/css/style.scss
Due: none

chore: ignore major updates of pinned frontend dependencies
  .github/dependabot.yml
Due: none

4300: Reset published_at for duplicated page translations regardless of keep_status
  integreat_cms/cms/forms/regions/region_form.py
Due: translations

4203: Remove SUMM AI code
  .devcontainer/devcontainer.json
  README.md
  docs/src/index.rst
  docs/src/management-commands.rst
  example-configs/integreat-cms.ini
  flake.nix
  integreat_cms/cms/constants/machine_translation_providers.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0157_remove_summ_ai.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/templatetags/base_filters.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/core/circleci_settings.py
  integreat_cms/core/context_processors.py
  integreat_cms/core/management/commands/reset_mt_budget.py
  integreat_cms/core/management/commands/summ_ai_bulk.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4203.yml
  integreat_cms/static/src/js/conditional-fields.ts
  integreat_cms/summ_ai_api/__init__.py
  integreat_cms/summ_ai_api/apps.py
  integreat_cms/summ_ai_api/summ_ai_api_client.py
  integreat_cms/summ_ai_api/summ_ai_provider.py
  integreat_cms/summ_ai_api/utils.py
  pyproject.toml
  tests/cms/test_duplicate_regions.py
  tests/cms/views/view_config.py
  tests/conftest.py
  tests/core/management/commands/test_summ_ai_bulk.py
  tests/pdf/conftest.py
  tests/summ_ai_api/__init__.py
  tests/summ_ai_api/summ_ai_test.py
  tests/summ_ai_api/utils.py
  tools/make_docs.sh
  tools/test.sh
Due: djlint-django, eslint, translations

Fix checkboxes in TinyMCE
  integreat_cms/release_notes/current/unreleased/4476.yml
  integreat_cms/static/src/css/oxide_fix.css
  integreat_cms/static/src/css/style.scss
Due: none

remove release note as bug not already in prod
  integreat_cms/release_notes/current/unreleased/4476.yml
Due: none

4203: Adjusted the release notes
  integreat_cms/release_notes/current/unreleased/4203.yml
Due: none

4203: Remove SUMM AI code (#4478)
  .devcontainer/devcontainer.json
  README.md
  docs/src/index.rst
  docs/src/management-commands.rst
  example-configs/integreat-cms.ini
  flake.nix
  integreat_cms/cms/constants/machine_translation_providers.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0157_remove_summ_ai.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/templatetags/base_filters.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/core/circleci_settings.py
  integreat_cms/core/context_processors.py
  integreat_cms/core/management/commands/reset_mt_budget.py
  integreat_cms/core/management/commands/summ_ai_bulk.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4203.yml
  integreat_cms/static/src/js/conditional-fields.ts
  integreat_cms/summ_ai_api/__init__.py
  integreat_cms/summ_ai_api/apps.py
  integreat_cms/summ_ai_api/summ_ai_api_client.py
  integreat_cms/summ_ai_api/summ_ai_provider.py
  integreat_cms/summ_ai_api/utils.py
  pyproject.toml
  tests/cms/test_duplicate_regions.py
  tests/cms/views/view_config.py
  tests/conftest.py
  tests/core/management/commands/test_summ_ai_bulk.py
  tests/pdf/conftest.py
  tests/summ_ai_api/__init__.py
  tests/summ_ai_api/summ_ai_test.py
  tests/summ_ai_api/utils.py
  tools/make_docs.sh
  tools/test.sh
Due: djlint-django, eslint, translations

Improve explanations for page based statistics
  example-configs/integreat-cms.ini
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations
