Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Chat: only send user messages to back end
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Update documentation of commit 0890cde3f2d4f6d174c8a9762c66fa1126e0de4d [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.api.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/tests.api.html
  searchindex.js
Due: djlint-django, eslint, translations

Delete region with Celery
  integreat_cms/cms/views/regions/region_actions.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/regions/delete_region.py
  tests/conftest.py
Due: translations

Add bulk delete to entries
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_list.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/events/event_actions.py
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3122.yml
  integreat_cms/static/src/js/bulk-actions.ts
  tests/cms/views/bulk_actions.py
  tests/cms/views/events/test_event_form.py
  tests/cms/views/language_nodes/test_language_tree_node_actions.py
  tests/cms/views/pages/test_page_actions.py
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, eslint, translations

Fix translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Add constraint for language tree node
  integreat_cms/cms/migrations/0131_languagetreenode_language_tree_node_inactive_requires_invisible.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2133.yml
  tests/cms/models/languages/test_language_tree_node.py
  tests/cms/views/view_config.py
Due: translations

Add documentation for debugging with VSCode
  docs/src/debugging.rst
Due: none

Fix source link and count in linkchecker
  integreat_cms/cms/utils/linkcheck_utils.py
Due: translations

Improve contact search for contact card insertion
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/release_notes/current/unreleased/3626.yml
Due: translations

Update documentation of commit 0dae941f14c986ed0c34aced68940b26461d3315 [skip ci]
  packaging.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix timeout during loading central linkchecker
  integreat_cms/cms/utils/linkcheck_utils.py
Due: translations

Update documentation of commit ac054bb9c26fa1c2cf32b9e6f8c1bad9ca3da109 [skip ci]
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.html
  searchindex.js
Due: djlint-django, eslint, translations

Allow app users to change chat language
  integreat_cms/api/v3/chat/user_chat.py
Due: translations

Fix test_find_missing_versions_failure
  tests/core/management/commands/test_find_missing_versions.py
Due: translations

Update documentation of commit 1669fb899b2f71fe185e55986b2665c3624d19b1 [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add management command to update link text
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/update_link_text.py
  tests/core/management/commands/test_update_link_text.py
Due: translations

Mark regions in cloning procedure with new status
  integreat_cms/cms/constants/region_status.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0130_alter_region_status.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/views/regions/region_update_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fix migration files #130
  integreat_cms/cms/migrations/0131_add_automatical_feedback_to_searchresultfeedback.py
Due: translations

Update documentation of commit 58db7e3f04dd8c615fc09e606b728bf236d073c7 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Hide currently_in_cloning in the form
  integreat_cms/static/src/js/regions/conditional-fields.ts
Due: eslint

Add option to archive push notifications
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/migrations/0132_archive_pushnotification.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/push_notifications/__init__.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_bulk_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/core/management/commands/send_push_notifications.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3588.yml
Due: djlint-django, translations

Attempt to fix issue with none existant other translation
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add event location link
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0133_event_online_link.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3194.yml
  integreat_cms/static/src/js/poi-box.ts
Due: djlint-django, eslint, translations

Exclude mobile phone numbers of contact from the link list
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/release_notes/current/unreleased/3668.yml
Due: translations

Separate archived and not-archived push notifications in the search suggestion
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/release_notes/current/unreleased/3679.yml
Due: djlint-django, translations

remove release note
  integreat_cms/release_notes/current/unreleased/3679.yml
Due: none

Add to documentation handling pyhon3.12
  docs/src/installation.rst
Due: none

Update documentation of commit 3e7c98477d058f920cb19be1a64c0bdcea3cfc82 [skip ci]
  debugging.html
  packaging.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/tests.core.management.commands.html
  ref/tests.html
  searchindex.js
Due: djlint-django, eslint, translations

Add page accesses model
  integreat_cms/cms/migrations/0133_add_page_accesses.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/statistics/__init__.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations
