Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Catch error when translating links into unsupprted languages
  integreat_cms/cms/utils/internal_link_utils.py
Due: translations

Change chat cache TTL & fix attributes cache
  integreat_cms/cms/utils/zammad.py
Due: translations

Update documentation of commit 30d8298af014a5f77cbc159637fd36fcda43d4eb [skip ci]
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add option to not translate title of content
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/migrations/0122_add_do_not_translate_title_field.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/templates/events/event_form_sidebar/minor_edit_box.html
  integreat_cms/cms/templates/pages/page_form_sidebar/minor_edit_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/minor_edit_box.html
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2311.yml
  tests/mt_api/mt_api_test.py
Due: djlint-django, translations

Hid eajax poi form if the contact/event is archived
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/release_notes/current/unreleased/3525.yml
Due: djlint-django, translations

Update documentation of commit 2608baa475c7d37d3b878ae269a9cbb3495e2c58 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add management command to update link text
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/update_link_text.py
  tests/core/management/commands/test_update_link_text.py
Due: translations

Fix migration
  integreat_cms/cms/migrations/0112_add_statistics_tutorial_seen_to_user.py
Due: translations

Add popup for information about page access statistics
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0111_add_statistics_tutorial_seen_to_user.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/generic_tutorial_dialog.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/tutorials/page_access_statistics.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/settings/dismiss_tutorial_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3132.yml
Due: djlint-django, translations

Chatbot typing indicator
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Update documentation of commit d61f935b8e7b5931312323f88c97cbbe09ddecc2 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/tests.api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add broken links to region condition
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templatetags/link_checker.py
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Small refactoring for search_content_ajax
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/static/src/js/media-management/library.tsx
Due: djlint-django, eslint, translations

Adjust test
  tests/cms/views/view_config.py
Due: translations

Add pages with partial translation to region condition
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templatetags/pages_outdated_or_missing_translation.py
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

adjust test 2
  tests/cms/views/view_config.py
Due: translations

Update/freeze dependencies
  dependabot.yml
  package-lock.json
  package.json
Due: none

Remove Chat body attribute
  integreat_cms/cms/utils/zammad.py
Due: translations

Add opening hours to contacts
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0123_contact_opening_hours.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/utils.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix translation status for archived POI
  integreat_cms/cms/templates/pois/poi_list_archived.html
  integreat_cms/cms/templates/pois/poi_list_archived_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Refactor translation API clients
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/word_count.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/summ_ai_api/summ_ai_api_client.py
Due: translations

Do not count excluded content attributes towards translation budget
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/word_count.py
  tests/mt_api/utils.py
Due: translations

Fix checks
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

use same calculation for word_count in backend and in user message
  integreat_cms/cms/constants/machine_translatable_attributes.py
  integreat_cms/cms/templates/_machine_translation_overlay.html
  integreat_cms/cms/views/utils/machine_translations.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Merge page_tree_archived into page_tree
  integreat_cms/cms/templates/pages/_generic_page_tree_header.html
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/_page_tree_children.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_archived.html
  integreat_cms/cms/templates/pages/page_tree_archived_node.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/templates/statistics/_statistics_legend_item.html
  integreat_cms/cms/templates/statistics/statistics_chart.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/statistics/__init__.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/tree-drag-and-drop.ts
  package-lock.json
  package.json
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Manually merge #3491 into the branch
  integreat_cms/cms/templates/pages/pages_page_tree.html
Due: djlint-django, translations

Fix error at xliff upload
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3166.yml
  integreat_cms/static/src/js/pages/xliff-file-upload.ts
Due: djlint-django, eslint, translations

Update documentation of commit 1acc9b84fab646321e2ead42b194782dd75efb48 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 1acc9b84fab646321e2ead42b194782dd75efb48 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Explicitely configure trusted source IP header
  integreat_cms/api/decorators.py
  integreat_cms/core/settings.py
  tests/api/test_api_chat.py
Due: translations

add archive_contact permission
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/migrations/0123_add_archive_contact_permission.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  tests/cms/views/contacts/test_contact_actions.py
Due: djlint-django, translations

Add release note
  integreat_cms/release_notes/current/unreleased/3130.yml
Due: none

Update release note
  integreat_cms/release_notes/current/unreleased/3130.yml
Due: none

Refactor linkcheck utils and exclude broken links from archived regions
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/contacts/contact_from_existing_data.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/core/management/commands/fix_internal_links.py
  integreat_cms/release_notes/current/unreleased/3458.yml
Due: djlint-django, translations

Update integreat_cms/cms/views/utils/machine_translations.py
  integreat_cms/cms/views/utils/machine_translations.py
Due: translations

Add flag when feedback has been automatically send
  integreat_cms/api/v3/feedback/search_result_feedback.py
  integreat_cms/cms/migrations/0121_add_automatical_feedback_to_searchresultfeedback.py
  integreat_cms/cms/models/feedback/search_result_feedback.py
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/admin_feedback_list_row.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

only show MT-button if user has publish rights for a page
  integreat_cms/cms/forms/pages/page_translation_form.py
  integreat_cms/cms/views/pages/page_context_mixin.py
  tests/mt_api/test_mt_button_visibility.py
Due: translations
