Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit 80db27b636f94626c56a6f08a7ff7454c772e626 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Attempt to fix issue with none existant other translation
  integreat_cms/cms/views/pages/page_form_view.py
Due: translations

Fix migration order
  integreat_cms/cms/migrations/0114_rename_point_of_contact_for.py
Due: translations

Fix patching Zammad API function
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Update documentation of commit 3226722c323450302156dc0a5613bea019c91f84 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix console error for long term events
  integreat_cms/static/src/js/event-duration.ts
Due: eslint

Update documentation of commit a13857fb3cce075c3877d722af1df2db4fd5c24c [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

adjust expected sitemap for long term events
  integreat_cms/cms/fixtures/test_data.json
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
  tests/sitemap/expected-sitemaps/sitemap-augsburg-en.xml
Due: none

change test-veranstaltung to wöchentliche-veranstaltung for link checker tests
  tests/cms/utils/test_internal_link_checker.py
Due: translations

Fix hix calculation for contact card on empty page
  integreat_cms/cms/templates/contacts/contact_card.html
  tests/cms/views/utils/test_hix.py
Due: djlint-django, translations

Update documentation of commit 3335cacb659962e63d44ae8f2a4627cd3fdce3a0 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix live content in page preview
  integreat_cms/cms/forms/pages/mirrored_page_field_widget.py
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/views/pages/page_actions.py
Due: translations

Update documentation of commit 47973e8ce82e2fb54df9b1595cd30720c024ef5a [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix recurrence end date
  integreat_cms/cms/views/events/event_form_view.py
Due: translations

Add X-Integreat-Development header
  integreat_cms/api/decorators.py
Due: translations

Update documentation of commit 5a46eb03aa18a2b15eac69d023109fc5a15c06de [skip ci]
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Check if Integreat Development Header is set for requests
  integreat_cms/api/decorators.py
Due: translations

Update documentation of commit 273ffc837a89e353ed32e195215aa6444552eb42 [skip ci]
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.feedback.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.media.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.feedback.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.media.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Move automatically saved note
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/release_notes/current/unreleased/3327.yml
Due: djlint-django, translations

rename test events and update test sitemaps
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_filter_form.py
  tests/cms/utils/test_internal_link_checker.py
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
  tests/sitemap/expected-sitemaps/sitemap-augsburg-en.xml
Due: translations

fix url count
  tests/cms/test_duplicate_regions.py
Due: translations

Update integreat_cms/release_notes/current/unreleased/3379.yml
  integreat_cms/release_notes/current/unreleased/3379.yml
Due: none

Fix typo in imprint form
  integreat_cms/cms/templates/imprint/imprint_form.html
Due: djlint-django, translations

Add management command to update link text
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/update_link_text.py
  tests/core/management/commands/test_update_link_text.py
Due: translations

Fix spacing of start and end date in event
  integreat_cms/cms/templates/events/event_form_sidebar/date_and_time_box.html
Due: djlint-django, translations

Improve view for xl and 2xl
  integreat_cms/cms/templates/events/event_form_sidebar/date_and_time_box.html
Due: djlint-django, translations

Update documentation of commit b28f58d53f0a1bffbcad60f40066debeace79a2e [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Reject all daily eventy in import
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/core/management/commands/test_import_events.py
Due: translations

Add tests for contact cards
  integreat_cms/cms/utils/content_utils.py
  tests/cms/views/contacts/test_contact_utils.py
Due: translations

Update documentation of commit a6e3a8fdee6d5ae80a549db800648cb346e753e4 [skip ci]
  packaging.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix missing dashes for all list views
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/feedback/admin_feedback_list_row.html
  integreat_cms/cms/templates/feedback/region_feedback_list_row.html
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/offertemplates/offertemplate_list_row.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/templates/users/user_list_row.html
  integreat_cms/release_notes/current/unreleased/3397.yml
Due: djlint-django, translations

Suggest users potential contacts
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/templates/contacts/contact_from_email_and_phone.html
  integreat_cms/cms/templates/contacts/contact_from_email_and_phone_row.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/utils/link_utils.py
  integreat_cms/cms/views/contacts/__init__.py
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/contacts/contact_from_existing_data.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/contact_card.css
Due: djlint-django, translations

Update documentation of commit 569e436aaa6d022240ddcfe5286bcdff25c15ef1 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 9faf08f4be18cd4272e5ad4a0b1e396995520971 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.utils.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Hide contact links and contact cards from the linkchecker
  integreat_cms/cms/utils/linkcheck_utils.py
  tests/cms/test_duplicate_regions.py
Due: translations

Finalize permissions
  integreat_cms/cms/constants/roles.py
  integreat_cms/release_notes/current/unreleased/2955.yml
  tests/cms/views/contacts/test_contact_actions.py
  tests/cms/views/contacts/test_contact_form.py
  tests/cms/views/poi/test_poi_form.py
Due: translations

Update documentation of commit 3ebe4982927fa09c0fce611c31ab5ed41050f1ee [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.utils.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.utils.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit fcad316e53cc7c4b5d847a26500b5b80714a7fb7 [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.html
  searchindex.js
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
