Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Add bulk delete to entries
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_list.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/events/event_actions.py
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3122.yml
  integreat_cms/static/src/js/bulk-actions.ts
  tests/cms/views/bulk_actions.py
  tests/cms/views/events/test_event_form.py
  tests/cms/views/language_nodes/test_language_tree_node_actions.py
  tests/cms/views/pages/test_page_actions.py
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, eslint, translations

Add change request
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

count overall successful/failed replacements
  integreat_cms/core/management/commands/change_to_svg.py
Due: translations

use raw CTEs to figure out full path
  integreat_cms/core/management/commands/change_to_svg.py
Due: translations

fix forgotten variable rename and ruff
  integreat_cms/core/management/commands/bulk_replace_page_icons.py
Due: translations

Script for SVG
  integreat_cms/core/management/commands/change_to_svg.py
Due: translations

Fix checks
  integreat_cms/core/management/commands/bulk_replace_page_icons.py
Due: translations

WIP
  integreat_cms/core/management/commands/bulk_replace_page_icons.py
Due: translations

Copy pois
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pois/__init__.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3270.yml
Due: djlint-django, translations

Move copy to AbstractContentModel
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Suppress mypy type for model.pk
  tests/cms/utils/test_repair_tree.py
Due: translations

Rename online_link to meeting_url, add exclusivity constraint with location
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0139_rename_online_link_event_meeting_url.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_en_events.json
Due: djlint-django, translations

clear hidden input on submit
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/static/src/js/events/conditional-fields.ts
Due: djlint-django, eslint, translations

add filter for events
  integreat_cms/cms/forms/events/event_filter_form.py
  integreat_cms/cms/templates/events/_event_filter_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add management command to copy pois
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/copy_pois.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/core/management/commands/test_copy_pois.py
Due: translations

Refactor clean method in region_form
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Improve messsage of the search & replace of links
  integreat_cms/cms/forms/linkcheck/link_replace_form.py
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/linkcheck/link_replace_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3721.yml
Due: translations

Add migration to make inactive visible nodes invisible
  integreat_cms/cms/migrations/0135_languagetreenode_language_tree_node_inactive_requires_invisible.py
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/cache_signals.py
Due: translations

tests: alternative way to check messages in HTML to make diffs more readable
  tests/cms/views/poi_categories/test_poi_category_form_view.py
  tests/utils.py
Due: translations

Fix TypeError
  integreat_cms/core/signals/cache_signals.py
Due: translations

Comment out cc-test-reporter
  .circleci/config.yml
Due: none

change config
  .circleci/config.yml
Due: none

use orb
  .circleci/config.yml
Due: none

fix ruff
  .circleci/config.yml
Due: none

correct orb
  .circleci/config.yml
Due: none

let linkcheck run inline
  integreat_cms/cms/linklists.py
  integreat_cms/core/management/commands/loaddata.py
Due: translations

Refactoring for search_content_ajax
  integreat_cms/cms/models/abstract_base_model.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/models/utils.py
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/static/src/js/media-management/library.tsx
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Option to activate contacts
  docs/src/api-docs.rst
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0139_region_contacts_enabled.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  tests/api/expected-outputs/regions.json
  tests/api/expected-outputs/regions_augsburg.json
  tests/api/expected-outputs/regions_berlin.json
  tests/api/expected-outputs/regions_nurnberg.json
  tests/cms/models/contacts/test_contacts.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_api_test.py
  tests/sitemap/expected-sitemaps/sitemap-index.xml
Due: djlint-django, eslint, translations

restrict restoring pages to users that have publishing permissions
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/page_form_sidebar/actions_box.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/__init__.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pages/page_bulk_actions.py
  integreat_cms/release_notes/current/unreleased/3512.yml
  tests/cms/views/view_config.py
Due: djlint-django, translations

3804: Remove grey background from poi category icons
  integreat_cms/static/src/svg/poi-category-icons/advice.svg
  integreat_cms/static/src/svg/poi-category-icons/culture.svg
  integreat_cms/static/src/svg/poi-category-icons/daily_routine.svg
  integreat_cms/static/src/svg/poi-category-icons/education.svg
  integreat_cms/static/src/svg/poi-category-icons/finance.svg
  integreat_cms/static/src/svg/poi-category-icons/gastronomy.svg
  integreat_cms/static/src/svg/poi-category-icons/health.svg
  integreat_cms/static/src/svg/poi-category-icons/house.svg
  integreat_cms/static/src/svg/poi-category-icons/leisure.svg
  integreat_cms/static/src/svg/poi-category-icons/media.svg
  integreat_cms/static/src/svg/poi-category-icons/medical_aid.svg
  integreat_cms/static/src/svg/poi-category-icons/meeting_point.svg
  integreat_cms/static/src/svg/poi-category-icons/mental_health.svg
  integreat_cms/static/src/svg/poi-category-icons/mobility.svg
  integreat_cms/static/src/svg/poi-category-icons/office.svg
  integreat_cms/static/src/svg/poi-category-icons/other.svg
  integreat_cms/static/src/svg/poi-category-icons/other_help.svg
  integreat_cms/static/src/svg/poi-category-icons/service.svg
  integreat_cms/static/src/svg/poi-category-icons/shelter.svg
  integreat_cms/static/src/svg/poi-category-icons/shopping.svg
  integreat_cms/static/src/svg/poi-category-icons/structure.svg
Due: none

3804: Make poi category svg color configurable
  integreat_cms/static/src/svg/poi-category-icons/advice.svg
  integreat_cms/static/src/svg/poi-category-icons/culture.svg
  integreat_cms/static/src/svg/poi-category-icons/daily_routine.svg
  integreat_cms/static/src/svg/poi-category-icons/education.svg
  integreat_cms/static/src/svg/poi-category-icons/finance.svg
  integreat_cms/static/src/svg/poi-category-icons/gastronomy.svg
  integreat_cms/static/src/svg/poi-category-icons/health.svg
  integreat_cms/static/src/svg/poi-category-icons/house.svg
  integreat_cms/static/src/svg/poi-category-icons/leisure.svg
  integreat_cms/static/src/svg/poi-category-icons/media.svg
  integreat_cms/static/src/svg/poi-category-icons/medical_aid.svg
  integreat_cms/static/src/svg/poi-category-icons/meeting_point.svg
  integreat_cms/static/src/svg/poi-category-icons/mental_health.svg
  integreat_cms/static/src/svg/poi-category-icons/mobility.svg
  integreat_cms/static/src/svg/poi-category-icons/office.svg
  integreat_cms/static/src/svg/poi-category-icons/other.svg
  integreat_cms/static/src/svg/poi-category-icons/other_help.svg
  integreat_cms/static/src/svg/poi-category-icons/service.svg
  integreat_cms/static/src/svg/poi-category-icons/shelter.svg
  integreat_cms/static/src/svg/poi-category-icons/shopping.svg
  integreat_cms/static/src/svg/poi-category-icons/structure.svg
Due: none

move show_actions_box logic to get_context_data in page_form_view
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/views/pages/page_form_view.py
Due: djlint-django, translations

Update integreat_cms/release_notes/current/unreleased/3512.yml
  integreat_cms/release_notes/current/unreleased/3512.yml
Due: none

skip permission check if no page instance is found
  integreat_cms/cms/views/pages/page_form_view.py
Due: translations
