Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Update documentation of commit 9876cbaa46359e164f00a7b8c6b92f4026f09d4b [skip ci]
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Make eslint happy
  integreat_cms/static/src/js/forms/update-permalink.ts
Due: eslint

Remove links in the past events from the link list
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/release_notes/current/unreleased/3889.yml
Due: translations

move search and suggest logic to mixin
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/models/mixins.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/search/suggest.py
  integreat_cms/cms/views/search/search_suggest.py
  integreat_cms/cms/views/search/utils.py
  tests/cms/search/test_suggest.py
Due: translations

Update integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint

Apply suggestion
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint

Update integreat_cms/release_notes/current/unreleased/4017.yml
  integreat_cms/release_notes/current/unreleased/4017.yml
Due: none

Remove excess bracket
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint

Fix: cannot insert link without selecting text
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint

Update integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/forms/tinymce-init.ts
Due: eslint

Avoid marking the entire paragraph as DNT
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint

Fix do-not-translate- and link are mutally exclusive
  integreat_cms/release_notes/current/unreleased/4017.yml
  integreat_cms/static/src/js/forms/tinymce-init.ts
Due: eslint

Remove MT_BUDGET_BUFFER
  integreat_cms/core/settings.py
Due: translations

Allow updating news after scheduled push notification was sent
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3373.yml
Due: translations

Raise max page size from 100 to 500 to match pagination UI options
  integreat_cms/cms/views/mixins.py
  integreat_cms/release_notes/current/unreleased/4140.yml
Due: translations

Validate event dates within ISO 8601 range (1583-9999)
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/release_notes/current/unreleased/3999.yml
  tests/cms/views/events/test_event_form.py
Due: translations

Update documentation of commit 1af7c88734bda3714721a996f9526ce7efb6ea6e [skip ci]
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.poi_categories.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.poi_categories.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 89fffd578e5407be9d64c46e3255ca14ccb6c058 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Change geocoding error to orange warning with clearer message
  integreat_cms/cms/templates/pois/poi_form_sidebar/position_box.html
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add release note for #3774
  integreat_cms/release_notes/current/unreleased/3774.yml
Due: none

Fix vanishing indicator and speed up endpoint
  integreat_cms/cms/views/media/media_actions.py
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/directory-content-library.tsx
  integreat_cms/static/src/js/media-management/filter-result-library.tsx
  integreat_cms/static/src/js/media-management/index.tsx
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/media-management/search-result-library.tsx
Due: eslint, translations

Create Management Command
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/core/management/commands/make_slugs_unique.py
Due: translations

Add ASGI support #4074
  integreat_cms/core/asgi.py
  integreat_cms/release_notes/current/unreleased/4074.yml
  pyproject.toml
Due: translations

server side sorting
  ADR/0002-server-side-sorting-for-list-views.md
  integreat_cms/cms/templates/_sortable_table_header.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/search_input_form.html
  integreat_cms/cms/templatetags/sort_tags.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/mixins.py
  integreat_cms/cms/views/pois/poi_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3880.yml
Due: djlint-django, translations

Update documentation of commit 01c12121860eee1c4049baac47b9b96d41d6b561 [skip ci]
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix URL replacement not working for percent-encoded URLs (#4129)
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/release_notes/current/unreleased/4129.yml
  tests/cms/views/link_replace/test_link_actions.py
Due: translations

Limit contact card URL length in TinyMCE
  integreat_cms/release_notes/current/unreleased/3791.yml
  integreat_cms/static/src/css/contact_card.css
Due: none

Update documentation of commit 395d06cd088884c4eaf9e498237ae45dd8e92bb1 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Rename contact opening hours to office hours
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0146_alter_contact_opening_hours.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/contact_card.css
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  tests/cms/views/contacts/test_contact_utils.py
Due: djlint-django, eslint, translations

Fix do-not-translate- and link are mutally exclusive
  integreat_cms/cms/migrations/0149_alter_contact_opening_hours.py
  integreat_cms/release_notes/current/unreleased/4017.yml
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint, translations

Update documentation of commit e1e56c39ff80af698d207121cc9c0a237125d1cd [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix changing slug if title not changed
  integreat_cms/static/src/js/forms/update-permalink.ts
Due: eslint
