Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

serve full urls instead of relative paths in api
  integreat_cms/cms/utils/shortcodes/page.py
  tests/api/test_api_shortcodes.py
  tests/cms/utils/test_shortcodes.py
Due: translations

refactor shortcodes and link_shortcode_utils into EditableShortcode registry
  integreat_cms/api/v3/raw_content.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/internal_link_utils.py
  integreat_cms/cms/utils/link_shortcode_utils.py
  integreat_cms/cms/utils/shortcodes/__init__.py
  integreat_cms/cms/utils/shortcodes/base.py
  integreat_cms/cms/utils/shortcodes/contact.py
  integreat_cms/cms/utils/shortcodes/internal_link.py
  integreat_cms/cms/utils/shortcodes/page.py
  integreat_cms/cms/utils/shortcodes/utils.py
  integreat_cms/core/utils/machine_translation_api_client.py
  tests/cms/utils/test_link_shortcodes.py
  tests/cms/utils/test_shortcode_registry.py
  tests/cms/utils/test_shortcodes.py
Due: translations

update translation file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Filter for current translations by slug only
  integreat_cms/cms/utils/internal_link_utils.py
  tests/core/management/commands/test_fix_internal_links.py
Due: translations

Update documentation of commit 201849c170f5bb244e4f56080e8e108afc143b47 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.cms.views.status_code.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.cms.views.status_code.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit cae32c928ed2cc8e82a52c556ef4a4fc85c0f55b [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix merge conflicts
  integreat_cms/cms/forms/linkcheck/edit_url_form.py
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/url_tags.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

2908: Replace xhtml2pdf
  .circleci/config.yml
  README.md
  docs/src/conf.py
  docs/src/frontend-bundling.rst
  docs/src/installation.rst
  docs/src/prod-server.rst
  example-configs/integreat-cms.ini
  flake.nix
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/cms/utils/pdf_utils.py
  integreat_cms/core/settings.py
  integreat_cms/release_notes/current/unreleased/2908.yml
  integreat_cms/static/src/css/pdf_page_export.css
  integreat_cms/static/src/fonts/dejavu-sans/dejavu-sans-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef.css
  integreat_cms/static/src/fonts/noto-sans-ethiopic/noto-sans-ethiopic-pdf.css
  integreat_cms/static/src/fonts/noto-sans-georgian/noto-sans-georgian-pdf.css
  integreat_cms/static/src/fonts/noto-sans-sc/noto-sans-sc-pdf.css
  integreat_cms/static/src/fonts/open-sans/open-sans-pdf.css
  integreat_cms/static/src/fonts/raleway/raleway-pdf.css
  pyproject.toml
  tests/pdf/test_pdf_export.py
  tools/docker/Dockerfile.test
Due: djlint-django, translations

Add PageTranslations index to improve join speed
  integreat_cms/cms/migrations/0162_index_pgtranslation_slug.py
  integreat_cms/cms/models/pages/page_translation.py
Due: translations

Improve link source column
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/templatetags/link_checker.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

4348: Remove expert mode setting
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/fixtures/test_users.json
  integreat_cms/cms/forms/users/region_user_form.py
  integreat_cms/cms/forms/users/user_form.py
  integreat_cms/cms/migrations/0161_remove_user_expert_mode.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/hix_widget.html
  integreat_cms/cms/templates/imprint/imprint_form.html
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/page_form_sidebar/settings_box.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/templates/users/region_user_form.html
  integreat_cms/cms/templates/users/user_form.html
  integreat_cms/cms/views/media/media_context_mixin.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4348.yml
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/index.tsx
  integreat_cms/static/src/js/media-management/library.tsx
Due: djlint-django, eslint, translations

4348: Updated the migration number
  integreat_cms/cms/migrations/0162_remove_user_expert_mode.py
Due: translations

4348: Remove expert mode setting (#4529)
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/fixtures/test_users.json
  integreat_cms/cms/forms/users/region_user_form.py
  integreat_cms/cms/forms/users/user_form.py
  integreat_cms/cms/migrations/0162_remove_user_expert_mode.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/hix_widget.html
  integreat_cms/cms/templates/imprint/imprint_form.html
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/page_form_sidebar/settings_box.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/templates/users/region_user_form.html
  integreat_cms/cms/templates/users/user_form.html
  integreat_cms/cms/views/media/media_context_mixin.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4348.yml
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/index.tsx
  integreat_cms/static/src/js/media-management/library.tsx
Due: djlint-django, eslint, translations

2908: Fix indentation levels and fixtures
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/static/src/css/pdf_page_export.css
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf
  tests/pdf/test_pdf_export.py
Due: djlint-django, translations

Improve PDF performance
  integreat_cms/cms/utils/pdf_utils.py
  tests/pdf/test_pdf_export.py
Due: translations

Support file attachments in Frag Integreat
  integreat_cms/api/urls.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  integreat_cms/core/settings.py
Due: translations

Improvements
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  integreat_cms/core/settings.py
Due: translations

Remove accidentally committed PDF
  Integreat - Deutsch - Augsburg.pdf
Due: none

Update translation state to MACHINE_TRANSLATED when an outdated translation is machine translated without changes
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4320.yml
  tests/mt_api/mt_api_test.py
Due: translations

Exclude historical slugs in raw content and social media header endpoints
  integreat_cms/cms/utils/internal_link_utils.py
  tests/api/test_api_raw_content.py
Due: translations

2772: Added tests for import pois from csv
  tests/core/management/commands/assets/pois_to_import.csv
  tests/core/management/commands/test_import_pois_from_csv.py
Due: translations

2772: Added tests for import pois from csv (#4534)
  tests/core/management/commands/assets/pois_to_import.csv
  tests/core/management/commands/test_import_pois_from_csv.py
Due: translations

Update documentation of commit 72604df3a335d441cd181f515b1ee700ae3a64ef [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  genindex.html
  objects.inv
  py-modindex.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.core.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.core.management.html
  ref-ext/tests.html
  ref/integreat_cms.core.html
  ref/tests.core.html
  ref/tests.core.management.commands.html
  ref/tests.core.management.html
  ref/tests.html
  searchindex.js
Due: djlint-django, eslint, translations

Update dependencies, remove unused packages
  eslint.config.mjs
  integreat_cms/static/src/types/index.d.ts
  package-lock.json
  package.json
  vitest.config.mts
Due: eslint

Allow `maplibre-gl` updates from dependabot again
  .github/dependabot.yml
Due: none

Update Python dependencies
  pyproject.toml
Due: none

Allow some npm build scripts
  package.json
Due: none

Update NPM dependency `maplibre-gl`
  integreat_cms/static/src/js/pois/poi-map.ts
  package-lock.json
  package.json
  webpack.config.js
Due: eslint

Fix new mypy errors
  docs/src/conf.py
  tests/cms/models/contacts/test_contacts.py
  tests/cms/test_login.py
  tests/cms/utils/test_cancel_translation.py
  tests/cms/utils/test_slug_utils.py
  tests/cms/views/bulk_actions.py
  tests/cms/views/contacts/test_contact_actions.py
  tests/cms/views/contacts/test_contact_form.py
  tests/cms/views/contacts/test_contact_utils.py
  tests/cms/views/events/test_event_form.py
  tests/cms/views/language_nodes/test_language_tree_node_actions.py
  tests/cms/views/link_replace/test_link_actions.py
  tests/cms/views/organizations/test_organization_actions.py
  tests/cms/views/organizations/test_organization_form.py
  tests/cms/views/pages/test_page_actions.py
  tests/cms/views/pages/test_page_form.py
  tests/cms/views/poi/test_poi_form.py
  tests/cms/views/push_notifications/test_push_notification_form_view.py
  tests/cms/views/utils/test_hix.py
  tests/conftest.py
  tests/core/management/commands/test_duplicate_pages.py
  tests/core/management/commands/test_hix_bulk.py
  tests/core/management/commands/test_send_push_notifications.py
  tests/firebase_api/test_firebase_api_client.py
  tests/firebase_api/test_firebase_data_client.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
  tests/mt_api/mt_provider_assignment_test.py
  tests/textlab_api/textlab_api_test.py
  tests/xliff/xliff_test.py
Due: translations

Fix `make_docs.sh` errors
  package-lock.json
  package.json
  tools/npm/markOrphan.ts
  tools/npm/tsconfig.json
Due: eslint

Fix new ruff errors
  integreat_cms/cms/utils/pdf_utils.py
  integreat_cms/news_managers/abstract_news_manager.py
  pyproject.toml
Due: translations

refactoring: move shortcode helper functions to conversion and registry modules
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/shortcodes/__init__.py
  integreat_cms/cms/utils/shortcodes/base.py
  integreat_cms/cms/utils/shortcodes/contact.py
  integreat_cms/cms/utils/shortcodes/conversion.py
  integreat_cms/cms/utils/shortcodes/page.py
  integreat_cms/cms/utils/shortcodes/registry.py
  tests/cms/utils/test_link_shortcodes.py
Due: translations

Fix the wrong migration numbering
  integreat_cms/cms/migrations/0163_remove_user_expert_mode.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
