Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

WIP required/optional kwargs (TODO: ts set methods not recognized → update ts + node?)
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP fix arguments
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP add comments describing methods
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP explicit arg getters
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP introduce symbol to define acceppting arbitrary arguments
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP fix other languages, cache population
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
Due: eslint

WIP uh I forgot
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/css/tinymce_custom_content_styles.css
  integreat_cms/static/src/css/tinymce_ui_overrides.scss
  integreat_cms/static/src/editor_content.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP fix parsing, handle unknown shortcode
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/shortcodes.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP fix overwriting add/edit/remove things after object creation
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP fix toolbar
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP enable polyfills from new ecma specs
  tsconfig.json
Due: none

WIP display argument names and descriptions
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP better preview
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/static/src/css/tinymce_custom_content_styles.css
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: djlint-django, eslint, translations

WIP finished proper page data cache
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP: make old link plugin not pop up toolbar for page links
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/utils/url-tools.ts
Due: eslint

WIP
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/shortcodes.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
  integreat_cms/static/src/js/tinymce-plugins/tinymce.d.ts
Due: eslint

WIP fix kwargs handling, disable add/remove buttons accordingly
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/shortcodes.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP fix dynamically adding/removing arguments
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

draft shortcode integration into tinymce
  integreat_cms/static/src/editor_content.ts
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/plugin.js
Due: eslint

WIP: add page shortcode UI
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/models/utils.py
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: djlint-django, eslint, translations

WIP fix some kwarg stuff
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.js
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
Due: eslint

WIP adjust tooltip texts for page shortcode
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
Due: eslint

WIP shortcodes
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/contact.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/shortcodes.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
  integreat_cms/static/src/js/utils/caching-functions.ts
Due: eslint

WIP hint at unimplemented lang kwarg
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
Due: eslint

WIP refresh preview nodes after fetching page metadata
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/page.ts
  integreat_cms/static/src/js/tinymce-plugins/shortcodes/utils.ts
  integreat_cms/static/src/js/utils/debounce.ts
Due: eslint

Fix machine translation when page content is cleared
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/release_notes/current/unreleased/4277.yml
  tests/mt_api/mt_api_test.py
Due: translations

Update integreat_cms/cms/templates/dashboard/_public_chat_stats.html
  integreat_cms/cms/templates/dashboard/_public_chat_stats.html
Due: djlint-django, translations

Keep draft pages selected as live content if they have already been embedded
  integreat_cms/cms/forms/pages/mirrored_page_field_widget.py
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/migrations/0154_cleanup_mirrored_pages.py
Due: translations

Add Frag Integreat per language statistics (#4185)
  integreat_cms/cms/templates/dashboard/_public_chat_stats.html
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit f4b2f041ce86397e8d7ebceef1a86a28c85ee041 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.languages.html
  ref-ext/integreat_cms.cms.models.pages.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/integreat_cms.summ_ai_api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.pages.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.core.html
  ref/integreat_cms.summ_ai_api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Increase PDF link text truncation limit from 50 to 80 characters
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/release_notes/current/unreleased/4275.yml
Due: djlint-django, translations

Fix existing translations incorrectly marked as outdated after MT into new language
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/release_notes/current/unreleased/4254.yml
  integreat_cms/release_notes/current/unreleased/4284.yml
Due: translations

Update documentation of commit 2471736ad38aaf6c024ba80d2dddc43aaccb1be7 [skip ci]
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pages.html
  ref-ext/integreat_cms.cms.forms.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pages.html
  ref/integreat_cms.cms.forms.pois.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

circleci: fix still broken release notes because of non-existing $RELEASE_NOTES_DIR – no clue where I copied that from
  .circleci/config.yml
Due: none

release notes: manually move to 2026.5.0 after the fact
  integreat_cms/release_notes/2026/2026.5.0/1936.yml
  integreat_cms/release_notes/2026/2026.5.0/3249.yml
  integreat_cms/release_notes/2026/2026.5.0/4128.yml
  integreat_cms/release_notes/2026/2026.5.0/4133.yml
  integreat_cms/release_notes/2026/2026.5.0/4187.yml
  integreat_cms/release_notes/2026/2026.5.0/4220.yml
Due: none

release notes: add release note for fix release 2026.5.1 after the fact
  integreat_cms/release_notes/2026/2026.5.1/4272.yml
Due: none

Pupulate id of event and event translation in events endpoint
  integreat_cms/api/v3/events.py
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_en_events.json
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
