Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

improve tests for search-suggest to check exact matches
  tests/cms/search/test_suggest.py
Due: translations

ruff
  integreat_cms/cms/forms/object_search_form.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/search/matchers.py
  integreat_cms/cms/search/search_fields.py
  integreat_cms/cms/search/suggest.py
  integreat_cms/cms/search/tokenize.py
Due: translations

update docstrings
  integreat_cms/cms/views/search/search_suggest.py
Due: translations

move search_content_ajax to search module
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/search/__init__.py
  integreat_cms/cms/views/search/search_content_ajax.py
  integreat_cms/cms/views/utils/__init__.py
Due: translations

update docstring for suggest_tokens_for_model
  integreat_cms/cms/search/suggest.py
Due: translations

remove debugging console logs
  integreat_cms/static/src/js/search-query.ts
Due: eslint

add location search fields
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/search/search_fields.py
Due: translations

revert changes to existing endpoints, fix linters, update docstrings
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/mixins.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/search/__init__.py
  integreat_cms/cms/search/matchers.py
  integreat_cms/cms/search/scorer.py
  integreat_cms/cms/search/search_fields.py
  integreat_cms/cms/search/suggest.py
  integreat_cms/cms/search/tokenize.py
  integreat_cms/cms/search/tokenizer.py
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/search/__init__.py
  integreat_cms/cms/views/search/search_suggest.py
  integreat_cms/cms/views/search/utils.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/search_content_ajax.py
Due: translations

refactor get_model_cls_from_object_type
  integreat_cms/cms/search/suggest.py
  integreat_cms/cms/views/search/search_content_ajax.py
  integreat_cms/cms/views/search/search_suggest.py
  integreat_cms/cms/views/search/utils.py
  integreat_cms/static/src/js/search-query.ts
Due: eslint, translations

Copy appointment_url from POI to primary contact on save
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/release_notes/current/unreleased/4135.yml
Due: translations

Limit contact card URL length in TinyMCE
  integreat_cms/static/src/css/contact_card.css
Due: none

Add release note for #3791
  integreat_cms/release_notes/current/unreleased/3791.yml
Due: none

handle JSON decode error gracefully and add comments
  integreat_cms/cms/search/suggest.py
  integreat_cms/cms/views/search/search_suggest.py
Due: translations

search fields for user and organization
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/search/search_fields.py
Due: translations

search fields for feedback, push notification and region
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/search/search_fields.py
Due: translations

search fields for language
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/search/search_fields.py
Due: translations

Exclude draft pages from page statistics
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
Due: translations

Update documentation of commit fdc3d23e550ea22fc482e1260a2e539bdaa8e5d7 [skip ci]
  ref-ext/integreat_cms.cms.models.feedback.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.models.feedback.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Log for dry run
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Update integreat_cms/release_notes/current/unreleased/4050.yml
  integreat_cms/release_notes/current/unreleased/4050.yml
Due: none

Make primary contact only editable by the contact fields if user is in POI form
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/views/contacts/contact_form_ajax_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4050.yml
  integreat_cms/static/src/js/ajax-contact-form.ts
Due: djlint-django, eslint, translations

add missing URL path
  integreat_cms/cms/urls/protected.py
Due: translations

fix docstring to work with automatic documentation
  integreat_cms/cms/search/search_fields.py
Due: translations

Delegate slug uniqueness to PageTranslation.save()
  integreat_cms/core/management/commands/duplicate_pages.py
Due: translations

Add dynamic recalculation when pages are expanded
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/pages/toggle-subpages.ts
Due: eslint, translations

add region filtering
  integreat_cms/cms/search/suggest.py
  integreat_cms/cms/views/search/search_suggest.py
  integreat_cms/cms/views/search/utils.py
  tests/cms/views/search/test_search_suggest.py
Due: translations

Upgrade to Django 5.2 & support Python 3.13
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
Due: djlint-django, translations

Fix rrule
  integreat_cms/cms/models/events/recurrence_rule.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

[WIP] Fix test
  integreat_cms/cms/models/media/media_file.py
Due: translations

Fix page creation
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
Due: translations

Fix number of queries
  tests/api/api_config.py
Due: translations

Update treebeard
  pyproject.toml
Due: none

Add atomic transaction
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Show specific error message when MT exceeds character limit for push notifications
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

fix docstrings for real
  integreat_cms/cms/search/search_fields.py
  integreat_cms/cms/views/search/search_content_ajax.py
Due: translations

Update documentation of commit db5c9c7254edf14461388f77a799a09e80e94629 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.utils.html
  ref-ext/integreat_cms.deepl_api.html
  ref-ext/integreat_cms.google_translate_api.html
  ref-ext/integreat_cms.html
  ref-ext/integreat_cms.summ_ai_api.html
  ref-ext/tests.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.utils.html
  ref/integreat_cms.deepl_api.html
  ref/integreat_cms.google_translate_api.html
  ref/integreat_cms.summ_ai_api.html
  ref/tests.html
  searchindex.js
Due: djlint-django, eslint, translations

WIP form views
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Rename page_tree_tutorial_seen field to has_seen_page_tree_tutorial and update help text for better clarity.
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0146_remove_user_page_tree_tutorial_seen_and_more.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/settings/dismiss_tutorial_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fix disable check for author
  integreat_cms/cms/views/pages/page_form_view.py
Due: translations
