Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

fix: invalidate CircleCI pip cache when the Python version changes
  .circleci/config.yml
  .gitignore
  docs/src/continuous-integration.rst
Due: none

Allow users to archive places if all referencing events and contacts are archived
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/events/event_form_sidebar/actions_box.html
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/templates/generic_confirmation_dialog.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/events/event_context_mixin.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4154.yml
  integreat_cms/static/src/js/utils/confirmation-popup.ts
  tests/cms/models/contacts/test_contacts.py
  tests/cms/models/events/test_events.py
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, eslint, translations

4300: Adjusted the comment for published_at at api-docs
  docs/src/api-docs.rst
Due: none

4300: Add published date to endpoints (#4445)
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/api/v3/locations.py
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0155_enforce_case_insensitive_slug_uniqueness.py
  integreat_cms/cms/migrations/0157_eventtranslation_published_at_and_more.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/news_managers/abstract_news_manager.py
  integreat_cms/news_managers/amalnews_manager.py
  integreat_cms/news_managers/pushnews_manager.py
  integreat_cms/news_managers/tunews_manager.py
  integreat_cms/release_notes/current/unreleased/4300.yml
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_ar_pages.json
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_archived_descendants.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_de_page_1.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_events.json
  tests/api/expected-outputs/nurnberg_en_locations.json
  tests/cms/models/events/test_event_translation.py
  tests/cms/test_duplicate_regions.py
  tests/news_managers/test_tunews_manager.py
Due: translations

Fix whatsapp and signal preview in social media headers
  integreat_cms/api/v3/templates/social_media_headers.html
  integreat_cms/cms/utils/social_media_utils.py
  integreat_cms/release_notes/current/unreleased/3983.yml
  tests/api/expected-outputs/social.html
  tests/api/expected-outputs/social_augsburg.html
  tests/api/expected-outputs/social_augsburg_de.html
  tests/api/expected-outputs/social_augsburg_de_child_page.html
  tests/api/expected-outputs/social_augsburg_de_event.html
  tests/api/expected-outputs/social_augsburg_de_location.html
  tests/api/expected-outputs/social_augsburg_de_page.html
  tests/api/expected-outputs/social_augsburg_de_pn.html
  tests/api/expected-outputs/social_landing.html
  tests/api/expected-outputs/social_landing_de.html
  tests/api/expected-outputs/social_landing_en.html
Due: djlint-django, translations

4300: Fix migration file number for 0157
  integreat_cms/cms/migrations/0158_eventtranslation_published_at_and_more.py
Due: translations

Hide the explanation sentences
  integreat_cms/cms/templates/statistics/statistics_overview.html
Due: djlint-django, translations

4300: Fix migration file number for 0157 (#4498)
  integreat_cms/cms/migrations/0158_eventtranslation_published_at_and_more.py
Due: translations

Update documentation of commit 8a906d21cd319dfa0e3096b6268f22b639e6cee6 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

use safer url reconstruction and add helper function
  integreat_cms/cms/utils/event_utils.py
  integreat_cms/cms/views/events/event_actions.py
Due: translations

keep filter state after copy/delete messages
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/templates/generic_confirmation_dialog.html
  integreat_cms/cms/views/events/event_actions.py
Due: djlint-django, translations

add release note
  integreat_cms/release_notes/current/unreleased/2396.yml
Due: none

change logic to preserve filter query string
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/templates/generic_confirmation_dialog.html
  integreat_cms/cms/utils/event_utils.py
  integreat_cms/static/src/js/utils/confirmation-popup.ts
Due: djlint-django, eslint, translations

Update integreat_cms/release_notes/current/unreleased/2396.yml
  integreat_cms/release_notes/current/unreleased/2396.yml
Due: none

Fix: Removed the populate_published_at at the migration file 0158
  integreat_cms/cms/migrations/0158_eventtranslation_published_at_and_more.py
Due: translations

Fix: Removed the populate_published_at at the migration file 0158 (#4501)
  integreat_cms/cms/migrations/0158_eventtranslation_published_at_and_more.py
Due: translations

Update documentation of commit 9d8918f5c306ab18a6c962dc9f01592452e7c5d9 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Adjust tests with invisible space
  tests/api/expected-outputs/social_augsburg_de_page.html
  tests/api/expected-outputs/social_augsburg_de_pn.html
Due: djlint-django, translations

Update Documentation and Devcontainer to python 3.13
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.md
  docs/src/installation.rst
Due: none

Apply suggestions
  .devcontainer/Dockerfile
  README.md
  docs/src/installation.rst
  tools/install.sh
Due: none

Some Devcontainer tweeks
  .devcontainer/devcontainer.json
Due: none

Apply suggestion publicode.yml
  publiccode.yml
Due: none

Refactor mt_api_test.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/mt_api_test.py
Due: translations

Resolve merge conflicts
  tests/mt_api/mt_api_test.py
Due: translations

Fix whatsapp and signal preview in social media headers (#4499)
  integreat_cms/api/v3/templates/social_media_headers.html
  integreat_cms/cms/utils/social_media_utils.py
  integreat_cms/release_notes/current/unreleased/3983.yml
  tests/api/expected-outputs/social.html
  tests/api/expected-outputs/social_augsburg.html
  tests/api/expected-outputs/social_augsburg_de.html
  tests/api/expected-outputs/social_augsburg_de_child_page.html
  tests/api/expected-outputs/social_augsburg_de_event.html
  tests/api/expected-outputs/social_augsburg_de_location.html
  tests/api/expected-outputs/social_augsburg_de_page.html
  tests/api/expected-outputs/social_augsburg_de_pn.html
  tests/api/expected-outputs/social_landing.html
  tests/api/expected-outputs/social_landing_de.html
  tests/api/expected-outputs/social_landing_en.html
Due: djlint-django, translations

Update documentation of commit 2ec0d7d4138095eb73215d14a5bce0d4b82f9031 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.news_managers.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.news_managers.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

fix: Address review findings on API tokens
  integreat_cms/api/decorators.py
  integreat_cms/cms/forms/__init__.py
  integreat_cms/cms/forms/users/api_token_form.py
  integreat_cms/cms/migrations/0157_api_token.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/users/__init__.py
  integreat_cms/cms/models/users/api_token.py
  integreat_cms/cms/templates/settings/user_settings.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/settings/__init__.py
  integreat_cms/cms/views/settings/api_token_delete_view.py
  integreat_cms/cms/views/settings/user_settings_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/test_api_token_auth.py
  tests/cms/models/users/test_api_token.py
Due: djlint-django, translations

feat: Add personal API tokens for users
  integreat_cms/api/decorators.py
  integreat_cms/cms/forms/__init__.py
  integreat_cms/cms/forms/users/user_api_token_form.py
  integreat_cms/cms/migrations/0157_user_api_token.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/users/__init__.py
  integreat_cms/cms/models/users/user_api_token.py
  integreat_cms/cms/templates/settings/user_settings.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/settings/__init__.py
  integreat_cms/cms/views/settings/user_api_token_delete_view.py
  integreat_cms/cms/views/settings/user_settings_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4138.yml
  tests/cms/test_user_api_token.py
Due: djlint-django, translations

fix: Store API token prefix and hash as raw bytes
  integreat_cms/cms/migrations/0159_api_token.py
  integreat_cms/cms/models/users/api_token.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/models/users/test_api_token.py
Due: translations

Update documentation of commit ace8166a9c330dd7115f53aa49ad144a44479c8f [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  installation.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.news_managers.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.news_managers.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fetch all available news from Tu News
  integreat_cms/api/v3/news.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/core/circleci_settings.py
  integreat_cms/core/settings.py
  integreat_cms/news_managers/abstract_news_manager.py
  integreat_cms/news_managers/tunews_manager.py
  tests/api/test_news_endpoint.py
  tests/conftest.py
  tests/news_managers/test_tunews_manager.py
  tools/test.sh
Due: translations

change iss key in deliverino access token request to string
  .circleci/scripts/get_access_token.py
Due: translations
