Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Hide page based stats when no language is selected
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/locale/nl/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: djlint-django, eslint, translations

Add html and iterator functions
  integreat_cms/static/src/js/utils/html.ts
  integreat_cms/static/src/js/utils/iterators.ts
Due: eslint

Add missing function call
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

4288: Changed hover text
  integreat_cms/cms/templates/users/user_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4288.yml
Due: djlint-django, translations

4288: Changed hover text (#4553)
  integreat_cms/cms/templates/users/user_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4288.yml
Due: djlint-django, translations

Move machine translation processing to Celery
  integreat_cms/cms/constants/translation_status.py
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/forms/push_notifications/push_notification_translation_form.py
  integreat_cms/cms/migrations/0159_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/content_edit_lock.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/cms/views/utils/machine_translations.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/deepl_api/apps.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/apps.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_content_edit_lock.py
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/cms/views/utils/test_machine_translation_report.py
  tests/core/utils/__init__.py
  tests/core/utils/test_machine_translation_celery_task.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
Due: translations

Add Redis fallback and fix failing documentation build
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
Due: translations

Add migration and style fix
  integreat_cms/cms/migrations/0161_add_currently_in_machine_translation_field.py
  tests/mt_api/mt_api_test.py
Due: translations

Add change requests
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/forms/push_notifications/push_notification_translation_form.py
  integreat_cms/cms/migrations/0159_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/utils/content_edit_lock.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/deepl_api/apps.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Fix failing test
  tests/mt_api/mt_api_test.py
Due: translations

Untranslate internal MT error strings and split up start_async_translation
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/utils/machine_translation_types.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/cms/views/utils/test_machine_translation_report.py
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Fix privilege escalation in task_progress endpoint
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_progress.py
Due: translations

Integrate refresh outdated translations with async mt translations
  integreat_cms/cms/migrations/0164_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/mt_api/mt_api_test.py
Due: translations

Remove blanket cache flush on post_migrate
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/cache_signals.py
Due: translations

Release MT locks and flag on task failure and add lock ttl
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Refactor translation reports as django model
  integreat_cms/cms/migrations/0165_machine_translation_report.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/machine_translations/__init__.py
  integreat_cms/cms/models/machine_translations/machine_translation_report.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_report.py
Due: translations

Document redis lock + db flag decision in ADR
  ADR/0004-redis-lock-and-db-flag-for-machine-translation-concurrency.md
Due: none

Wrap async call in transaction.on_commit
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/core/utils/test_machine_translation_celery_task.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
Due: translations

Make redis a hard, loud requirement
  integreat_cms/core/apps.py
  integreat_cms/core/checks.py
  integreat_cms/core/settings.py
Due: translations

Add no_redis+no_celery+mt guard railes
  integreat_cms/core/checks.py
  integreat_cms/core/utils/machine_translation_celery_task.py
Due: translations

Add MACHINE_TRANSLATION_PROGRESS to translation coverage CHART_CHOICES
  integreat_cms/cms/constants/translation_status.py
  integreat_cms/cms/views/analytics/translation_coverage_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/analytics/test_translation_coverage_view.py
Due: translations

Rename and adapt _build_content_objects_data to also handle news content types
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Use get_mt_task_ids for bulk lookup in page_filter_form and translation_coverage
  integreat_cms/cms/forms/pages/page_filter_form.py
  integreat_cms/cms/views/utils/translation_coverage.py
  tests/cms/views/utils/test_translation_coverage.py
Due: translations

Fix failing makemigrations over systemcheck
  integreat_cms/core/test_settings.py
  tests/conftest.py
Due: translations

Fix macOS segfault by moving MT checks to worker_process_init
  integreat_cms/deepl_api/apps.py
  integreat_cms/google_translate_api/apps.py
  tests/mt_api/mt_apps_ready_test.py
Due: translations

Use MachineTranslationProvider.api_client
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Add frontend UX for Celery-based machine translation progress
  integreat_cms/cms/templates/_content_edit_lock.html
  integreat_cms/cms/templates/_machine_translation_lock_dialog.html
  integreat_cms/cms/templates/messages.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/js/content-edit-lock.ts
  integreat_cms/static/src/js/feature/mt-progress-poll.ts
  integreat_cms/static/src/js/utils/mt-report-banner.ts
Due: djlint-django, eslint, translations

Fix duplicate in django.po
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

change invalid links table design
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/linkcheck_filters.py
Due: djlint-django, translations

add linkcheck wiki url link to all views
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/core/settings.py
Due: djlint-django, translations

add mark as valid functionality from table row
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/static/src/js/feature/bulk-actions.ts
Due: djlint-django, eslint, translations

add description text for view, and change header to Links from Broken Links
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

update translation file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

update fuzzy translation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

fix error- new button should be visible only for broken links
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/static/src/js/feature/bulk-actions.ts
Due: djlint-django, eslint, translations

update po file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

remove nested tbody from link_list_row and consistent button design
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

fix linting
  integreat_cms/cms/templates/linkcheck/link_list_row.html
Due: djlint-django, translations

change column name, fix column overflow, and use branding title
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
