Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Fix double edit icons in the page tree
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
Due: djlint-django, translations

Update documentation of commit 2263f4e3665628c57192354997d749131884df19 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix tests
  integreat_cms/cms/fixtures/test_data.json
  tests/cms/views/contacts/test_contact_form.py
Due: translations

Add release note for #3066
  integreat_cms/release_notes/current/unreleased/3066.yml
Due: none

Add broken links to region condition
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templatetags/link_checker.py
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add pages with partial translation to region condition
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templatetags/pages_outdated_or_missing_translation.py
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 32b913175d01c30f57731fe5f7e639b64ad183b6 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Budget for Summ AI
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0124_region_summ_ai_budget_used_and_more.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/conditional-fields.ts
  integreat_cms/summ_ai_api/summ_ai_api_client.py
  integreat_cms/summ_ai_api/utils.py
  tests/cms/test_duplicate_regions.py
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Add mobile number to API
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3591.yml
Due: djlint-django, translations

Update documentation of commit 2c88a2dd6fbef95dec6704d27ba67f6d192ff1f0 [skip ci]
  api-docs.html
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add search function to the language list
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/templates/languages/language_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/languages/__init__.py
  integreat_cms/cms/views/languages/language_list_view.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update contact cards when the relased POI is updated with a new address
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/release_notes/current/unreleased/3574.yml
Due: translations

Filter messages
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Fix archive/restore icons in page tree
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
Due: djlint-django, translations

Update documentation of commit fd3ba75f2b8f7417fff580ad65e72c9fabdf11c1 [skip ci]
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Rename function
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Improve comment
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Fix statistics graph sizing
  integreat_cms/cms/templates/statistics/_statistics_widget.html
Due: djlint-django, translations

Update documentation of commit ca3aca2d44fcf793c3fc67ab120992dd7129960e [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add flag when feedback has been automatically send
  integreat_cms/api/v3/feedback/search_result_feedback.py
  integreat_cms/cms/migrations/0126_add_automatical_feedback_to_searchresultfeedback.py
  integreat_cms/cms/models/feedback/search_result_feedback.py
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/admin_feedback_list_row.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Refactor feedback view
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/admin_feedback_list_archived.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list_archived.html
  integreat_cms/cms/views/feedback/admin_feedback_list_view.py
  integreat_cms/cms/views/feedback/region_feedback_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix alignment of information icon
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
Due: djlint-django, translations

Fix alignment and height of information icon
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
Due: djlint-django, translations

Update documentation of commit 18a1c3580f8d375cc0ac79faa1ee633bc95753c7 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Refactor linkcheck utils and exclude broken links
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/contacts/contact_from_existing_data.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/core/management/commands/fix_internal_links.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3458.yml
Due: djlint-django, translations

Readd warning for mobile phone
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3591.yml
Due: djlint-django, translations

Disable Matomo tracking for test servers
  integreat_cms/api/decorators.py
Due: translations

Add management command to update link text
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/update_link_text.py
  tests/core/management/commands/test_update_link_text.py
Due: translations

Fix pagination in language list
  integreat_cms/cms/templates/languages/language_list.html
Due: djlint-django, translations

Budget for Summ AI
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0124_region_summ_ai_budget_used_and_more.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/core/management/commands/reset_mt_budget.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/conditional-fields.ts
  integreat_cms/summ_ai_api/summ_ai_api_client.py
  integreat_cms/summ_ai_api/utils.py
  tests/cms/test_duplicate_regions.py
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Update documentation of commit 1f727336d0c30e5fd31dc09f41133d1bf12d62d1 [skip ci]
  packaging.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.summ_ai_api.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.summ_ai_api.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

fix: migration history, move 124->126
  integreat_cms/cms/migrations/0126_region_summ_ai_budget_used_and_more.py
Due: translations

Update documentation of commit d1f240234ea80c595f886b4cb463a9e3aed97868 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 4e1b17c64a1c44cbd27a68d7cfe2860985c20bc7 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
