Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Restrict slugify lookups to the current region and tighten tests
  integreat_cms/cms/views/utils/slugify_ajax.py
  tests/cms/views/utils/test_slugify_ajax.py
Due: translations

Check that the news is part of the list in copy test
  tests/cms/views/push_notifications/test_push_notification_copy.py
Due: translations

Assert exact status per role in language tabs test
  tests/cms/views/push_notifications/test_push_notification_form_view.py
Due: translations

Upgrade CircleCI orb `qltysh/qlty-orb`
  .circleci/config.yml
Due: none

Use `pathlib` for handling `BASE_DIR`
  integreat_cms/core/settings.py
Due: translations

Ignore some pointless ruff rules
  pyproject.toml
Due: none

Move pytest settings to `pytest.toml`
  pyproject.toml
  pytest.toml
Due: none

Remove duplicate code
  integreat_cms/core/test_settings.py
Due: translations

Fix ruff formatting
  integreat_cms/cms/constants/translation_status.py
  integreat_cms/core/management/commands/bulk_media_upload.py
Due: translations

Move `webpack-stats.json` to `/shared`
  integreat_cms/core/settings.py
  webpack.config.js
Due: eslint, translations

WIP
  .circleci/config.yml
  .dockerignore
  .gitignore
  .prettierignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  Dockerfile.dev
  docker-compose.test.yaml
  docker-compose.test.yml
  pytest.toml
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
  tools/test.py
  tools/test.sh
  tsconfig.json
Due: translations

remove _get_failure_reason to reduce complexity. show generic user error instead
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_progress.py
Due: translations

remove _check_availability_on_celery_ready wrapper. directly use check_availability instead
  integreat_cms/deepl_api/apps.py
  integreat_cms/google_translate_api/apps.py
  tests/mt_api/mt_apps_ready_test.py
Due: translations

Guard missing feedback toggle in link checker
  integreat_cms/static/src/js/__tests__/toggle-feedback-entries.test.ts
  integreat_cms/static/src/js/feedback/toggle-feedback-entries.ts
Due: eslint

Exclude invalid contact links too
  integreat_cms/cms/utils/linkcheck_utils.py
  tests/cms/utils/test_linkcheck_utils.py
Due: translations

Rename CircleCI command `install-uv` to `uv-install`
  .circleci/config.yml
Due: none

Rename CirlceCI job `uv-install` to `python-dependencies-install`
  .circleci/config.yml
Due: none

Save only uv's own cache in CircleCI
  .circleci/config.yml
Due: none

Minor improvements to CircleCI config, add whitespace
  .circleci/config.yml
Due: none

Make CircleCI uv env activation more robust
  .circleci/config.yml
Due: none

Allow net access when writing uv.lock
  .circleci/config.yml
Due: none

Update `README.md`
  README.md
Due: none

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
