Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Add chagne requests
  integreat_cms/static/src/index.ts
  tools/npm/markOrphan.ts
Due: eslint

Update package-lock.json
  package-lock.json
Due: none

adjust social media url endpoints
  integreat_cms/api/urls.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/cms/models/tue_news/news_item.py
Due: translations

Add eslint restriction
  .eslintrc.js
Due: eslint

remove dead search() and suggest() methods from mixin
  integreat_cms/cms/models/mixins.py
Due: translations

Update documentation of commit a9d9dff0da6cc1171eada8e30dab61f4bbe0564b [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

add SearchSuggestMixin to Organization, Region, Language and User
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/search/search_fields.py
Due: translations

exclude archived records from search suggest token extraction
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/mixins.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/views/search/search_suggest.py
Due: translations

Prevent empty title for push news
  integreat_cms/cms/migrations/0151_alter_pushnotificationtranslation_title.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/release_notes/current/unreleased/4128.yml
  tests/cms/views/view_config.py
Due: translations

Clean up revert and add one more feature module
  .eslintrc.js
  .prettierignore
  docs/src/frontend-bundling.rst
  integreat_cms/cms/templates/ajax_poi_form/contact_poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/event_poi_box.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/feature/ajax-contact-form.ts
  integreat_cms/static/src/js/feature/search-query.ts
  integreat_cms/static/src/js/utils/define-feature.ts
Due: djlint-django, eslint, translations

Set translatable fields based on changes
  Integreat - Deutsch - Augsburg.pdf
  integreat_cms/cms/constants/machine_translatable_attributes.py
  integreat_cms/cms/constants/machine_translatable_fields.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/views/translations/translations_management_view.py
  integreat_cms/cms/views/utils/machine_translations.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4173.yml
  integreat_cms/summ_ai_api/summ_ai_api_client.py
  integreat_cms/summ_ai_api/utils.py
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/api/expected-outputs/social_augsburg_de_event.html
  tests/cms/models/pages/test_page_translation.py
  tests/conftest.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
  tests/mt_api/utils.py
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/test_pdf_export.py
Due: djlint-django, translations

fix sort by relational field in list views
  integreat_cms/cms/views/mixins.py
Due: translations

release notes: don't move unreleased directory, move its files
  .circleci/config.yml
  integreat_cms/cms/templates/release_notes/release_notes.html
  integreat_cms/cms/views/release_notes/release_notes_context_mixin.py
  integreat_cms/release_notes/current/unreleased/.gitkeep
Due: djlint-django, translations

only build rc package on rc branch
  .circleci/config.yml
Due: none

Fix link update mechanism failing when slugs change (#4119)
  integreat_cms/cms/forms/custom_content_model_form.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/release_notes/current/unreleased/4119.yml
Due: translations

Drop slug preservation from save_translation
  integreat_cms/core/utils/machine_translation_api_client.py
Due: translations

avoid UniqueViolation upon saving a new content translation version by retrying with incremented version number
  integreat_cms/cms/forms/custom_content_model_form.py
  integreat_cms/cms/utils/content_translation_utils.py
  integreat_cms/cms/views/utils/publication_status.py
Due: translations

ruff
  integreat_cms/cms/utils/content_translation_utils.py
Due: translations

Fix timeout when deleting a language with many translations
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/release_notes/current/unreleased/3997.yml
Due: translations

Update documentation of commit 2eb44d560a73c8e5a855ae37eedfafa7e2c6391e [skip ci]
  ref-ext/integreat_cms.cms.views.language_tree.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.language_tree.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/story.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

Copy appointment_url from POI to primary contact on save
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/release_notes/current/unreleased/4135.yml
Due: translations

Update documentation of commit 099983041b40b2eef706e375903e2b3016b232a3 [skip ci]
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Refactor post of poi_form_view
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

fix generate_unique_slug() without form
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/views/utils/slugify_ajax.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/utils/test_slug_utils.py
Due: translations

Fix ajax-contact-form
  docs/src/frontend-bundling.rst
  integreat_cms/static/src/js/feature/ajax-contact-form.ts
Due: eslint

Upgrade to Django 5.2 & support Python 3.13
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
Due: djlint-django, translations

Fix rrule
  integreat_cms/cms/models/events/recurrence_rule.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Update treebeard
  pyproject.toml
Due: none

Fix page creation
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
Due: translations

Add atomic transaction
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Fix number of queries
  tests/api/api_config.py
Due: translations

[WIP] Fix test
  integreat_cms/cms/models/media/media_file.py
Due: translations

Fix views
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Fix code_style
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Fix 404 when changing entries-per-page from a non-first page
  integreat_cms/cms/templates/pagination.html
  integreat_cms/release_notes/current/unreleased/3249.yml
Due: djlint-django, translations
