Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit 7f68e839f671e95cfaad4ea4a75f8961974bc45c [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.utils.shortcodes.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.utils.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.utils.shortcodes.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.utils.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add statistics export with checkboxes
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/bulk-actions.ts
  integreat_cms/static/src/js/pages/toggle-subpages.ts
Due: djlint-django, eslint, translations

Update documentation of commit 670e07954e2ce8f864570a57a65cf8ab8c0e59e4 [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

4350: Removed distribute sidebar boxes from user settings
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/__init__.py
  integreat_cms/cms/forms/users/user_preferences_form.py
  integreat_cms/cms/migrations/0154_remove_user_distribute_sidebar_boxes.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/settings/user_settings.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/views/settings/user_settings_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/forms/distribute-sidebar-boxes.ts
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

4350: Include the release note
  integreat_cms/release_notes/current/unreleased/4350.yml
Due: none

4350: Updated the release note
  integreat_cms/release_notes/current/unreleased/4350.yml
Due: none

Nullify file index before re-render is triggered
  integreat_cms/release_notes/current/unreleased/4384.yml
  integreat_cms/static/src/js/media-management/directory-content-library.tsx
  integreat_cms/static/src/js/media-management/filter-result-library.tsx
  integreat_cms/static/src/js/media-management/search-result-library.tsx
Due: eslint

add previous slugs to the page related API responses
  integreat_cms/api/v3/pages.py
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_ar_pages.json
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_archived_descendants.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_page_1.json
  tests/api/expected-outputs/augsburg_de_pages.json
Due: translations

Update documentation of commit 3ae806c034170bc7f6f33f762e933280b7d0e480 [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/tests.api.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.core.html
  ref/tests.api.html
  searchindex.js
Due: djlint-django, eslint, translations

Make id of posts in API response unique, add an endpoint for single post
  docs/src/api-docs.rst
  integreat_cms/api/urls.py
  integreat_cms/api/v3/news.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/news_managers/abstract_news_manager.py
  integreat_cms/news_managers/pushnews_manager.py
  integreat_cms/news_managers/tunews_manager.py
  tests/api/test_news_endpoint.py
  tests/news_managers/test_tunews_manager.py
Due: translations

Fix memory consumption
  integreat_cms/cms/models/abstract_content_model.py
Due: translations

fix: add overflow-hidden to collapsible box wrapper to prevent content overflow
  integreat_cms/cms/templates/_collapsible_box.html
Due: djlint-django, translations

Fix translations for page statistics warnings
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Update documentation of commit dc89f6d663b271806ced4f68ac51bc3f6407b952 [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

add field validators for latitude in Locations
  integreat_cms/cms/forms/pois/poi_form.py
Due: translations

update .po file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

update duplicate entries in .po file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

change error message for incorrect date in events
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

prefetch public_or_draft_translations without content
  integreat_cms/cms/models/pages/page.py
  tests/api/api_config.py
Due: translations

fix: constrain map overflow in position widget instead of wrapper
  integreat_cms/cms/templates/_collapsible_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/position_box.html
Due: djlint-django, translations

Extract utils functions from confirmation-popup and search-query
  docs/src/frontend-bundling.rst
  integreat_cms/static/src/js/bulk-actions.ts
  integreat_cms/static/src/js/chat/delete-chat-message.ts
  integreat_cms/static/src/js/chat/send-chat-message.ts
  integreat_cms/static/src/js/confirmation-popups.ts
  integreat_cms/static/src/js/content-edit-lock.ts
  integreat_cms/static/src/js/feature/search-query.ts
  integreat_cms/static/src/js/media-management/component/edit-directory-sidebar.tsx
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/pages/fetch-subpages.ts
  integreat_cms/static/src/js/utils/confirmation-popup.ts
  integreat_cms/static/src/js/utils/search-query-listeners.ts
Due: eslint

Make slug uniqueness constraint case insensitive
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0154_enforce_case_insensitive_slug_uniqueness.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4321.yml
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Update documentation of commit 1eafef802390ec5bd311d8fd3857368fa1d663c0 [skip ci]
  frontend-bundling.html
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix migration file (introduced by PR #4321)
  integreat_cms/cms/migrations/0155_enforce_case_insensitive_slug_uniqueness.py
Due: translations

Update API documentation with slug_history
  docs/src/api-docs.rst
Due: none

Update documentation of commit fef0306e2b44e99b73d1b46ae3e925885e664868 [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 6ec244a49ebaf01695e6332cb01d512aae065ec0 [skip ci]
  api-docs.html
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Show UP_TO_DATE translation status when a translation is manually updated without changes
  integreat_cms/cms/forms/custom_content_model_form.py
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/core/management/commands/import_pois_from_csv.py
  integreat_cms/release_notes/current/unreleased/4397.yml
Due: translations

4349: Removed chat_enabled setting
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0156_remove_region_chat_enabled.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/chat/chat_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4349.yml
Due: djlint-django, translations

Update warning messages for page based statistics export as discussed
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
