Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Fix do-not-translate- and link are mutally exclusive
  integreat_cms/release_notes/current/unreleased/4017.yml
  integreat_cms/static/src/js/forms/tinymce-init.ts
Due: eslint

Update documentation of commit 489aa815a2ddf6de13814fc1397b6b5a96913c9f [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update preact
  integreat_cms/static/src/js/media-management/component/button.tsx
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/preact-10.25.0-fix.d.ts
  package-lock.json
  package.json
Due: eslint

Update documentation of commit 8f43730d146763f8e35ce81cac6dba5401c193bf [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Deactivate visibility checkbox for inactive languages
  integreat_cms/release_notes/current/unreleased/3864.yml
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
Due: eslint

Update documentation of commit ae005c5df3422ca8389d2dcbc0e31034b07ce490 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix event date validation for ongoing events
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/forms/events/recurrence_rule_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit 55d32fe0f61bfcb01079c710354a2f0f27050714 [skip ci]
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Refactor poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/_base_poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/contact_poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/event_poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

switch to our fork of linkcheck
  integreat_cms/core/settings.py
  pyproject.toml
Due: translations

Refactor statistics models
  integreat_cms/cms/migrations/0146_statisticsday.py
  integreat_cms/cms/migrations/0147_remove_pageaccesses_access_date_and_more.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/statistics/page_accesses.py
Due: translations

Skip page accesess with 0 value
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Update JS test suites
  package-lock.json
  package.json
Due: none

Update Jsdom
  package-lock.json
  package.json
Due: none

Use Syft for generating SBOM
  .circleci/config.yml
  integreat_cms/_manifest/spdx_2.2/manifest.spdx.json.sha256
  integreat_cms/cms/templates/imprint/open_source_licenses.html
  integreat_cms/cms/views/imprint/open_source_licenses_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update js dependencies
  package-lock.json
  package.json
Due: none

Change chatbot typing indicator
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/utils/zammad.py
  tests/api/test_api_chat.py
Due: translations

introduce primary contact label
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add release note
  integreat_cms/release_notes/current/unreleased/4015.yml
Due: none

bump integreat-django-linkcheck
  pyproject.toml
Due: none

Add change request
  integreat_cms/cms/templates/ajax_poi_form/contact_poi_box.html
Due: djlint-django, translations

transfer poi name to primary contact only if contact name is not given
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/release_notes/current/unreleased/4016.yml
Due: translations

Update documentation of commit f3070c81b2ea05c4779d3c35dd024a4a7881145d [skip ci]
  documentation.html
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/tests.api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Avoid marking the entire paragraph as DNT
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint

Handle chat back end exceptions
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Limit length of log entries
  integreat_cms/core/logging_formatter.py
  integreat_cms/core/settings.py
Due: translations

shortcode page: render as missing link when no public translation found
  integreat_cms/cms/utils/shortcodes/page.py
Due: translations

shortcode page: render as missing link when id not given
  integreat_cms/cms/utils/shortcodes/page.py
Due: translations

shortcode contact: better names for detail arguments
  integreat_cms/cms/utils/shortcodes/contact.py
Due: translations

shortcode contact: render missing contacts card with message
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/shortcodes/contact.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

add option for async translation in deepl api client
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/deepl_api/deepl_api_client.py
Due: translations

ruff
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/deepl_api/deepl_api_client.py
Due: translations

Refactor page form view
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Simplify push notification by merging templates and draft status
  integreat_cms/api/v3/push_notifications.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/push_notifications/__init__.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2639.yml
Due: djlint-django, translations

Save POI before translation
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

save async translations
  integreat_cms/deepl_api/deepl_api_client.py
Due: translations

Remove legacy fields
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/migrations/0146_remove_pushnotification_draft_and_more.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_template_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list_row.html
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix expected Chat Zammad return code
  integreat_cms/cms/utils/zammad.py
Due: translations

Add region column to global link checker
  integreat_cms/cms/utils/linkcheck_utils.py
Due: translations
