Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Add fallback message for failed LLM responses
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

create and use search forms for languages, organizations, locations, push_notifications, region conditions and regions
  integreat_cms/cms/forms/contacts/contact_search_form.py
  integreat_cms/cms/forms/object_search_form.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/languages/language_list_view.py
  integreat_cms/cms/views/mixins.py
  integreat_cms/cms/views/organizations/organization_list_view.py
  integreat_cms/cms/views/pois/poi_list_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/cms/views/region_condition/region_condition_view.py
  integreat_cms/cms/views/regions/region_list_view.py
  integreat_cms/cms/views/users/region_user_list_view.py
  tests/cms/views/contacts/test_contact_search.py
  tests/cms/views/languages/test_language_search.py
  tests/cms/views/organizations/test_organization_search.py
  tests/cms/views/poi/test_poi_search.py
  tests/cms/views/push_notifications/test_push_notification_search.py
  tests/cms/views/region_condition/test_region_condition_search.py
  tests/cms/views/regions/test_region_search.py
  tests/cms/views/users/test_region_user_search.py
Due: djlint-django, translations

Add Frag Integreat per language statistics
  integreat_cms/cms/templates/dashboard/_public_chat_stats.html
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

feat: enable browser spellcheck in TinyMCE editor
  integreat_cms/static/src/js/forms/tinymce-init.ts
Due: eslint

Change geocoding error to orange warning with clearer message
  integreat_cms/cms/templates/pois/poi_form_sidebar/position_box.html
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3774.yml
Due: djlint-django, translations

Update documentation of commit 49aaf6f01fc389dc75dbe82c967dced6fb06a6ab [skip ci]
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Delegate slug uniqueness to PageTranslation.save()
  integreat_cms/core/management/commands/duplicate_pages.py
Due: translations

Update documentation of commit b8c3359417d1f5c3a66aee41f89f280705b15b62 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Make primary contact only editable by the contact fields if user is in POI form
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/views/contacts/contact_form_ajax_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4050.yml
  integreat_cms/static/src/js/ajax-contact-form.ts
Due: djlint-django, eslint, translations

Update documentation of commit 19a65b45e09e55c5be167af093c18f7a04ca86b5 [skip ci]
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pois.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pois.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

circleci: publish release candidates
  .circleci/config.yml
Due: none

Rename page_tree_tutorial_seen field to has_seen_page_tree_tutorial and update help text for better clarity.
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0150_remove_user_page_tree_tutorial_seen_and_more.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/settings/dismiss_tutorial_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit d365d9015bfce11f9c6b84115ae035a7c51febf4 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.settings.html
  ref-ext/integreat_cms.cms.views.users.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.settings.html
  ref/integreat_cms.cms.views.users.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add script that analyzes force_merges
  pyproject.toml
  tools/_analyze_force_merges.py
  tools/analyze_force_merges.sh
Due: translations

Update documentation of commit fa0d93417f4cb00859a0d6f06f5ede73a92fe6f1 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

rename query to search_query in list views
  integreat_cms/cms/forms/custom_filter_form.py
  integreat_cms/cms/forms/events/event_filter_form.py
  integreat_cms/cms/forms/feedback/region_feedback_filter_form.py
  integreat_cms/cms/forms/pages/page_filter_form.py
  integreat_cms/cms/forms/users/user_filter_form.py
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/users/user_list.html
  tests/cms/test_page_filters.py
  tests/cms/views/events/test_event_search.py
  tests/cms/views/feedback/test_feedback_search.py
  tests/cms/views/pages/test_page_search.py
  tests/cms/views/users/test_user_search.py
Due: djlint-django, translations

Address review feedback: use ALLOWED_OBJECTS constant and inline logging
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Refactor 'generate_unique_slug'
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Fix exclude_current_object when foreign object has no ID yet
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Sort the functions, fix code style
  integreat_cms/cms/utils/slug_utils.py
Due: translations

add sortable table headers in POI list view
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/views/pois/poi_list_view.py
Due: djlint-django, translations

avoid xss and de-duptlicate views with relational field sorting
  integreat_cms/cms/templatetags/sort_tags.py
  integreat_cms/cms/views/mixins.py
Due: translations

Refactor for common news endpoint
  integreat_cms/api/urls.py
  integreat_cms/api/v3/push_notifications.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0151_add_tue_news.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/tue_news/__init__.py
  integreat_cms/cms/models/tue_news/news_category.py
  integreat_cms/cms/models/tue_news/news_item.py
  integreat_cms/cms/models/tue_news/news_language.py
  integreat_cms/cms/utils/tue_news_utils.py
  integreat_cms/core/management/commands/import_tuenews.py
Due: translations

Fix management command
  docs/src/management-commands.rst
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Update documentation of commit a9d9dff0da6cc1171eada8e30dab61f4bbe0564b [skip ci]
  management-commands.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.offer_templates.html
  ref-ext/integreat_cms.cms.forms.organizations.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.events.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.pages.html
  ref-ext/integreat_cms.cms.models.pois.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.settings.html
  ref-ext/integreat_cms.cms.views.users.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.offer_templates.html
  ref/integreat_cms.cms.forms.organizations.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.events.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.pages.html
  ref/integreat_cms.cms.models.pois.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.settings.html
  ref/integreat_cms.cms.views.users.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  searchindex.js
Due: djlint-django, eslint, translations

ruff
  integreat_cms/cms/templatetags/sort_tags.py
Due: translations

update translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Add featureModule validation checks
  integreat_cms/static/src/index.ts
  tools/npm/generateRegistry.ts
Due: eslint

Create registry and Add search-query module
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/search-query.ts
  integreat_cms/static/src/registry.ts
  integreat_cms/static/src/types/index.d.ts
  package.json
  tools/npm/generateRegistry.ts
  tsconfig.json
Due: djlint-django, eslint, translations

Install npm in circleci job
  .circleci/config.yml
Due: none

Fix after rebase
  integreat_cms/static/src/index.ts
Due: eslint

Add documentation
  docs/src/_docstrings.rst
  docs/src/documentation.rst
  docs/src/frontend-bundling.rst
  integreat_cms/static/src/types/index.d.ts
Due: eslint

Delete runtime check
  integreat_cms/static/src/index.ts
Due: eslint

Add translation ids to NewsItem
  integreat_cms/api/v3/push_notifications.py
  integreat_cms/cms/migrations/0151_add_tue_news.py
  integreat_cms/cms/models/tue_news/news_item.py
  integreat_cms/core/management/commands/import_tuenews.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
