Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Add UserNameForm to user settings
  integreat_cms/cms/forms/__init__.py
  integreat_cms/cms/forms/users/user_name_form.py
  integreat_cms/cms/templates/settings/user_settings.html
  integreat_cms/cms/views/settings/user_settings_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Make MT budget configurable
  example-configs/integreat-cms.ini
  integreat_cms/cms/constants/machine_translation_budget.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0135_configurable_mt_budget.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2615.yml
  integreat_cms/static/src/js/conditional-fields.ts
  tests/cms/test_duplicate_regions.py
  tests/cms/views/regions/test_region_mt_management.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_api_test.py
Due: djlint-django, eslint, translations

Add loading of page accesses from database
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Add saving of page accesses tp statistics actions
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Add dictionary conversion
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Fix mypy
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Apply feedback
  integreat_cms/cms/migrations/0135_alter_pageaccesses_access_date.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Improve hit about mandatory fields of the contact form
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3624.yml
Due: djlint-django, translations

Update documentation of commit 2d86b7108ca9c934bc1d5c3500fff75dd0e50d88 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix style of disabled outline button
  integreat_cms/release_notes/current/unreleased/3276.yml
  integreat_cms/static/src/css/style.scss
Due: none

Update documentation of commit c546a2193f5b715f03e8576803641884da4efd00 [skip ci]
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.events.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.media.html
  ref-ext/integreat_cms.cms.models.pois.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.media.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.events.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.media.html
  ref/integreat_cms.cms.models.pois.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.media.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Exclude mobile phone numbers of contact from the link list
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/release_notes/current/unreleased/3668.yml
Due: translations

Update documentation of commit fc953dc2641a75b81fa562bff9328d3175a99998 [skip ci]
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Load page accesses with celery
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/core/management/commands/fetch_page_accesses.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Add saving of page accesses tp statistics actions
  integreat_cms/cms/migrations/0135_alter_pageaccesses_access_date.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Add management command
  docs/src/management-commands.rst
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/core/management/commands/fetch_page_accesses.py
Due: translations

Edit docs
  docs/src/management-commands.rst
Due: none

Fix redirect to language tree for contacts
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3667.yml
Due: translations

Update documentation of commit 5d5cdde459f419e81fe7574aeee268a369a1139f [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add opening hours to contacts
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0135_add_opening_hours_for_contacts.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/utils.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/pois/opening-hours/index.tsx
  tests/cms/views/contacts/test_contact_form.py
Due: djlint-django, eslint, translations

restrict restoring pages to users that have publishing permissions
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/page_form_sidebar/actions_box.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/__init__.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pages/page_bulk_actions.py
  integreat_cms/release_notes/current/unreleased/3512.yml
  tests/cms/views/view_config.py
Due: djlint-django, translations

Add event location link
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0136_event_online_link.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3194.yml
  integreat_cms/static/src/js/poi-box.ts
Due: djlint-django, eslint, translations

fixed-font-weight
  integreat_cms/cms/templates/tutorials/page_access_statistics.html
Due: djlint-django, translations

Add option to delete single push notification
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/push_notifications/__init__.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3354.yml
Due: djlint-django, translations

Refactor feedback view
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/admin_feedback_list_archived.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list_archived.html
  integreat_cms/cms/views/feedback/admin_feedback_list_view.py
  integreat_cms/cms/views/feedback/region_feedback_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add flag when feedback has been automatically send
  integreat_cms/api/v3/feedback/search_result_feedback.py
  integreat_cms/cms/migrations/0126_add_automatical_feedback_to_searchresultfeedback.py
  integreat_cms/cms/models/feedback/search_result_feedback.py
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/admin_feedback_list_row.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix migration files #130
  integreat_cms/cms/migrations/0131_add_automatical_feedback_to_searchresultfeedback.py
Due: translations

Add option to archive push notifications
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/migrations/0132_archive_pushnotification.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/push_notifications/__init__.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_bulk_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/core/management/commands/send_push_notifications.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3588.yml
Due: djlint-django, translations

Delete region with Celery
  integreat_cms/cms/views/regions/region_actions.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/regions/delete_region.py
  tests/conftest.py
Due: translations

Add documentation for debugging with VSCode
  docs/src/debugging.rst
Due: none

Fix test_find_missing_versions_failure
  tests/core/management/commands/test_find_missing_versions.py
Due: translations

Attempt to fix issue with none existant other translation
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add management command to update link text
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/update_link_text.py
  tests/core/management/commands/test_update_link_text.py
Due: translations

Add to documentation handling pyhon3.12
  docs/src/installation.rst
Due: none

Add page accesses model
  integreat_cms/cms/migrations/0133_add_page_accesses.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/statistics/__init__.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Edit dev server documentation
  docs/src/dev-server.rst
Due: none

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
