Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

only show MT-button if user has publish rights for a page
  integreat_cms/cms/forms/pages/page_translation_form.py
  integreat_cms/cms/views/pages/page_context_mixin.py
  tests/mt_api/test_mt_button_visibility.py
Due: translations

Update documentation of commit 950b11632de47b2d732f045e3e171b766a614126 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Remove obsolete fields from API and add mobile number to API
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_locations.json
Due: djlint-django, translations

Fix linting
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
Due: djlint-django, translations

Add API rate limiting decorator
  integreat_cms/api/decorators.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/core/settings.py
  tests/api/test_api_chat.py
Due: translations

Improve speed of page duplication in region cloning
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/release_notes/current/unreleased/3244.yml
Due: translations

Refactor existing tabs
  integreat_cms/cms/templates/_generic_multiple_select.html
  integreat_cms/cms/templates/pages/_page_permission_table.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add contact form to new poi
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3322.yml
  integreat_cms/static/src/js/ajax-contact-form.ts
Due: djlint-django, eslint, translations

Update documentation of commit 2a40627f82495ce4587dce640620904b6c187495 [skip ci]
  packaging.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Show which pages user has access to
  integreat_cms/cms/templates/users/_pages_with_observer_access.html
  integreat_cms/cms/templates/users/region_user_form.html
  integreat_cms/cms/templates/users/user_form.html
  integreat_cms/cms/views/users/region_user_form_view.py
  integreat_cms/cms/views/users/user_form_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/user.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3121.yml
Due: djlint-django, translations

Update documentation of commit ef0214b6a16cf9712f8d0c316120970293591577 [skip ci]
  genindex.html
  objects.inv
  packaging.html
  py-modindex.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.users.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.cms.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.users.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix auto save message in event form
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/release_notes/current/unreleased/3519.yml
Due: djlint-django, translations

Add HIX to region condition
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templatetags/hix_pages.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix: phone numbers not being formatted any more
  integreat_cms/release_notes/current/unreleased/3285.yml
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
Due: eslint

Update documentation of commit 8a2cbef3d10da1854479413c4a5dabd0f2e88d7d [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 5c3b1d2cc57f93a2151edca88980a199fbb91a66 [skip ci]
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.users.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.users.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix: error thrown when an empty contact card is rendered
  integreat_cms/cms/utils/content_utils.py
Due: translations

Fix drag and drop and hierarchy
  integreat_cms/cms/templates/pages/_generic_page_tree_header.html
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
Due: djlint-django, translations

Fix translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Add flag when feedback has been automatically send
  integreat_cms/api/v3/feedback/search_result_feedback.py
  integreat_cms/cms/migrations/0121_add_automatical_feedback_to_searchresultfeedback.py
  integreat_cms/cms/models/feedback/search_result_feedback.py
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/admin_feedback_list_row.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Improve loading time for creating new user
  integreat_cms/cms/views/utils/user.py
Due: translations

add archive_contact permission
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/migrations/0121_alter_contact_options.py
  integreat_cms/cms/migrations/0122_add_archive_contact_permission.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_actions.py
  tests/cms/views/contacts/test_contact_actions.py
Due: djlint-django, translations

Fix address doesn't show up in search
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/release_notes/current/unreleased/3464.yml
  tests/cms/views/contacts/test_contact_utils.py
Due: translations

Chat: add support for talk to human attribute
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Chat: add support for the user consent attribute
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Chat: refactor Zammad API
  integreat_cms/api/urls.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0121_remove_userchat_most_recent_hits_and_more.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/chat/attachment_map.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
  tests/api/test_api_chat.py
Due: translations

Test saving evaluation consent
  tests/api/test_api_chat.py
Due: translations

Update documentation of commit 5244da21b2609f152520aa4aa249c6231b64191e [skip ci]
  packaging.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Chat: fix Zammad webhook race condition
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Hide the button for ajax contact creation when POI is archived
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3523.yml
Due: djlint-django, translations

Update documentation of commit 00e7fd210c5603af338cc58da7ca5c68e945081f [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

only show MT-button if user has publish rights for a page
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/forms/pages/page_translation_form.py
  integreat_cms/cms/views/pages/page_context_mixin.py
  tests/mt_api/test_mt_button_visibility.py
Due: translations

force fetching of deps
  .circleci/config.yml
  package-lock.json
  tools/install.sh
Due: none

Update integreat_cms/cms/utils/zammad.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Document X-Forwarded-For header
  docs/src/prod-server.rst
  example-configs/apache2-integreat-vhost.conf
Due: none

Move generate_random_hash function
  integreat_cms/cms/migrations/0094_add_userchat_fields.py
  integreat_cms/cms/models/chat/attachment_map.py
Due: translations

Change rate limit max requests
  integreat_cms/core/settings.py
Due: translations

Refactor is_app_user_message function
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/core/settings.py
Due: translations

Improve Zammad request error handling
  integreat_cms/cms/utils/zammad.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
