Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Update documentation of commit 1f727336d0c30e5fd31dc09f41133d1bf12d62d1 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Edit dev server documentation
  docs/src/dev-server.rst
Due: none

Add search function to region conditions
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/views/region_condition/region_condition_view.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3593.yml
Due: djlint-django, translations

Add search function to the contact list
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3484.yml
Due: djlint-django, translations

Update documentation of commit 9ae08eed4db5e2afacab875574c928ab1638b0e6 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

tools/ruff.sh: Allow restricting checking to specific subtrees
  tools/ruff.sh
  tools/ruff_check.sh
  tools/ruff_format.sh
Due: none

Adjust test
  tests/cms/views/view_config.py
Due: translations

Small refactoring for search_content_ajax
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/static/src/js/media-management/library.tsx
Due: djlint-django, eslint, translations

adjust test 2
  tests/cms/views/view_config.py
Due: translations

Add constraint for language tree node
  integreat_cms/cms/migrations/0130_remove_languagetreenode_languagetreenode_unique_lft_tree_and_more.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2133.yml
  tests/cms/models/languages/test_language_tree_node.py
Due: translations

Sketch cloning region with Celery
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/core/settings.py
  tools/run.sh
Due: translations

setup celery for tests
  tests/conftest.py
Due: translations

Fix CI pipeline
  integreat_cms/cms/fixtures/test_data.json
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/test_duplicate_regions.py
Due: translations

Refactor Integreat Chat
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  tests/api/test_api_chat.py
Due: translations

Add documentation
  docs/src/debugging.rst
Due: none

Fix style of disabled outline button
  integreat_cms/release_notes/current/unreleased/3276.yml
  integreat_cms/static/src/css/style.scss
Due: none

Add opening hours to contacts
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0130_add_opening_hours_for_contacts.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/utils.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/pois/opening-hours/index.tsx
  tests/cms/views/contacts/test_contact_form.py
Due: djlint-django, eslint, translations

Fix test_bulk_recheck_links
  tests/cms/views/link_replace/test_link_actions.py
Due: translations

Fix TypeError and add test for suggest contacts
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/contacts/contact_from_existing_data.py
  integreat_cms/core/management/commands/fix_internal_links.py
  tests/cms/views/contacts/test_contact_from_existing_data.py
Due: translations

Update documentation of commit 9b37d55054c6c2ef9219d13299fd50e8487ce46a [skip ci]
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.core.signals.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.signals.html
  searchindex.js
Due: djlint-django, eslint, translations

Rename chats to author chat and public chat
  docs/src/api-docs.rst
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/__init__.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0130_rename_chats.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3628.yml
Due: translations

support --as-precommit
  tools/ruff.sh
Due: none

release note for #3651
  integreat_cms/release_notes/current/unreleased/3649.yml
Due: none

Add option to archive push notifications
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/migrations/0131_archive_pushnotification.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/push_notifications/__init__.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_bulk_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/core/management/commands/send_push_notifications.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3588.yml
Due: djlint-django, translations

at event location link
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0123_event_has_physical_location_event_online_link.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templates/events/event_form.html
Due: djlint-django, translations

Small adjustments to your code
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0123_event_has_physical_location_event_online_link.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3194.yml
  integreat_cms/static/src/js/poi-box.ts
Due: djlint-django, eslint, translations

Delete region with Celery
  integreat_cms/cms/views/regions/region_actions.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/regions/delete_region.py
  tests/conftest.py
Due: translations

Fix: Bulk MT crashes
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/release_notes/current/unreleased/3644.yml
Due: translations

Update documentation of commit e562b823a12feb1f11f75ba66be9b0484d3602b3 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.utils.html
  ref-ext/integreat_cms.deepl_api.html
  ref-ext/integreat_cms.google_translate_api.html
  ref-ext/integreat_cms.summ_ai_api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.utils.html
  ref/integreat_cms.deepl_api.html
  ref/integreat_cms.google_translate_api.html
  ref/integreat_cms.summ_ai_api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations
