Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Handle depraction of `darken()` by sass
  integreat_cms/static/src/css/style.scss
Due: none

Update sass-loader to fix deprecation warning
  package-lock.json
  package.json
Due: none

Adjust for new pylint-lint `too-many-positional-arguments`
  integreat_cms/cms/forms/pages/mirrored_page_field_widget.py
  integreat_cms/cms/forms/pages/parent_field_widget.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/forms/users/organization_field.py
  integreat_cms/cms/forms/users/password_reset_form.py
  pyproject.toml
  tests/api/test_api_result.py
  tests/cms/views/status_code/test_view_status_code_11.py
  tests/cms/views/status_code/test_view_status_code_5.py
  tests/mt_api/mt_api_test.py
  tests/pdf/test_pdf_export.py
Due: translations

Fix mypy
  integreat_cms/cms/utils/media_utils.py
Due: translations

Fix tests
  tests/mt_api/deepl_api_test.py
Due: translations

Update tinymce to v7
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/pages/sbs-copy-content.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint

Chat: treat empty answer as no response
  integreat_cms/api/v3/chat/chat_bot.py
  integreat_cms/api/v3/chat/user_chat.py
Due: translations

Update documentation of commit c6975a1a47a0088de86d30bd92689d26d9247512 [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix #3063: Make save button consistent in organization form
  integreat_cms/cms/templates/organizations/organization_form.html
Due: djlint-django, translations

Add documentation for mypy
  docs/src/code-style.rst
  docs/src/tools.rst
Due: none

Chat: use self hosted translation model
  integreat_cms/api/v3/chat/chat_bot.py
  integreat_cms/api/v3/chat/user_chat.py
Due: translations

Update documentation of commit 17c13bcbd9953daf4d7d4913b9edc7938879de13 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Chat: fix empty answers
  integreat_cms/api/v3/chat/chat_bot.py
Due: translations

Update documentation of commit 079fad8fa712411ffb0c04085d21bbf9c5b04aa8 [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix #3063: Make save button consistent and update translations
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add test for broken link actions
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/views/linkcheck/link_replace_view.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  tests/cms/views/link_replace/test_link_actions.py
  tests/core/management/commands/test_replace_links.py
  tests/sitemap/expected-sitemaps/sitemap-nurnberg-de.xml
  tests/sitemap/sitemap_config.py
Due: translations

Fix empty Zammad field in region form
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/release_notes/current/unreleased/3098.yml
Due: translations

Update documentation of commit 9a3d968cc9bf3c1841772cfedb890297d335bf77 [skip ci]
  documentation.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Chat: improve source links & allow messages w/o sources
  integreat_cms/api/v3/chat/chat_bot.py
Due: translations

Fix invalid links not replaced
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/release_notes/current/unreleased/3058.yml
  tests/cms/views/link_replace/test_link_replace.py
  tests/core/management/commands/test_replace_links.py
  tests/sitemap/expected-sitemaps/sitemap-nurnberg-de.xml
  tests/sitemap/sitemap_config.py
Due: translations

Update documentation of commit 37b417917e7fe425bb9db8c04af9b26b117c5885 [skip ci]
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.sitemap.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.html
  ref/tests.core.management.commands.html
  ref/tests.sitemap.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 85d4c0d1621d738a172920a525129bd395596f69 [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.sitemap.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.html
  ref/tests.core.management.commands.html
  ref/tests.sitemap.html
  searchindex.js
Due: djlint-django, eslint, translations

Add form for contact information
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/__init__.py
  integreat_cms/cms/forms/contacts/__init__.py
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0106_update_contact.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/contacts/__init__.py
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/events/event_context_mixin.py
  integreat_cms/cms/views/regions/region_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/poi_box.ts
Due: djlint-django, eslint, translations

Improve region link loading performance
  integreat_cms/cms/utils/linkcheck_utils.py
Due: translations

Only prefetch region links if required
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
Due: translations

added test
  tests/cms/utils/test_cancel_translation.py
Due: translations

add test data for page translations
  integreat_cms/cms/fixtures/test_data.json
Due: none

added test data for pages
  integreat_cms/cms/fixtures/test_data.json
Due: none

initial test version
  tests/cms/utils/test_cancel_translation.py
Due: translations

Extend user permissions for external calendar column in event list
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/events/event_list_row.html
Due: djlint-django, translations

Add created by field to external calendar
  integreat_cms/cms/migrations/0107_update_externalcalendar.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/templates/events/external_calendar_list.html
  integreat_cms/cms/templates/events/external_calendar_list_row.html
  integreat_cms/cms/views/external_calendars/external_calendar_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

reformat import block
  tests/cms/utils/test_cancel_translation.py
Due: translations

remove content from test pages
  integreat_cms/cms/fixtures/test_data.json
  tests/cms/utils/test_cancel_translation.py
Due: translations

change test data to fix versions of new translations
  integreat_cms/cms/fixtures/test_data.json
  tests/cms/utils/test_cancel_translation.py
Due: translations

update api test expectations
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_de_pages.json
Due: translations

update sitemap expected queries
  tests/sitemap/sitemap_config.py
Due: translations

update hash for pdf export
  tests/pdf/test_pdf_export.py
Due: translations

update sitemap for augsburg_de
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
Due: none

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
