Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Fix return types
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Fix create override
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/models/chat/user_chat.py
Due: translations

Improve create override
  integreat_cms/cms/models/chat/user_chat.py
Due: translations

Add hint & fix message formatting
  integreat_cms/cms/utils/zammad.py
Due: translations

Fix argument types
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Fix formatting
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
Due: translations

add noqa
  integreat_cms/cms/utils/zammad.py
Due: translations

save_message type hints
  integreat_cms/cms/utils/zammad.py
Due: translations

mypy: skip linting of region and zammad_id attr
  integreat_cms/cms/utils/zammad.py
Due: translations

Define abstract properties
  integreat_cms/cms/utils/zammad.py
Due: translations

Fix incorrect_auth_error test
  integreat_cms/api/v3/chat/user_chat.py
  tests/api/test_api_chat.py
Due: translations

Fix incorrect server info
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  tests/api/test_api_chat.py
Due: translations

Chat: add user consent attribute
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Move Zammad logic into UserChat model
  integreat_cms/api/urls.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
  integreat_cms/cms/models/chat/attachment_map.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  pyproject.toml
  tests/api/test_api_chat.py
Due: translations

Add warning to mobile phone number in contact form
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

revert fax number in contact
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0119_add_mobile_number_and_fax_number_to_contact.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3473.yml
  tests/cms/views/contacts/test_contact_form.py
Due: djlint-django, translations

Fix migration
  integreat_cms/cms/migrations/0119_add_mobile_number_and_fax_number_to_contact.py
  integreat_cms/cms/migrations/0120_remove_fax_number_from_contact.py
Due: translations

Use side_effect
  tests/api/test_api_chat.py
Due: translations

fix gettext msgformat errors
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  integreat_cms/cms/views/organizations/organization_bulk_actions.py
  integreat_cms/cms/views/pages/page_bulk_actions.py
  integreat_cms/cms/views/utils/publication_status.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/summ_ai_api/summ_ai_api_client.py
Due: translations

Update documentation of commit 3a889567b5e3662e990f0a462043098e1de8e8b3 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Test tests
  tests/api/test_api_chat.py
Due: translations

last fixes
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3473.yml
Due: djlint-django, translations

Update documentation of commit bac18fa80a21b59c776dc4310f0bc50fc6a0ade4 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Adjust search method and fix tests
  integreat_cms/cms/models/contact/contact.py
  tests/cms/views/contacts/test_contact_utils.py
Due: translations

Show which pages user has access to
  integreat_cms/cms/templates/users/user_form.html
  integreat_cms/cms/views/users/user_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix tests & extend to region user form
  integreat_cms/cms/templates/users/_pages_with_observer_access.html
  integreat_cms/cms/templates/users/region_user_form.html
  integreat_cms/cms/templates/users/user_form.html
  integreat_cms/cms/views/users/region_user_form_view.py
  integreat_cms/cms/views/users/user_form_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/user.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix display of blog posts
  integreat_cms/release_notes/2025/2025.3.0/2808.yml
  integreat_cms/static/src/js/rss-feed.ts
Due: eslint

Add contact form to new poi
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3322.yml
  integreat_cms/static/src/js/ajax-contact-form.ts
Due: djlint-django, eslint, translations

Revive the permission check
  integreat_cms/cms/templates/pois/poi_form.html
Due: djlint-django, translations

Move automatically saved note
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/release_notes/current/unreleased/3327.yml
Due: djlint-django, translations

Add hint about mandatory fields in contact form
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3490.yml
Due: djlint-django, translations

Fix: phone numbers not being formatted any more
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
Due: eslint

Chat: add support for talk to human attribute
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Chat: add support for the user consent attribute
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Update documentation of commit c613e9bbe428dc02a0ce3d8e90369b5747e2b291 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix sidebar box spacing
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
Due: djlint-django, translations

Chat: refactor Zammad API
  integreat_cms/api/urls.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0121_remove_userchat_most_recent_hits_and_more.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/chat/attachment_map.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
  tests/api/test_api_chat.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
