Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit fcad316e53cc7c4b5d847a26500b5b80714a7fb7 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix tests for contact insertion
  tests/cms/views/contacts/test_contact_utils.py
Due: translations

Fixes for preview
  integreat_cms/cms/templates/pages/_page_preview_overlay.html
  integreat_cms/static/src/css/page_preview.css
Due: djlint-django, translations

Fix german translation in contact suggestion
  integreat_cms/cms/templates/contacts/contact_from_email_and_phone_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit b0ddfa5c7fece9d88feebf416168f72ce40f3a9c [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

only show MT-button if user has publish rights for a page
  integreat_cms/cms/forms/pages/page_translation_form.py
  tests/mt_api/test_mt_button_visibility.py
Due: translations

Update documentation of commit d148e89885b296b6ecc9343ed83553dfe019ea92 [skip ci]
  documentation.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update permission setting for contact
  integreat_cms/cms/migrations/0115_update_contact_permission.py
Due: translations

Update documentation of commit b29a77cc902135ca01fd537eb9dd1f675c7111e2 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Remove contact data fields from poi
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/fixtures/test_pois.json
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/migrations/0116_remove_poi_email_remove_poi_phone_number_and_more.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/ajax_poi_form/_poi_address_container.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/cms/views/contacts/contact_from_existing_data.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/api_config.py
  tests/cms/views/contacts/test_contact_form.py
Due: djlint-django, translations

Invert condition to link app-map instead of google maps for contacts
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi_translation.py
Due: translations

Show warning about contacts with an area of responsibility
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit a402e88dd5ea14bd7f764ce1e3f62f6f9faeef8f [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Show which pages user has access to
  integreat_cms/cms/templates/users/user_form.html
  integreat_cms/cms/views/users/user_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix hix color code
  integreat_cms/release_notes/current/unreleased/3467.yml
  integreat_cms/static/src/js/analytics/hix-widget.ts
Due: eslint

Merge page_tree_archived into page_tree
  integreat_cms/cms/templates/pages/_generic_page_tree.html
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/_page_tree_children.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_archived.html
  integreat_cms/cms/templates/pages/page_tree_archived_node.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/templates/statistics/_statistics_legend_item.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/statistics/__init__.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/tree-drag-and-drop.ts
  package-lock.json
  package.json
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Fix protected
  integreat_cms/cms/urls/protected.py
Due: translations

Fix tests
  tests/cms/views/view_config.py
Due: translations

Fix problems with devcontainer after ruff migration
  .devcontainer/devcontainer.json
Due: none

Reformat
  integreat_cms/cms/urls/protected.py
Due: translations

only users with publishing rights can archive pages
  integreat_cms/cms/templates/pages/page_form_sidebar/actions_box.html
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/release_notes/current/unreleased/3374.yml
  tests/cms/views/view_config.py
Due: djlint-django, translations

Add beta permission
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/migrations/0117_add_beta_permission.py
Due: translations

Release note for space in events
  integreat_cms/release_notes/current/unreleased/3424.yml
Due: none

Exclude broken links from archived regions
  integreat_cms/cms/utils/linkcheck_utils.py
Due: translations

Fix mypy
  integreat_cms/cms/utils/linkcheck_utils.py
Due: translations

Deliver all contacts of a poi to API
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3462.yml
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_locations.json
Due: djlint-django, translations

Fix live content in page preview
  integreat_cms/cms/forms/pages/mirrored_page_field_widget.py
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/release_notes/current/unreleased/3426.yml
Due: translations

Add management command to update link text
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/update_link_text.py
  tests/core/management/commands/test_update_link_text.py
Due: translations

Update documentation of commit d4ad82fa3e2b083692d911e32b65e3ba029cb9ac [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pages.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pages.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 60d465128d5a978f944b9baa1f3f348135ba999b [skip ci]
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pages.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pages.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix address doesn't show up in search
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/release_notes/current/unreleased/3464.yml
Due: translations

Deliver all contacts of a poi to API
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3460.yml
  integreat_cms/release_notes/current/unreleased/3462.yml
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_locations.json
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
