Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Fix GVZ API aliases
  integreat_cms/core/settings.py
  integreat_cms/gvz_api/apps.py
  integreat_cms/release_notes/current/unreleased/3655.yml
Due: translations

Fix redirect to language tree for contacts
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3667.yml
Due: translations

Fix checks
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

fix svg upload and thumbnails
  integreat_cms/cms/forms/media/upload_media_file_form.py
  integreat_cms/cms/models/media/media_file.py
Due: translations

scale up thumbnails of SVGs if defined as smaller, since they do not blur anyway
  integreat_cms/cms/utils/media_utils.py
Due: translations

Refactor clean method in region_form
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Exclude archived push notifications from the API result
  integreat_cms/api/v3/push_notifications.py
  tests/api/test_pushnotification_api.py
Due: translations

Update documentation of commit c42fefd892527695a811c8826b5df8622e400db3 [skip ci]
  debugging.html
  installation.html
  management-commands.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Add saving of page accesses tp statistics actions
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

fix test
  tests/api/test_pushnotification_api.py
Due: translations

Improve hit about mandatory fields of the contact form
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3624.yml
Due: djlint-django, translations

Add loading of page accesses from database
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Add page accesses model
  integreat_cms/cms/migrations/0133_add_page_accesses.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/statistics/__init__.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Apply suggestions from code review
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add opening hours to contacts
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0130_add_opening_hours_for_contacts.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/utils.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/pois/opening-hours/index.tsx
  tests/cms/views/contacts/test_contact_form.py
Due: djlint-django, eslint, translations

Add API endpoint
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
Due: translations

Fix migration order
  integreat_cms/cms/migrations/0134_add_opening_hours_for_contacts.py
Due: translations

Update documentation of commit 7ec9a62ac9afd1274ca6448513a00e3299b849c0 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Copy pois
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pois/__init__.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add dictionary conversion
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Merge changes from develop
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/statistics/page_accesses.py
Due: translations

Fix mypy
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Fix phone number spacing to prevent phone number breaking across lines
  integreat_cms/release_notes/current/unreleased/3694.yml
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
Due: eslint

Add constraint for language tree node
  integreat_cms/cms/forms/language_tree/language_tree_node_form.py
  integreat_cms/cms/migrations/0135_languagetreenode_language_tree_node_inactive_requires_invisible.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2133.yml
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
  tests/cms/models/languages/test_language_tree_node.py
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Edit dev server documentation
  docs/src/dev-server.rst
Due: none

Separate archived and not-archived push notifications in the search suggestion
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/views/utils/search_content_ajax.py
Due: djlint-django, translations

Update documentation of commit a1b17a2dfb31834565903fa1eda1aad90a0ceae4 [skip ci]
  packaging.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit bae6221a4436ae38440c49522643660da4a493b4 [skip ci]
  dev-server.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add release note
  integreat_cms/release_notes/current/unreleased/3270.yml
Due: none

Fix ghost child pages preventing parent page deletion
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/release_notes/current/unreleased/3144.yml
Due: translations

Update integreat_cms/release_notes/current/unreleased/3144.yml
  integreat_cms/release_notes/current/unreleased/3144.yml
Due: none

minor refactor to media file form
  integreat_cms/cms/forms/media/upload_media_file_form.py
Due: translations

fix updating sent scheduled push notifications
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
