Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit 3c7f98488b08e307302f230d0a4b849a9b42e589 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

fix gettext msgformat errors
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  integreat_cms/cms/views/organizations/organization_bulk_actions.py
  integreat_cms/cms/views/pages/page_bulk_actions.py
  integreat_cms/cms/views/utils/publication_status.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/summ_ai_api/summ_ai_api_client.py
Due: translations

Add pages with partial translation to region condition
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templatetags/pages_outdated_or_missing_translation.py
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Hide page tree tutorial
  integreat_cms/cms/templates/pages/pages_page_tree.html
Due: djlint-django, translations

Refactor existing tabs
  integreat_cms/cms/templates/_generic_multiple_select.html
  integreat_cms/cms/templates/pages/_page_permission_table.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add an attribute for elements to not collapse
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/static/src/js/collapsible-boxes.ts
Due: djlint-django, eslint, translations

api: sort push notifications by maximum of last_updated and sent_date
  docs/src/api-docs.rst
  integreat_cms/api/v3/push_notifications.py
Due: translations

Update documentation of commit 59a1902b48b96367c78b5783aa4bf0a1431b619b [skip ci]
  api-docs.html
  packaging.html
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 16a8a96da6f5949b69e4e2cf1f38b8b62e735803 [skip ci]
  api-docs.html
  packaging.html
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix display of blog posts
  integreat_cms/release_notes/current/unreleased/2808.yml
  integreat_cms/static/src/js/rss-feed.ts
Due: eslint

Hide page based statistics
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/migrations/0127_hide_page_based_statistics.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/statistics/statistics_overview.html
Due: djlint-django, translations

Add testroles
  integreat_cms/cms/fixtures/test_roles.json
Due: none

Update documentation of commit 16a8a96da6f5949b69e4e2cf1f38b8b62e735803 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 780f49117357c642dead5d39fd51900830eede0a [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Delete release note for statistics popup
  integreat_cms/release_notes/current/unreleased/3132.yml
Due: none

Update documentation of commit baf272f0c4d268582089956ddbe29a1c89701fc6 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Improve page based statistics popup
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0128_remove_user_statistics_tutorial_seen.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/tutorials/page_access_statistics.html
  integreat_cms/cms/views/settings/dismiss_tutorial_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tutorial-overlay.ts
Due: djlint-django, eslint, translations

Update documentation of commit 188059024f2104389bb1412fa767c9524ca95ee1 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.settings.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.settings.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Add bulk delete to entries
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_list.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/events/event_actions.py
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3122.yml
  integreat_cms/static/src/js/bulk-actions.ts
  tests/cms/views/bulk_actions.py
  tests/cms/views/events/test_event_form.py
  tests/cms/views/language_nodes/test_language_tree_node_actions.py
  tests/cms/views/pages/test_page_actions.py
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, eslint, translations

Fix: Bulk MT crashes
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/release_notes/current/unreleased/3644.yml
Due: translations

Add custom Chat privacy policy
  docs/src/api-docs.rst
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0129_remove_region_zammad_chat_handlers_and_more.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/utils/zammad.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/expected-outputs/regions.json
  tests/api/expected-outputs/regions_augsburg.json
  tests/api/expected-outputs/regions_berlin.json
  tests/api/expected-outputs/regions_nurnberg.json
Due: djlint-django, translations

Update documentation of commit 9c0ecc336bee6a517164c7c952b02d13c44ffcc3 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

restrict restoring pages to users that have publishing permissions
  integreat_cms/cms/templates/pages/page_form_sidebar/actions_box.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/__init__.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pages/page_bulk_actions.py
  integreat_cms/release_notes/current/unreleased/3512.yml
  tests/cms/views/view_config.py
Due: djlint-django, translations

Fix source link and count in linkchecker
  integreat_cms/cms/utils/linkcheck_utils.py
Due: translations

Update documentation of commit 1f727336d0c30e5fd31dc09f41133d1bf12d62d1 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
