Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Improve social media preview
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/api/v3/templates/social_media_headers.html
  integreat_cms/release_notes/current/unreleased/3163.yml
Due: djlint-django, translations

Incorparate feedback
  integreat_cms/release_notes/current/unreleased/3278.yml
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Fix plural and singular wording
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

feat: change message status about unchanged translation
  integreat_cms/cms/views/pages/page_bulk_actions.py
  tests/cms/utils/test_cancel_translation.py
Due: translations

refactor search in contacts: introduce FilterSortMixin, PaginationMixin and ContactSearchForm
  integreat_cms/cms/forms/contacts/contact_search_form.py
  integreat_cms/cms/forms/object_search_form.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/mixins.py
  integreat_cms/release_notes/current/unreleased/3881.yml
Due: translations

Update documentation of commit 83101c20888ef06b4d6e5557d836201bf34e662c [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.api.html
  ref-ext/tests.cms.utils.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.api.html
  ref/tests.cms.utils.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix tests
  tests/api/expected-outputs/social.html
  tests/api/expected-outputs/social_augsburg.html
  tests/api/expected-outputs/social_augsburg_de.html
  tests/api/expected-outputs/social_augsburg_de_child_page.html
  tests/api/expected-outputs/social_augsburg_de_event.html
  tests/api/expected-outputs/social_augsburg_de_location.html
  tests/api/expected-outputs/social_augsburg_de_page.html
  tests/api/expected-outputs/social_augsburg_de_pn.html
  tests/api/expected-outputs/social_landing.html
  tests/api/expected-outputs/social_landing_de.html
  tests/api/expected-outputs/social_landing_en.html
Due: djlint-django, translations

Add open source licences
  integreat_cms/cms/templates/imprint/open_source_licenses.html
  integreat_cms/cms/templates/release_notes/release_notes.html
  integreat_cms/cms/urls/public.py
  integreat_cms/cms/views/imprint/__init__.py
  integreat_cms/cms/views/imprint/open_source_licenses_view.py
  integreat_cms/cms/views/release_notes/release_notes_view.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3812.yml
Due: djlint-django, translations

Remove note that mobile phone number is not shown in app
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3473.yml
Due: djlint-django, translations

Update documentation of commit 9acf7118dcc0f885e5a7b20068b59a1cc25a850a [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

adjustments to github templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add area_of_responsibility to contact suggestion
  integreat_cms/cms/models/contact/contact.py
Due: translations

Update documentation of commit 1bc09bf4f71b066369d3272593c87c4016652d96 [skip ci]
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Speed up children API endpoint
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/models/pages/page.py
  tests/api/api_config.py
Due: translations

Only prefetch public page translations for children endpoint
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/models/pages/page.py
  tests/api/api_config.py
Due: translations

Log Celery into service journal
  integreat_cms/core/settings.py
Due: translations

Count accesses in the backend
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/pages/fetch-subpages.ts
Due: eslint, translations

bulk upload management command
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/bulk_media_upload.py
Due: translations

fix pre-commit ruff hook
  .pre-commit-config.yaml
Due: none

Create registry and Add search-query module
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/search-query.ts
  integreat_cms/static/src/registry.ts
  integreat_cms/static/src/types/index.d.ts
  package.json
  tools/npm/generateRegistry.ts
  tsconfig.json
Due: djlint-django, eslint, translations

Use different queues for Celery tasks, fix #4004
  example-configs/integreat-celery.service
  integreat_cms/integreat_celery/celery.py
  tools/run.sh
Due: translations

Update documentation of commit 64fe7fb655de7c7da394d751ddcf847d061fbce5 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.integreat_celery.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/integreat_cms.integreat_celery.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Log sources for Chat RAG responses
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Update documentation of commit cfb647332f54c348017b742211c8fa10e73d0b0a [skip ci]
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Install npm in circleci job
  .circleci/config.yml
Due: none

Add privacy policy and imprint link
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/authentication/_base.html
  integreat_cms/cms/urls/public.py
  integreat_cms/core/context_processors.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3882.yml
Due: djlint-django, translations

Remove action from library
  integreat_cms/static/src/js/media-management/library.tsx
Due: eslint

Update preact
  integreat_cms/static/src/js/media-management/component/button.tsx
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/preact-10.25.0-fix.d.ts
  package-lock.json
  package.json
Due: eslint

Refactor 'Replace media' button
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
Due: eslint

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
