Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Fix doc for location API response
  docs/src/api-docs.rst
Due: none

Update integreat_cms/cms/migrations/0139_rename_online_link_event_meeting_url.py
  integreat_cms/cms/migrations/0139_rename_online_link_event_meeting_url.py
Due: translations

Fix: unnecessary new windows open at bulk action after PDF export
  integreat_cms/release_notes/current/unreleased/3265.yml
  integreat_cms/static/src/js/bulk-actions.ts
Due: eslint

Refactor utils
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Add_forwarding_bulkaction_to_feedback
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/feedback/__init__.py
  integreat_cms/cms/views/feedback/region_feedback_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add cache workaround and optimize matomo calls
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/integreat_celery/celery.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Change Period from variable to constant
  docs/src/management-commands.rst
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/core/management/commands/fetch_page_accesses.py
  integreat_cms/integreat_celery/celery.py
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Some tweeks for management command
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/core/management/commands/fetch_page_accesses.py
Due: translations

Some cleaning up
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Refactor clean method in region_form
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Disable hix signals during cleanup_autosaves()
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/core/signals/hix_signals.py
Due: translations

Update documentation of commit 10ccd4d3c40872fa14b4d90eb791d4cdf927d594 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Move the box contact details up
  integreat_cms/cms/templates/pois/poi_form.html
Due: djlint-django, translations

Add an info text to contact details
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Deactivate area_of_responsibility for primary contact
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Support debug logging based on source IP
  integreat_cms/core/logging_filter.py
  integreat_cms/core/middleware/__init__.py
  integreat_cms/core/middleware/debug_request.py
  integreat_cms/core/settings.py
Due: translations

Update documentation of commit 9d0d055be503103ddbfedbe822d590f4fa2f1ca2 [skip ci]
  api-docs.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Disable hix signals during cleanup_autosaves()
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/core/signals/hix_signals.py
  integreat_cms/release_notes/current/unreleased/3819.yml
Due: translations

Miscalenous
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Support debug logging for specific users
  integreat_cms/core/logging_filter.py
  integreat_cms/core/middleware/__init__.py
  integreat_cms/core/middleware/debug_request.py
  integreat_cms/core/settings.py
Due: translations

Fix debug user logging
  integreat_cms/core/logging_filter.py
  integreat_cms/core/settings.py
Due: translations

Option to activate contacts
  docs/src/api-docs.rst
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0139_region_contacts_enabled.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  tests/api/expected-outputs/regions.json
  tests/api/expected-outputs/regions_augsburg.json
  tests/api/expected-outputs/regions_berlin.json
  tests/api/expected-outputs/regions_nurnberg.json
  tests/cms/models/contacts/test_contacts.py
  tests/cms/views/contacts/test_contact_form.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_api_test.py
  tests/sitemap/expected-sitemaps/sitemap-index.xml
Due: djlint-django, eslint, translations

Add management command to copy pois
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/copy_pois.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/core/management/commands/test_copy_pois.py
Due: translations

Optimize prefetching
  docs/src/management-commands.rst
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/core/management/commands/fetch_page_accesses.py
Due: translations

Optimize utils
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Update documentation of commit 3228e0ec97a564bdb7efb27f815c3a4339249517 [skip ci]
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Reduce loop complexity
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Hide the info message when contact is deactivated
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
Due: djlint-django, translations

Change the redirect message to info
  integreat_cms/cms/views/contacts/contact_list_view.py
Due: translations

Fix migration
  integreat_cms/cms/migrations/0139_auto_20250707_0624.py
  integreat_cms/cms/migrations/0139_make_existing_slugs_unique.py
Due: translations

Fix Ruff
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Fix generate_unique_slug for script duplication
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Fix constraint failure in tests
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Create unique slugs on the model level
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/migrations/0139_auto_20250707_0624.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/release_notes/current/unreleased/3060.yml
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/media/test_media_file.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Fix duplicate pages test
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
Due: translations

Add Constraint and Denormalize region
  integreat_cms/cms/migrations/0139_make_existing_slugs_unique.py
  integreat_cms/cms/migrations/0140_pagetranslation_region_and_more.py
  integreat_cms/cms/migrations/0141_page_update_translations_on_region_change_and_more.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/core/settings.py
  pyproject.toml
Due: translations

Fix TypeError
  integreat_cms/core/signals/cache_signals.py
Due: translations
