Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

revive the title
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix false positiv error in statistics in dashboard
  integreat_cms/release_notes/current/unreleased/3213.yml
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Add organization bulk actions
  integreat_cms/cms/templates/organizations/organization_list.html
  integreat_cms/cms/templates/organizations/organization_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/organizations/__init__.py
  integreat_cms/cms/views/organizations/organization_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2950.yml
Due: djlint-django, translations

Update documentation of commit 0f72f6738df58e11876430c41a44b4e143b8bc09 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add popup for information about page access statistics
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0111_add_statistics_tutorial_seen_to_user.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/generic_tutorial_dialog.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/tutorials/page_access_statistics.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/settings/dismiss_tutorial_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3132.yml
Due: djlint-django, translations

Add test for broken link actions
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/views/linkcheck/link_replace_view.py
  tests/cms/views/link_replace/test_link_actions.py
Due: translations

To be removed 2
  README.md
Due: none

Update tinymce to v7
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/pages/sbs-copy-content.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint

Add fax icon svg
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/2023/unreleased/3225.yml
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/svg/fax.svg
Due: djlint-django, eslint, translations

Add release note
  integreat_cms/release_notes/current/unreleased/1274.yml
Due: none

Update documentation of commit d8d1cbd224eb0730415a65e62c996e15922afabb [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update tinymce to v7 (#3083)
  integreat_cms/release_notes/current/unreleased/1274.yml
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/pages/sbs-copy-content.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint

Update documentation of commit 43c6117f8047e45b1dd610a130527ba5dd33ca71 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Document how to debug with PyCharm
  docs/src/debugging.rst
  docs/src/images/debugging/debug-pycharm-01-django-config.png
Due: none

Apply suggestions from code review
  tests/cms/views/regions/delete_region.py
Due: translations

Fix error with spacing in events
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/events/event_list_archived.html
  integreat_cms/cms/templates/events/event_list_archived_row.html
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/views/events/event_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3215.yml
Due: djlint-django, translations

Redirect to edit after creating a new organization
  integreat_cms/cms/views/organizations/organization_form_view.py
Due: translations

Fix release note of fax icon
  integreat_cms/release_notes/current/unreleased/3225.yml
Due: none

Update documentation of commit 68a5b6db321bf320176ef542c1cdbb2b02cb4247 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 110d8785ad1b0ca476843bdd60cc7913c6440322 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 93e3f47704a313824a5229b9f2cf7283f2768ed9 [skip ci]
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add additional language colors
  integreat_cms/cms/constants/language_color.py
  integreat_cms/cms/migrations/0111_alter_language_language_color.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2858.yml
Due: translations

Update documentation of commit d64f9d8895e661b462c358630de861c4b19b221b [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.models.languages.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.models.languages.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Document how to debug with PyCharm (#3235)
  docs/src/debugging.rst
  docs/src/images/debugging/debug-pycharm-01-django-config.png
Due: none

Merge page_tree_archived into page_tree
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix translation format
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Add template for statistics about viewed pages
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add _generic_page_tree.html
  integreat_cms/cms/templates/pages/_generic_page_tree.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add additional column to page tree on statistics
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix event creation
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/release_notes/current/unreleased/3223.yml
  tests/cms/views/events/test_event_form.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_api_test.py
Due: translations

Add test for organization actions
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/views/organizations/organization_actions.py
  integreat_cms/cms/views/organizations/organization_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/organizations/test_organization_actions.py
  tests/cms/views/organizations/test_organization_form.py
Due: translations

Update documentation of commit 15d888dddee565d7afea26bf423c6a4e6dabe13f [skip ci]
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Set up Celery for Integreat Chat
  .circleci/config.yml
  .gitignore
  integreat_cms/api/v3/chat/chat_bot.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/__init__.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
  integreat_cms/core/settings.py
  integreat_cms/integreat_celery/__init__.py
  integreat_cms/integreat_celery/apps.py
  integreat_cms/integreat_celery/celery.py
  integreat_cms/integreat_celery/migrations/__init__.py
  pyproject.toml
  tests/api/test_api_chat.py
  tools/run.sh
Due: translations

Fix missing backend titles for root pages in page tree and deleting tags for archive nodes
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_node.html
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
