Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Apply suggestions from code review
  integreat_cms/api/v3/feedback/search_result_feedback.py
  integreat_cms/cms/migrations/0123_add_automatical_feedback_to_searchresultfeedback.py
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/admin_feedback_list_row.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list_row.html
Due: djlint-django, translations

Add custom Chat privacy policy
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0123_remove_region_zammad_chat_handlers_and_more.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update test expected output
  docs/src/api-docs.rst
  tests/api/expected-outputs/regions.json
  tests/api/expected-outputs/regions_augsburg.json
  tests/api/expected-outputs/regions_berlin.json
  tests/api/expected-outputs/regions_nurnberg.json
Due: none

Update
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0123_contact_opening_hours.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
Due: djlint-django, translations

Update issue and PR templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update documentation of commit 4b036aa661ca96d99b6f478942fccd5086e5865c [skip ci]
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.feedback.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.media.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.utils.html
  ref-ext/integreat_cms.deepl_api.html
  ref-ext/integreat_cms.google_translate_api.html
  ref-ext/integreat_cms.summ_ai_api.html
  ref-ext/tests.api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.feedback.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.media.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.utils.html
  ref/integreat_cms.deepl_api.html
  ref/integreat_cms.google_translate_api.html
  ref/integreat_cms.summ_ai_api.html
  ref/tests.api.html
  ref/tests.html
  ref/tests.mt_api.html
  searchindex.js
Due: djlint-django, eslint, translations

Update contact cards when the relased POI is updated with a new address
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/release_notes/current/unreleased/3574.yml
Due: translations

Merge
  integreat_cms/cms/constants/calendar.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/pages/_generic_page_tree.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/release_notes/current/unreleased/100.yml
  integreat_cms/release_notes/current/unreleased/2930.yml
  integreat_cms/release_notes/current/unreleased/3078.yml
  integreat_cms/release_notes/current/unreleased/3266.yml
  integreat_cms/release_notes/current/unreleased/3279.yml
  integreat_cms/release_notes/current/unreleased/3290.yml
  integreat_cms/release_notes/current/unreleased/3309.yml
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

allow svg uploads in media library
  .circleci/config.yml
  .devcontainer/Dockerfile
  README.md
  docs/src/installation.rst
  flake.nix
  integreat_cms/cms/constants/allowed_media.py
  integreat_cms/cms/migrations/0123_allow_svg_uploads.py
  integreat_cms/cms/utils/media_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
Due: translations

Sketch cloning region with Celery
  integreat_cms/cms/forms/regions/region_form.py
Due: translations

Fix merge
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Sketch cloning region with Celery
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/core/settings.py
  tools/run.sh
Due: translations

Add search function to the organization list
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/templates/organizations/organization_list.html
  integreat_cms/cms/views/organizations/organization_list_view.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/1153.yml
Due: djlint-django, translations

Add release note for #3071
  integreat_cms/release_notes/current/unreleased/3071.yml
Due: none

implement fallback to locations opening hours + js toggle insanity
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/static/src/js/pois/opening-hours/index.tsx
Due: djlint-django, eslint, translations

Update documentation of commit 36469915ec1275c1bd50736f8bf45059b4c1fb38 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

allow svg uploads in media library
  .circleci/config.yml
  .devcontainer/Dockerfile
  README.md
  docs/src/installation.rst
  flake.nix
  integreat_cms/cms/constants/allowed_media.py
  integreat_cms/cms/migrations/0123_allow_svg_uploads.py
  integreat_cms/cms/utils/media_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3583.yml
  pyproject.toml
Due: translations

Update documentation of commit 605da24df1c4b984b08a044fc13ec1a5d56e4a4b [skip ci]
  documentation.html
  installation.html
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.organizations.html
  ref-ext/integreat_cms.cms.forms.users.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.media.html
  ref-ext/integreat_cms.cms.models.pois.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.organizations.html
  ref/integreat_cms.cms.forms.users.html
  ref/integreat_cms.cms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.pois.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/integreat_cms.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add search function to the contact list
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3484.yml
Due: djlint-django, translations

add archive_contact permission
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/migrations/0124_add_archive_contact_permission.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  tests/cms/views/contacts/test_contact_actions.py
Due: djlint-django, translations

only show MT-button if user has publish rights for a page
  integreat_cms/cms/forms/pages/page_translation_form.py
  integreat_cms/cms/views/pages/page_context_mixin.py
  integreat_cms/release_notes/current/unreleased/2961.yml
  tests/mt_api/test_mt_button_visibility.py
Due: translations

Refactor chat_bot.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Refactor page tree and add statistics
  integreat_cms/cms/templates/pages/_generic_page_tree_header.html
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/_page_tree_children.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_archived.html
  integreat_cms/cms/templates/pages/page_tree_archived_node.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/templates/statistics/_statistics_legend_item.html
  integreat_cms/cms/templates/statistics/statistics_chart.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/statistics/__init__.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
  integreat_cms/release_notes/current/unreleased/3130.yml
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/tree-drag-and-drop.ts
  package-lock.json
  package.json
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Remove Chat body attribute
  integreat_cms/cms/utils/zammad.py
Due: translations

Add popup for information about page access statistics
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0125_add_statistics_tutorial_seen_to_user.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/generic_tutorial_dialog.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/tutorials/page_access_statistics.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/settings/dismiss_tutorial_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3132.yml
Due: djlint-django, translations

Update documentation of commit ef89d0e01521b1a2ac2cb68ed6a3a483a16d14e8 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.settings.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.settings.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add documentation for debugging with VSCode
  docs/src/debugging.rst
Due: none

Set poi instance to none
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
Due: translations

Add search function to region conditions
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/views/region_condition/region_condition_view.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3593.yml
Due: djlint-django, translations

Fix typo in contact
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3591.yml
Due: none

Update documentation of commit 248d14d7419e3d55158c27d75e8978a3905ac99c [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix eslint
  integreat_cms/static/src/js/pois/opening-hours/index.tsx
Due: eslint

Fix ruff
  integreat_cms/cms/forms/contacts/contact_form.py
Due: translations
