Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

er
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations

migrations
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations

error fix
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations

update
  integreat_cms/cms/migrations/0146_alter_user_has_seen_page_tree_tutorial.py
Due: translations

Only update slug when title actually changes
  integreat_cms/static/src/js/forms/update-permalink.ts
Due: eslint

Simplify comment and clarify orphaned link cleanup
  integreat_cms/cms/views/language_tree/language_tree_actions.py
Due: translations

Refactor 'get' in 'page_form_view'
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit b6319b35b837fd55aa324df227f3034fe61fb6a4 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Delete latest_translations Filter
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Show page filter to all users
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/release_notes/current/unreleased/4003.yml
Due: djlint-django, translations

Add release note for unicode slug fix
  integreat_cms/release_notes/current/unreleased/4085.yml
Due: none

Update integreat_cms/release_notes/current/unreleased/4003.yml
  integreat_cms/release_notes/current/unreleased/4003.yml
Due: none

Merge
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Add download to page based statistics
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Fix styling
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint, translations

Revert weird merge changes
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

sort by only a single column at a time
  integreat_cms/cms/models/abstract_base_model.py
  integreat_cms/cms/templatetags/sort_tags.py
Due: translations

restore translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Update documentation of commit 3a6c2a7f11bff05158381d63fcce3273a10cdc2c [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Present contact details as list so multiline items are indented
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/static/src/css/contact_card.css
  tests/cms/views/contacts/test_contact_utils.py
Due: djlint-django, translations

Add change requests
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/core/management/commands/make_slugs_unique.py
Due: translations

Add change requests
  integreat_cms/static/src/js/media-management/filter-result-library.tsx
  integreat_cms/static/src/js/media-management/search-result-library.tsx
Due: eslint

Fix parameter handling
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Fix related contact creation bug
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/cms/views/pois/poi_form_view.py
Due: djlint-django, translations

Fix related contact creation bug (#4099)
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/cms/views/pois/poi_form_view.py
Due: djlint-django, translations

Update documentation of commit 83e0c3bc1f0eb428e8540b2110fd584c0b915f2c [skip ci]
  genindex.html
  objects.inv
  packaging.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Chat: store search term in debug message
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Fix ruff
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Fix changing slug if title not changed
  integreat_cms/static/src/js/forms/update-permalink.ts
Due: eslint

Fix exclude_current_object when foreign object has no ID yet
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Add change requests
  integreat_cms/static/src/js/forms/update-permalink.ts
Due: eslint

Add ASGI support
  integreat_cms/core/asgi.py
  pyproject.toml
Due: translations

Fix template
  integreat_cms/cms/templates/pois/poi_form.html
Due: djlint-django, translations

Update documentation of commit 375017f2cb75f997e925c9ad3ea0bde0b03c3bda [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Connect MT to Push Notification
  integreat_cms/cms/constants/machine_translatable_attributes.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/forms/push_notifications/push_notification_translation_form.py
  integreat_cms/cms/forms/translations/translations_management_form.py
  integreat_cms/cms/migrations/0148_region_machine_translate_pushnotifications.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_setting_box.html
  integreat_cms/cms/templates/push_notifications/push_notification_translation_box.html
  integreat_cms/cms/templates/translations/translations_management.html
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/push_notifications/test_push_notification_form_view.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_provider_assignment_test.py
Due: djlint-django, translations

enable tinymce plugins to read test_beta_features permission
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

revert changes to translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none
