Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Fix missing legend on png export in statistics
  integreat_cms/release_notes/current/unreleased/3266.yml
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Show sensible error message when attempting to add inactive users to pages
  integreat_cms/cms/views/pages/page_permission_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit d0035f9516d79a3978844a64ffb4fea67b178ea9 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Hide create button in archived contacts list
  integreat_cms/cms/templates/contacts/contact_list.html
Due: djlint-django, translations

Parse recurrence rules with `BYDAY` entries with frequency
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_conflicting_byday_and_bysetpos.ics
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_multiple_byday_frequencies.ics
  tests/cms/utils/test_external_calendar_utils.py
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Parse recurrence rules with `BYDAY` entries with frequency (#3273)
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_conflicting_byday_and_bysetpos.ics
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_multiple_byday_frequencies.ics
  tests/cms/utils/test_external_calendar_utils.py
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Update documentation of commit 52fcc18919bcc74f7a210a87259e0e5c90626129 [skip ci]
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix calendars not saving
  integreat_cms/cms/utils/external_calendar_utils.py
Due: translations

Update lucide version
  package-lock.json
  package.json
Due: none

Update documentation of commit 23be21d896661765f389d1e04d6c7c272b97868a [skip ci]
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Create contact links upon contact card insertion in TinyMCE
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/content_signals.py
Due: translations

Update documentation of commit 23be21d896661765f389d1e04d6c7c272b97868a [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 8ca08dd352bf259572ffbf260b2824a748e40512 [skip ci]
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add and start redis-server
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

release note 3078: Sensible error message when adding inactive users to pages
  integreat_cms/release_notes/current/unreleased/3078.yml
Due: none

Update documentation of commit 444dcc6e56ab433a6b175f6606a8b67e52a2723b [skip ci]
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add cronjob to import events from calendars
  integreat_cms/integreat_celery/celery.py
Due: translations

Make `eslint` catch console.log statements
  .eslintrc.js
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
Due: eslint

Prevent orphaned contact cards (#3282)
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/contact_card.css
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_archived_descendants.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/models/contacts/test_contacts.py
  tests/cms/test_duplicate_regions.py
  tests/cms/views/contacts/test_contact_actions.py
  tests/cms/views/poi/test_poi_form.py
  tests/pdf/files/89219cf973/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/test_pdf_export.py
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
  tests/sitemap/sitemap_config.py
Due: djlint-django, translations

Allow users to select shown contact details
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/views/utils/contact_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

Update documentation of commit 1852c627ef07c8db4dd45c097dd05d513d93e928 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.api.html
  ref-ext/tests.cms.html
  ref-ext/tests.pdf.html
  ref-ext/tests.sitemap.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.api.html
  ref/tests.cms.html
  ref/tests.pdf.html
  ref/tests.sitemap.html
  searchindex.js
Due: djlint-django, eslint, translations

Add ticket URL attribute to chat API
  integreat_cms/api/v3/chat/utils/zammad_api.py
  integreat_cms/cms/fixtures/test_data.json
Due: translations

Update documentation of commit f6cddaa9f8200cfbfd99b75cda012b34ef309624 [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.api.html
  ref-ext/tests.cms.html
  ref-ext/tests.pdf.html
  ref-ext/tests.sitemap.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.api.html
  ref/tests.cms.html
  ref/tests.pdf.html
  ref/tests.sitemap.html
  searchindex.js
Due: djlint-django, eslint, translations

Add test for broken link actions
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/views/linkcheck/link_replace_view.py
  tests/cms/views/link_replace/test_link_actions.py
Due: translations

Update documentation of commit 664ac8ff2eb6258450126e1f031d1c7bf81138fe [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add filter for external calendar
  integreat_cms/cms/constants/calendar.py
  integreat_cms/cms/forms/events/event_filter_form.py
  integreat_cms/cms/templates/events/_event_filter_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Make `eslint` catch console.log statements (#3340)
  .eslintrc.js
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
Due: eslint

Update documentation of commit 12ec17a243912099b498498aeed3cec8628fc707 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add release note for external calendars
  integreat_cms/release_notes/current/unreleased/100.yml
Due: none

Fix existing tests
  tests/cms/views/view_config.py
Due: translations

Fix format
  tests/cms/views/view_config.py
Due: translations

Remove ical weekday parsing code
  integreat_cms/cms/utils/external_calendar_utils.py
  pyproject.toml
Due: translations

Simplify a bit
  integreat_cms/cms/utils/external_calendar_utils.py
Due: translations

Change translation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Update documentation of commit 3fd9bb8e74bd851d522323d32609b85ae3c6e238 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix UserChat object filter
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
