Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

update core-js
  package-lock.json
  package.json
Due: none

let linkcheck run inline
  integreat_cms/cms/linklists.py
  integreat_cms/core/management/commands/loaddata.py
  integreat_cms/core/management/commands/migrate.py
Due: translations

Refactor page-accesses
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Fix linting errors
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Add change request
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Add small refactor
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Refactor page-accesses (#3925)
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Update documentation of commit 150c9fa6a8c4e1a4f4c24d9c5ee3e83755ac49d9 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update integreat_cms/cms/utils/shortcodes/page.py
  integreat_cms/cms/utils/shortcodes/page.py
Due: translations

Mark hix tests as last
  tests/cms/views/utils/test_hix.py
Due: translations

Update documentation of commit 35332aa0b6d11d41b8be3f3d0b1c8b262263dab2 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add setting in region settings to enable term explanations
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0144_add_term_explanations_setting.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix handling missing DTEND
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/release_notes/current/unreleased/3958.yml
Due: translations

Fix internal server error when no event start time is given
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/release_notes/current/unreleased/3945.yml
Due: translations

Update documentation of commit e0b7d8803102606cc458df3e02748b178b95b096 [skip ci]
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Change pretter config to ignore manifest file
  .prettierignore
Due: none

Update eslint and prettier packages
  .eslintrc.js
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/forms/tinymce-init.ts
  package-lock.json
  package.json
Due: eslint

Update documentation of commit b75b88429758513f10c0344ec8d62f0f9f58a728 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

style: format region_timezone_filter.ts with Prettier
  integreat_cms/static/src/js/region_timezone_filter.ts
Due: eslint

Support of postgres 18 in devcontainers
  .devcontainer/docker-compose.yml
Due: none

Catch matomo loading errors
  docs/src/management-commands.rst
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Update documentation of commit 987b24ace74ee7c0b29d47c51937480c643f58ad [skip ci]
  management-commands.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Reverted DST logic, added only timezone to timeSlots and added timezone field to tests, resolved prettier issue
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/fixtures/test_pois.json
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_en_locations.json
Due: translations

Revert "Let linkcheck run inline"
  integreat_cms/cms/linklists.py
  integreat_cms/core/management/commands/loaddata.py
  integreat_cms/core/management/commands/migrate.py
Due: translations

Update documentation of commit a9f729d594033f9012582534573cdd3c200afff5 [skip ci]
  api-docs.html
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.feedback.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Append LOCATION to DESCRIPTION when importing external calendar events Appends the LOCATION field to DESCRIPTION during iCal event import so users can see participati on info (e.g. address or link).
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/release_notes/current/unreleased/3967.yml
Due: translations

Add option to select all languages in page based statistics
  integreat_cms/cms/templates/statistics/_statistics_legend.html
  integreat_cms/cms/templates/statistics/_statistics_legend_item.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3277.yml
  integreat_cms/release_notes/current/unreleased/3278.yml
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Track generated chat words
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0145_userchat_created_timestamp_and_more.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/templates/dashboard/_public_chat_stats.html
  integreat_cms/cms/templates/dashboard/dashboard.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/utils/zammad.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/core/context_processors.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3695.yml
  tests/cms/models/chat/test_user_chat.py
Due: djlint-django, translations

Update integreat_cms/release_notes/current/unreleased/3967.yml
  integreat_cms/release_notes/current/unreleased/3967.yml
Due: none
