Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit 405f2023ce29401ff738c9cf0f19a298ec2e096d [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Chat: add support for talk to human attribute
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Chat: add support for the user consent attribute
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
Due: translations

Add API rate limiting decorator
  docs/src/prod-server.rst
  example-configs/apache2-integreat-vhost.conf
  integreat_cms/api/decorators.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/core/settings.py
  tests/api/test_api_chat.py
Due: translations

Chat: refactor Zammad API
  integreat_cms/api/urls.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0094_add_userchat_fields.py
  integreat_cms/cms/migrations/0121_remove_userchat_most_recent_hits_and_more.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/chat/attachment_map.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
  tests/api/test_api_chat.py
Due: translations

Refactor linkcheck utils and exclude broken links from archived regions
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/contacts/contact_from_existing_data.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/core/management/commands/fix_internal_links.py
  integreat_cms/release_notes/current/unreleased/3458.yml
Due: djlint-django, translations

Update twine to support Metadata-Version: 2.4
  pyproject.toml
Due: none

Update documentation of commit 85a3d7e1d61e885bc50ac95079c3b9a15141a4c7 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix license name
  pyproject.toml
Due: none

Update documentation of commit b5c46e29a99723065e4dc8399f402f5a8c186fe3 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Drop root privileges for celery worker
  .gitignore
  tools/run.sh
Due: none

Update license expression in pyproject.toml
  pyproject.toml
Due: none

Update documentation of commit cfe860f728d6dc3419ea157b2bdc84afac33c61c [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 8a559dfa06046d12322094958da0157ea82915c3 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Refactor translation API clients
  integreat_cms/deepl_api/deepl_api_client.py
Due: translations

Make check_usage obsolete
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/deepl_api/deepl_api_client.py
Due: translations

Move methods to parent class, implement changes for Google
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
Due: translations

Fix MyPy
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/word_count.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/summ_ai_api/summ_ai_api_client.py
Due: translations

Fix translations, bad imports
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fix tracking of translations
  integreat_cms/core/utils/machine_translation_api_client.py
Due: translations

Add option to not translate title of content
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/migrations/0122_event_do_not_translate_title_and_more.py
  integreat_cms/cms/migrations/0123_alter_event_do_not_translate_title_and_more.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/templates/events/event_form_sidebar/minor_edit_box.html
  integreat_cms/cms/templates/pages/page_form_sidebar/minor_edit_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/minor_edit_box.html
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2311.yml
Due: djlint-django, translations

Extend test for event
  tests/cms/views/events/test_event_form.py
Due: translations

Improve speed of page duplication in region cloning
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/release_notes/current/unreleased/3244.yml
Due: translations

Chat: keep internal messages internal
  integreat_cms/cms/utils/zammad.py
Due: translations

restrict bulk archive for pages to users with publishing rights
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/__init__.py
  integreat_cms/cms/views/pages/page_bulk_actions.py
  integreat_cms/release_notes/current/unreleased/3486.yml
  tests/cms/views/view_config.py
Due: djlint-django, translations

add archive_contact permission
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/migrations/0122_add_archive_contact_permission.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  tests/cms/views/contacts/test_contact_actions.py
Due: djlint-django, translations

Chat: ignore not translated messages
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Add test
  tests/mt_api/mt_api_test.py
Due: translations

Fix migration
  integreat_cms/cms/migrations/0122_add_do_not_translate_title_field.py
  integreat_cms/cms/migrations/0122_event_do_not_translate_title_and_more.py
Due: translations

Chat: ignore not translated messages
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Update documentation of commit dc1b95de0d8732b79575a03917a12cf7204f1654 [skip ci]
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  searchindex.js
Due: djlint-django, eslint, translations

Catch Integreat Chat error messages
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Update documentation of commit 6b52e918d78f20095ba87df33aaacb624eff130b [skip ci]
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
