Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Separate archived and not-archived push notifications in the search suggestion
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/views/utils/search_content_ajax.py
Due: djlint-django, translations

Exclude archived push notifications from the API result
  integreat_cms/api/v3/push_notifications.py
  tests/api/test_pushnotification_api.py
Due: translations

Improve hit about mandatory fields of the contact form
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3624.yml
Due: djlint-django, translations

fix svg upload and thumbnails
  integreat_cms/cms/forms/media/upload_media_file_form.py
  integreat_cms/cms/models/media/media_file.py
Due: translations

minor refactor to media file form
  integreat_cms/cms/forms/media/upload_media_file_form.py
Due: translations

Fix style of disabled outline button
  integreat_cms/release_notes/current/unreleased/3276.yml
  integreat_cms/static/src/css/style.scss
Due: none

scale up thumbnails of SVGs if defined as smaller, since they do not blur anyway
  integreat_cms/cms/utils/media_utils.py
Due: translations

Exclude mobile phone numbers of contact from the link list
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/release_notes/current/unreleased/3668.yml
Due: translations

Fix redirect to language tree for contacts
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3667.yml
Due: translations

Add opening hours to contacts
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0135_add_opening_hours_for_contacts.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/utils.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/pois/opening-hours/index.tsx
  tests/cms/views/contacts/test_contact_form.py
Due: djlint-django, eslint, translations

Add event location link
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0136_event_online_link.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3194.yml
  integreat_cms/static/src/js/poi-box.ts
Due: djlint-django, eslint, translations

Update username form and settings template
  integreat_cms/cms/forms/users/user_name_form.py
  integreat_cms/cms/templates/settings/user_settings.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add release note for issue #1124
  integreat_cms/release_notes/current/unreleased/1124.yml
Due: none

Option to activate contacts
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0136_region_contacts_enabled.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 492d748613db38de2afc84062b278450a9c213ba [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Allow pois used by past events to be archived
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3570.yml
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, translations

Add online_link and appointment_url to API
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0137_alter_event_online_link.py
  integreat_cms/cms/models/events/event.py
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_en_events.json
Due: translations

Fix: contact update and create without beta permission
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/views/contacts/contact_form_ajax_view.py
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  tests/cms/views/contacts/test_contact_form.py
Due: translations

skip linkcheck when cloning a region to improve performance
  integreat_cms/cms/forms/regions/region_form.py
  tests/cms/test_duplicate_regions.py
Due: translations

Update documentation of commit 4ccac3ab9a92af8a97e352ccb2b8d609fcbba440 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit a4b5cd52223da2d961e681d1442c5c575f81c2ba [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/tests.cms.html
  searchindex.js
Due: djlint-django, eslint, translations

Remove (0) from phone number formatting
  integreat_cms/cms/migrations/0137_adopt_new_phone_number_format.py
  integreat_cms/cms/utils/link_utils.py
  integreat_cms/release_notes/current/unreleased/3712.yml
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
  tests/cms/views/contacts/test_contact_form.py
Due: eslint, translations

Improve contact search for contact card insertion
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/views/utils/contact_utils.py
  integreat_cms/release_notes/current/unreleased/3626.yml
Due: translations

Comment out test_command_succeeds
  tests/core/management/commands/test_update_link_text.py
Due: translations

WIP test db snapshot fixture
  tests/cms/utils/test_content_utils.py
  tests/cms/utils/test_repair_tree.py
  tests/cms/utils/test_tree_mutex.py
  tests/conftest.py
Due: translations

Add celery job to fetch page accesses
  docs/src/management-commands.rst
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/core/management/commands/fetch_page_accesses.py
  integreat_cms/integreat_celery/celery.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Add saving of page accesses to statistics actions
  integreat_cms/cms/migrations/0137_alter_pageaccesses_access_date.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

fix upload of PDFs
  integreat_cms/cms/forms/media/upload_media_file_form.py
  integreat_cms/release_notes/current/unreleased/3743.yml
Due: translations

Added change requests from CR
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/bulk_actions.py
  tests/cms/views/events/test_event_form.py
  tests/cms/views/language_nodes/test_language_tree_node_actions.py
  tests/cms/views/pages/test_page_actions.py
  tests/cms/views/poi/test_poi_form.py
Due: translations

Update documentation of commit e7e4d89411c4c64d2721245375fa0a850b925e86 [skip ci]
  documentation.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.views.media.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.gvz_api.html
  ref-ext/integreat_cms.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.views.media.html
  ref/integreat_cms.core.html
  ref/integreat_cms.gvz_api.html
  ref/integreat_cms.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit e7e4d89411c4c64d2721245375fa0a850b925e86 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add option to delete single push notification
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/push_notifications/__init__.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3354.yml
Due: djlint-django, translations

Copy pois
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pois/__init__.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3270.yml
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
