Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

add release note
  integreat_cms/release_notes/current/unreleased/4187.yml
Due: none

Update documentation of commit 5997d4fe84e3e85da147a0308e4cd0d5e6bedbac [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

fix releases without release notes
  .circleci/config.yml
Due: none

add get_safe_page helper method to catch EmptyPage exception in ModelListView
  integreat_cms/cms/views/list_views.py
  integreat_cms/cms/views/mixins.py
  integreat_cms/release_notes/current/unreleased/3249.yml
Due: translations

Update documentation of commit 7da9a88bd829ad63d4545b7364cfa22c64161404 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.language_tree.html
  ref-ext/integreat_cms.cms.views.languages.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.poi_categories.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.users.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.language_tree.html
  ref/integreat_cms.cms.views.languages.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.poi_categories.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.users.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

add release not for #4220
  integreat_cms/release_notes/current/unreleased/4220.yml
Due: none

Fix failing ajax POI creation
  integreat_cms/cms/templates/ajax_poi_form/_poi_form_widget.html
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/contact_utils.py
Due: djlint-django, translations

Update documentation of commit 8538e73d24b6096957bf1c34b763b2cb1b7aa624 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix imports in index.ts
  integreat_cms/static/src/index.ts
Due: eslint

Use issue forms (.yml) instead of issue templates (.md)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/meta.yml
  .github/ISSUE_TEMPLATE/research.yml
  .github/ISSUE_TEMPLATE/story.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: none

Update documentation of commit 9aee12ce7d0a2cc43ea35594243f77962f435cf0 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

add sortable table headers in POI list view
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/templatetags/sort_tags.py
  integreat_cms/cms/views/mixins.py
  integreat_cms/cms/views/pois/poi_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/1936.yml
Due: djlint-django, translations

Update documentation of commit 85a125c40646ffd81952e20748441f5916e62d65 [skip ci]
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.languages.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.poi_categories.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.users.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.languages.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.poi_categories.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.users.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

use MAX_RETRY to determine when to raise IntegrityError
  integreat_cms/cms/utils/content_translation_utils.py
Due: translations

Upgrade to Django 5.2 & support Python 3.13
  integreat_cms/cms/forms/linkcheck/link_replace_form.py
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/models/events/recurrence_rule.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/deepl_api/deepl_provider.py
  integreat_cms/google_translate_api/google_translate_provider.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
  tests/api/api_config.py
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf
Due: djlint-django, translations

catch database error and display meaningful error messages on conflicting translation versions
  integreat_cms/cms/views/utils/publication_status.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

use save_new_version_with_retry instead of plain translation.save() in bulk actions
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/utils/content_translation_utils.py
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/xliff/utils.py
Due: translations

revert changes to xliff because unique version constraints are used to detect duplicates
  integreat_cms/xliff/utils.py
Due: translations

avoid database hits in get_repr
  integreat_cms/cms/models/abstract_content_translation.py
Due: translations

Remove beta permissions
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/release_notes/current/unreleased/4133.yml
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

extract suggested search tokens from latest version only on translation models
  integreat_cms/cms/models/abstract_content_translation.py
Due: translations

extract suggested search tokens from latest version only on pages
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/search/search_fields.py
Due: translations

Refactor network area and team memberships
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/fixtures/test_roles.json
  integreat_cms/cms/fixtures/test_users.json
  integreat_cms/cms/forms/users/user_filter_form.py
  integreat_cms/cms/forms/users/user_form.py
  integreat_cms/cms/migrations/0152_remove_app_team_role.py
  integreat_cms/cms/templates/users/user_list.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/locale/nl/LC_MESSAGES/django.po
  tests/cms/views/users/test_user_search.py
  tests/conftest.py
  tests/summ_ai_api/summ_ai_test.py
Due: djlint-django, translations

fix sort by related m2m fields in POI list view
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/views/mixins.py
  integreat_cms/cms/views/pois/poi_list_view.py
  tests/cms/views/poi/test_poi_list_sort.py
Due: djlint-django, translations

Refactor post of poi_form_view
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Update documentation of commit b915f0e703fb1cbc4ce18ff58a7514daba7f79ae [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

set INTEGREAT_CMS_DB_PORT to INTEGREAT_CMS_DOCKER_LISTEN_PORT if docker is used to avoid port mismatch
  tools/test.sh
Due: none

avoid spinning up a broken postgres container if INTEGREAT_CMS_DB_PORT is set to a different value then default 5432
  tools/_functions.sh
Due: none

Add trigger constraint for slugs
  ADR/0003-database-triggers-for-complex-database-constraint.md
  integreat_cms/cms/migrations/0153_enforce_slug_uniqueness.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/core/settings.py
  pyproject.toml
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

pass --update-snapshot argument to pytest and fix indentation on generated snapshot files
  tests/api/test_api_result.py
  tools/test.sh
Due: translations

Fix bug
  integreat_cms/core/management/commands/import_pois_from_csv.py
Due: translations

Exclude pages without public translations from mirrored page selection
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/migrations/0154_cleanup_mirrored_pages.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/release_notes/current/unreleased/4259.yml
Due: translations

Add Frag Integreat per language statistics
  integreat_cms/cms/templates/dashboard/_public_chat_stats.html
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations
