Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit aa7e663e2c9e9dce707efcf8c38fe1a5af2129f2 [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

differentiate error logic between one-time/long-term events and between end_date/end-time
  integreat_cms/cms/forms/events/event_form.py
Due: translations

add release note
  integreat_cms/release_notes/current/unreleased/4108.yml
Due: none

add field validators for latitude and longitude in Locations (#4413)
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4108.yml
Due: translations

Update documentation of commit 4c485c43d10e7f9c79083de767f8eaf9ed508144 [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pois.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pois.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

fix: add relative positioning to map container to contain Maplibre canvas
  integreat_cms/cms/templates/pois/poi_form_sidebar/position_box.html
Due: djlint-django, translations

Only blacken the entered location
  integreat_cms/cms/templates/ajax_poi_form/_base_poi_box.html
  integreat_cms/cms/templates/events/_event_filter_form.html
  integreat_cms/static/src/js/poi-box.ts
Due: djlint-django, eslint, translations

4349: Removed chat_enabled setting (#4421)
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0156_remove_region_chat_enabled.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/chat/chat_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4349.yml
Due: djlint-django, translations

Add release note
  integreat_cms/release_notes/current/unreleased/4243.yml
Due: none

Change error message for incorrect dates in the past in Events (#4414)
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4243.yml
Due: translations

Fix overflow in the position widget in the poi form
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/release_notes/current/unreleased/4401.yml
Due: djlint-django, translations

Refactor bulk-actions.ts as feature module
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_list.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templates/organizations/organization_list.html
  integreat_cms/cms/templates/pages/_generic_page_tree_header.html
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/bulk-actions.ts
  integreat_cms/static/src/js/feature/bulk-actions.ts
  integreat_cms/static/src/js/pages/fetch-subpages.ts
Due: djlint-django, eslint, translations

Improve Frag Integreat message processing
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/utils/zammad.py
  integreat_cms/core/settings.py
Due: translations

Fix region scope for render_contact_card
  integreat_cms/cms/forms/custom_content_model_form.py
  integreat_cms/cms/utils/content_translation_utils.py
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/core/signals/contact_signals.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/utils/test_content_utils.py
  tests/cms/utils/test_external_calendar_utils.py
Due: translations

preserve Link.ignore flag through link text changes and content translation version bumps
  integreat_cms/cms/apps.py
  integreat_cms/cms/forms/custom_content_model_form.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/utils/content_translation_utils.py
  integreat_cms/cms/utils/link_ignore_preservation.py
  integreat_cms/core/management/commands/fix_internal_links.py
  integreat_cms/core/management/commands/update_link_text.py
  integreat_cms/release_notes/current/unreleased/3859.yml
  tests/cms/utils/test_internal_link_checker.py
Due: translations

Add amal news as external news souce
  docs/src/api-docs.rst
  integreat_cms/api/urls.py
  integreat_cms/api/v3/news.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/news_managers/abstract_news_manager.py
  integreat_cms/news_managers/amalnews_manager.py
  integreat_cms/news_managers/pushnews_manager.py
  integreat_cms/news_managers/registry.py
  tests/api/test_news_endpoint.py
  tests/conftest.py
  tests/news_managers/test_tunews_manager.py
Due: translations

Fix error when a lower cased slug is being used already
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/events/test_event_form.py
  tests/cms/views/pages/test_page_form.py
  tests/cms/views/poi/test_poi_form.py
Due: translations

Update documentation of commit 769a3bb386e3eabf3e125bbf63ff39f074e9ed7a [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

additional guardrails for fix_internal_links: make transaction atomic, check content object and if translation object exists
  integreat_cms/core/management/commands/fix_internal_links.py
  tests/core/management/commands/test_fix_internal_links.py
Due: translations

4300: Add published date to endpoints
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/api/v3/locations.py
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/migrations/0156_event_first_published_at_and_more.py
  integreat_cms/cms/migrations/0157_populate_first_published_at.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/news_managers/abstract_news_manager.py
  integreat_cms/news_managers/pushnews_manager.py
  integreat_cms/news_managers/tunews_manager.py
  integreat_cms/release_notes/current/unreleased/4300.yml
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_ar_pages.json
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_archived_descendants.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_de_page_1.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_events.json
  tests/api/expected-outputs/nurnberg_en_locations.json
  tests/cms/models/events/test_event_translation.py
  tests/news_managers/test_tunews_manager.py
Due: translations

4300: Ran code_style script to format files and fixed translations file
  integreat_cms/cms/migrations/0156_event_first_published_at_and_more.py
  integreat_cms/cms/migrations/0157_populate_first_published_at.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add page title to export of page based statistics
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Update documentation of commit b6c4e4f94f7ee2c3206a7e52a00235d24a6673ed [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

4300: fix amal news after syncing with develop
  integreat_cms/cms/migrations/0157_event_first_published_at_and_more.py
  integreat_cms/cms/migrations/0158_populate_first_published_at.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/news_managers/amalnews_manager.py
  tests/news_managers/test_tunews_manager.py
Due: translations

Add more logger message to import_external_news
  integreat_cms/news_managers/tunews_manager.py
Due: translations

Update documentation of commit ae3bfd69962c6a57992ea978f078db5014bb09f1 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.news_managers.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.news_managers.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/integreat_cms.news_managers.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.news_managers.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

docs: fix 1 broken link(s) via archive.org
  README.md
Due: none

inherit link ignore flag on new content objects within region
  integreat_cms/cms/apps.py
  integreat_cms/cms/utils/link_ignore_preservation.py
  tests/cms/utils/test_internal_link_checker.py
Due: translations

Add style for event filter form
  integreat_cms/cms/templates/events/_event_filter_form.html
Due: djlint-django, translations

scope link.ignore inheritance to non-archived links only
  integreat_cms/cms/utils/link_ignore_preservation.py
  tests/cms/utils/test_internal_link_checker.py
Due: translations

Bugfix: select all action in feedback outside checkbox
  integreat_cms/cms/templates/feedback/admin_feedback_list.html
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/release_notes/current/unreleased/4237.yml
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/grids/toggle-grid-checkbox.ts
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
