Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Pytest: Enable using markers
  tools/test.sh
Due: none

docs: update tools.rst
  docs/src/tools.rst
Due: none

Fix contact cards details editing
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/views/utils/contact_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Rename offline app to phone app
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Update documentation of commit 2f9f754dfdddd0d7ba52379b03491458fe06e6e3 [skip ci]
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.matomo_api.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.matomo_api.html
  searchindex.js
Due: djlint-django, eslint, translations

Revert "Fix news_id to be number type"
  integreat_cms/firebase_api/firebase_api_client.py
Due: translations

send_push_notifications: 1-based counting, improve messages
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/core/management/commands/send_push_notifications.py
  integreat_cms/firebase_api/firebase_api_client.py
Due: translations

test.sh: improve test selection message
  tools/test.sh
Due: none

tools/ruff.sh: Allow restricting checking to specific subtrees
  tools/ruff.sh
Due: none

Reformat phone numbers in the contact form
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/core/settings.py
  tests/cms/views/contacts/test_contact_form.py
Due: djlint-django, translations

Fix styling of page preview
  integreat_cms/cms/templates/pages/_page_preview_overlay.html
  integreat_cms/release_notes/current/unreleased/3072.yml
  integreat_cms/static/src/css/page_preview.css
  integreat_cms/static/src/css/style.scss
Due: djlint-django, translations

Fix black bar on contact bar background icon
  integreat_cms/static/src/css/contact_card.css
Due: none

Add HIX to region condition
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templatetags/hix_pages.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 086f7b0b009f0f6833c843282f6c155b3c596954 [skip ci]
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.matomo_api.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.matomo_api.html
  searchindex.js
  tools.html
Due: djlint-django, eslint, translations

Fix pagination and add administrative division to region condition
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 5a73a3fe6a54d5672f077e0aa39bd3c0aa4c1be6 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 402b615695ca4c50d3c21ac272ad53755b4266c7 [skip ci]
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit b485a5ec4a800d1f48396a188eff9a1438676ba2 [skip ci]
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.push_notifications.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.push_notifications.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.firebase_api.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.push_notifications.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.push_notifications.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/integreat_cms.firebase_api.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  searchindex.js
Due: djlint-django, eslint, translations

Do not allow users to insert empty contact cards
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

Offer long-term event
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/forms/events/recurrence_rule_form.py
  integreat_cms/cms/migrations/0113_alter_event_end.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/events/_event_duration_tab.html
  integreat_cms/cms/templates/events/event_form_sidebar/date_and_time_box.html
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3070.yml
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/event-duration.ts
  integreat_cms/static/src/js/events/conditional-fields.ts
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/core/management/commands/assets/calendars/event_with_daily_recurrence.ics
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/test_import_events.py
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
  tests/sitemap/sitemap_config.py
Due: djlint-django, eslint, translations

Refactor event filter
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_filter_form.py
Due: translations

Adjust event filter regarding recurrence
  integreat_cms/cms/constants/recurrence.py
  integreat_cms/cms/forms/events/event_filter_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add test for event filter
  tests/cms/views/events/test_event_filter.py
Due: translations

Add release note
  integreat_cms/release_notes/current/unreleased/3379.yml
Due: none

Fix test
  tests/cms/test_duplicate_regions.py
Due: translations

Fix minor translation error
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/regions/delete_region.py
Due: translations

Rename 'point of contact for' to 'area of responsibility'
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0113_rename_point_of_contact_for.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/models/contacts/test_contacts.py
  tests/cms/views/contacts/test_contact_form.py
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, translations

Fix typo when inserting contact
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Update documentation of commit d8dcab1b2e2bf1a00ba062d46c210fbdc04283bd [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
