Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Move constants to the top level
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Remove unused eslint directive
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Replace `@import` with `@use` in scss files
  integreat_cms/static/src/css/style.scss
Due: none

Disable eslint rule `no-param-reassign`
  eslint.config.mjs
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/feature/bulk-actions.ts
  integreat_cms/static/src/js/filter-form.ts
  integreat_cms/static/src/js/machine-translation-overlay.ts
  integreat_cms/static/src/js/mutually-exclusive-checkboxes.ts
  integreat_cms/static/src/js/pages/fetch-subpages.ts
  integreat_cms/static/src/js/pages/toggle-subpages.ts
  integreat_cms/static/src/js/pages/xliff-export-overlay.ts
  integreat_cms/static/src/js/pages/xliff-import.ts
  integreat_cms/static/src/js/places/opening-hours/component/opening-hours-input-fields.tsx
  integreat_cms/static/src/js/places/place-map.ts
  integreat_cms/static/src/js/revisions.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  integreat_cms/static/src/js/unsaved-warning.ts
  integreat_cms/static/src/js/user/organization.ts
Due: eslint

Remove unused `export` qualifier
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

4492: Fixed contact card replace error
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/release_notes/current/unreleased/4492.yml
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/utils/test_content_utils.py
Due: translations

4492: Wrapped the contact card instead of skipping it
  integreat_cms/cms/utils/content_utils.py
  tests/cms/utils/test_content_utils.py
Due: translations

4492: Fixed contact_card replace error (#4586)
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/release_notes/current/unreleased/4492.yml
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/utils/test_content_utils.py
Due: translations

Offer a budget outside the package sizes as an extra dropdown option
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/regions/test_release_api_management.py
Due: translations

Take the slug as an explicit parameter in release_api_management
  integreat_cms/cms/views/regions/region_actions.py
Due: translations

4574: Fix incorrect link to the news
  integreat_cms/api/urls.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/utils/internal_link_checker.py
  integreat_cms/release_notes/current/unreleased/4574.yml
  tests/api/api_config.py
  tests/api/expected-outputs/social_augsburg_de_pn.html
  tests/api/test_api_raw_content.py
  tests/cms/utils/test_internal_link_checker.py
Due: djlint-django, translations

revert changes to CELERY_BROKER_URL such that tasks fail loudly instead of writing to a queue that is never consumed
  integreat_cms/core/settings.py
  integreat_cms/core/test_settings.py
Due: translations

use invalidated_update for drafts when redis is available
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/utils/publication_status.py
Due: translations

Add package name to `package.json`
  package-lock.json
  package.json
  typedoc.json
Due: none

Update Python dependencies
  pyproject.toml
Due: none

Fix typing in `url.py`
  integreat_cms/sitemap/urls.py
Due: translations

Fix test fixtures
  tests/api/expected-outputs/raw_content_augsburg_de_event.html
  tests/api/expected-outputs/raw_content_augsburg_de_imprint.html
  tests/api/expected-outputs/raw_content_augsburg_de_location.html
  tests/api/expected-outputs/raw_content_augsburg_de_page.html
  tests/api/expected-outputs/social.html
  tests/api/expected-outputs/social_augsburg.html
  tests/api/expected-outputs/social_augsburg_de.html
  tests/api/expected-outputs/social_augsburg_de_child_page.html
  tests/api/expected-outputs/social_augsburg_de_event.html
  tests/api/expected-outputs/social_augsburg_de_event_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_imprint.html
  tests/api/expected-outputs/social_augsburg_de_location.html
  tests/api/expected-outputs/social_augsburg_de_location_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_page.html
  tests/api/expected-outputs/social_augsburg_de_page_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_pn_non-existing.html
  tests/api/expected-outputs/social_augsburg_non-existing.html
  tests/api/expected-outputs/social_birkenfeld_de_archived.html
  tests/api/expected-outputs/social_landing.html
  tests/api/expected-outputs/social_landing_de.html
  tests/api/expected-outputs/social_landing_en.html
  tests/api/expected-outputs/social_landing_non-existing.html
Due: djlint-django, translations

Format html templates with djlint
  docs/src/templates/layout.html
  integreat_cms/api/v3/templates/error_headers.html
  integreat_cms/api/v3/templates/raw_content.html
  integreat_cms/api/v3/templates/social_media_headers.html
  integreat_cms/api/v3/templates/webapp_server_side_include.html
Due: djlint-django, translations

Fix running tests in Docker
  tools/_functions.sh
  tools/docker/test_entrypoint.sh
  tools/npm/tsconfig.json
  tsconfig.json
Due: none

Let prettier ignore `tests/api/expected-outputs`
  .prettierignore
Due: none

Fix djlint settings
  integreat_cms/api/v3/templates/webapp_server_side_include.html
  pyproject.toml
Due: djlint-django, translations

Update NPM packages
  package-lock.json
Due: none

Update uv to 0.12.13
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  tools/docker/Dockerfile.test
Due: none

refactor: manage python dependencies with uv lock file
  .circleci/config.yml
  .devcontainer/.env
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  README.md
  docker-compose.test.yml
  docs/src/continuous-integration.rst
  docs/src/installation.rst
  docs/src/packaging.rst
  docs/src/prod-server.rst
  docs/src/tools.rst
  docs/src/virtualenv.rst
  flake.nix
  pyproject.toml
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
  tools/install.sh
  tools/update_dependencies.sh
  uv.lock
Due: none

Remove redundant CI step
  .circleci/config.yml
Due: none

Use `UV_PROJECT_ENVIRONMENT` consistently
  tools/docker/test_entrypoint.sh
Due: none

Use `uv run` consistently
  tools/docker/test_entrypoint.sh
Due: none

Define runtime related Python env vars in the Dockerfile
  docker-compose.test.yml
  tools/docker/Dockerfile.test
Due: none

Cache apt directories when building Dockerfiles
  .vscode/settings.json
  tools/docker/Dockerfile.test
Due: none

Update some Python dependencies
  uv.lock
Due: none

set CACHEOPS_REDIS for TCP connection
  integreat_cms/core/settings.py
Due: translations

4574: Adjusted the internal link checker to identify wrong news links
  integreat_cms/cms/utils/internal_link_checker.py
  tests/cms/utils/test_internal_link_checker.py
Due: translations

4126: Keep language tabs when saving a new news translation fails
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/release_notes/current/unreleased/4126.yml
  tests/cms/views/push_notifications/test_push_notification_form_view.py
Due: translations

4225: Fix slug generation for new pages, events and places
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/views/utils/slugify_ajax.py
  integreat_cms/release_notes/current/unreleased/4225.yml
  tests/cms/views/utils/test_slugify_ajax.py
Due: translations

4234: Prevent copying archived news
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/release_notes/current/unreleased/4234.yml
  tests/cms/views/push_notifications/test_push_notification_copy.py
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
