Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

update po file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Fix merge conflicts
  integreat_cms/cms/forms/linkcheck/edit_url_form.py
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/url_tags.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Improve link source column
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/templatetags/link_checker.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update translation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Rebase to develop
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

3059: Reverted to base_location at copy_places
  integreat_cms/core/management/commands/copy_places.py
Due: translations

3059: Fixed formatting for djlint
  integreat_cms/cms/templates/_place_query_result.html
  integreat_cms/cms/templates/ajax_place_form/_base_place_box.html
  integreat_cms/cms/templates/ajax_place_form/_place_address_container.html
  integreat_cms/cms/templates/ajax_place_form/_place_form_widget.html
  integreat_cms/cms/templates/places/place_form.html
  integreat_cms/cms/templates/places/place_form_sidebar/minor_edit_box.html
Due: djlint-django, translations

Move pytest settings to `pytest.toml`
  pyproject.toml
  pytest.toml
Due: none

Ignore some pointless ruff rules
  pyproject.toml
Due: none

Remove duplicate code
  integreat_cms/core/test_settings.py
Due: translations

Use `pathlib` for handling `BASE_DIR`
  integreat_cms/core/settings.py
Due: translations

Move `webpack-stats.json` to `/shared`
  integreat_cms/core/settings.py
  webpack.config.js
Due: eslint, translations

Fix ruff formatting
  integreat_cms/cms/constants/translation_status.py
  integreat_cms/core/management/commands/bulk_media_upload.py
Due: translations

2908: Replace xhtml2pdf
  .circleci/config.yml
  README.md
  docs/src/conf.py
  docs/src/frontend-bundling.rst
  docs/src/installation.rst
  docs/src/prod-server.rst
  example-configs/integreat-cms.ini
  flake.nix
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/cms/utils/pdf_utils.py
  integreat_cms/core/settings.py
  integreat_cms/release_notes/current/unreleased/2908.yml
  integreat_cms/static/src/css/pdf_page_export.css
  integreat_cms/static/src/fonts/dejavu-sans/dejavu-sans-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef.css
  integreat_cms/static/src/fonts/noto-sans-ethiopic/noto-sans-ethiopic-pdf.css
  integreat_cms/static/src/fonts/noto-sans-georgian/noto-sans-georgian-pdf.css
  integreat_cms/static/src/fonts/noto-sans-sc/noto-sans-sc-pdf.css
  integreat_cms/static/src/fonts/open-sans/open-sans-pdf.css
  integreat_cms/static/src/fonts/raleway/raleway-pdf.css
  pyproject.toml
  tests/pdf/test_pdf_export.py
  tools/docker/Dockerfile.test
Due: djlint-django, translations

2908: Fix indentation levels and fixtures
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/static/src/css/pdf_page_export.css
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf
  tests/pdf/test_pdf_export.py
Due: djlint-django, translations

2908: Removed system libraries from some CI jobs and added them to the devcontainer were its missing
  .circleci/config.yml
  .devcontainer/Dockerfile
Due: none

2908: Fixed the indentation for ul and ol lists
  integreat_cms/static/src/css/pdf_page_export.css
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
Due: none

2908: Fixed the formatting for djlint
  integreat_cms/cms/templates/pages/page_pdf.html
Due: djlint-django, translations

2908: Replace xhtml2pdf with weasyprint (#4541)
  .circleci/config.yml
  .devcontainer/Dockerfile
  README.md
  docs/src/conf.py
  docs/src/frontend-bundling.rst
  docs/src/installation.rst
  docs/src/prod-server.rst
  example-configs/integreat-cms.ini
  flake.nix
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/cms/utils/pdf_utils.py
  integreat_cms/core/settings.py
  integreat_cms/release_notes/current/unreleased/2908.yml
  integreat_cms/static/src/css/pdf_page_export.css
  integreat_cms/static/src/fonts/dejavu-sans/dejavu-sans-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef.css
  integreat_cms/static/src/fonts/noto-sans-ethiopic/noto-sans-ethiopic-pdf.css
  integreat_cms/static/src/fonts/noto-sans-georgian/noto-sans-georgian-pdf.css
  integreat_cms/static/src/fonts/noto-sans-sc/noto-sans-sc-pdf.css
  integreat_cms/static/src/fonts/open-sans/open-sans-pdf.css
  integreat_cms/static/src/fonts/raleway/raleway-pdf.css
  pyproject.toml
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf
  tests/pdf/test_pdf_export.py
  tools/docker/Dockerfile.test
Due: djlint-django, translations

Upgrade CircleCI orb `qltysh/qlty-orb`
  .circleci/config.yml
Due: none

Add new "Help and Tipps" column to broken-links view
  integreat_cms/cms/constants/linkcheck_errors.py
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/link_checker.py
  integreat_cms/cms/utils/internal_link_checker.py
Due: djlint-django, translations

Check linkcheck errors for internal links in tests
  tests/cms/utils/test_internal_link_checker.py
Due: translations

WIP
  .circleci/config.yml
  .dockerignore
  .gitignore
  .prettierignore
  .vscode/settings.json
  Dockerfile.dev
  docker-compose.test.yaml
  docker-compose.test.yml
  tools/test.py
  tools/test.sh
  tsconfig.json
Due: translations

Add translations
  integreat_cms/cms/constants/linkcheck_errors.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/utils/test_internal_link_checker.py
Due: translations

Update Python dependencies
  pyproject.toml
Due: none

Format html templates with djlint
  docs/src/templates/layout.html
  integreat_cms/api/v3/templates/error_headers.html
  integreat_cms/api/v3/templates/raw_content.html
  integreat_cms/api/v3/templates/social_media_headers.html
  integreat_cms/api/v3/templates/webapp_server_side_include.html
Due: djlint-django, translations

Let prettier ignore `tests/api/expected-outputs`
  .prettierignore
Due: none

Fix djlint settings
  integreat_cms/api/v3/templates/webapp_server_side_include.html
  pyproject.toml
Due: djlint-django, translations

Fix test fixtures
  tests/api/expected-outputs/raw_content_augsburg_de_event.html
  tests/api/expected-outputs/raw_content_augsburg_de_imprint.html
  tests/api/expected-outputs/raw_content_augsburg_de_location.html
  tests/api/expected-outputs/raw_content_augsburg_de_page.html
  tests/api/expected-outputs/social.html
  tests/api/expected-outputs/social_augsburg.html
  tests/api/expected-outputs/social_augsburg_de.html
  tests/api/expected-outputs/social_augsburg_de_child_page.html
  tests/api/expected-outputs/social_augsburg_de_event.html
  tests/api/expected-outputs/social_augsburg_de_event_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_imprint.html
  tests/api/expected-outputs/social_augsburg_de_location.html
  tests/api/expected-outputs/social_augsburg_de_location_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_page.html
  tests/api/expected-outputs/social_augsburg_de_page_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_pn_non-existing.html
  tests/api/expected-outputs/social_augsburg_non-existing.html
  tests/api/expected-outputs/social_birkenfeld_de_archived.html
  tests/api/expected-outputs/social_landing.html
  tests/api/expected-outputs/social_landing_de.html
  tests/api/expected-outputs/social_landing_en.html
  tests/api/expected-outputs/social_landing_non-existing.html
Due: djlint-django, translations

Update NPM packages
  package-lock.json
Due: none

Fix running tests in Docker
  tools/_functions.sh
  tools/docker/test_entrypoint.sh
  tools/npm/tsconfig.json
  tsconfig.json
Due: none

Fix typing in `url.py`
  integreat_cms/sitemap/urls.py
Due: translations

Add package name to `package.json`
  package-lock.json
  package.json
  typedoc.json
Due: none

Update documentation of commit 66546668c7bf3fdf00975d3d403e847357c7c912 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/html/functions/domTokenListToggle.html
  frontend_md/js/utils/iterators/functions/every.html
  frontend_md/js/utils/iterators/functions/filter.html
  frontend_md/js/utils/iterators/functions/some.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.cms.views.status_code.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.cms.views.status_code.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
