Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit 6b7a9ef47a3ffb7154cf73803d5f9613ba611d3b [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.push_notifications.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.push_notifications.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.api.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref/integreat_cms.cms.forms.push_notifications.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.push_notifications.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.api.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Move to AbstractContentModel
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fixed failing tests
  tests/cms/views/bulk_actions.py
  tests/cms/views/language_nodes/test_language_tree_node_actions.py
  tests/cms/views/pages/test_page_actions.py
  tests/cms/views/poi/test_poi_form.py
Due: translations

Fix ghost child pages preventing parent page deletion
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/release_notes/current/unreleased/3144.yml
Due: translations

Add launch.json for vs code debugging
  .vscode/launch.json
  .vscode/tasks.json
  docs/src/debugging.rst
Due: none

Update documentation of commit 7fd93f0ba84e780fc9828ded092f01b2c37b4055 [skip ci]
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Remove the release note for #3626
  integreat_cms/release_notes/current/unreleased/3626.yml
Due: none

Update documentation of commit 7fd93f0ba84e780fc9828ded092f01b2c37b4055 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit b03fe9ae6658a215798762f370d5d8ee5f27dc94 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Added change requests
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
Due: eslint

Add loading and saving of page access statistics
  integreat_cms/cms/migrations/0137_alter_pageaccesses_access_date.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Update documentation of commit 13678f8c4c1b554430aa78eccddf7a78d54f35e3 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.models.statistics.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.models.statistics.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix rebase
  integreat_cms/cms/migrations/0135_alter_pageaccesses_access_date.py
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Finalize merge
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Add online_link and appointment_url to API
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/fixtures/test_data.json
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_en_events.json
Due: translations

Update documentation of commit d813a88fd04f629868361298b06d18ba41245d41 [skip ci]
  api-docs.html
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.push_notifications.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.push_notifications.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.models.statistics.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.api.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.push_notifications.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.push_notifications.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.models.statistics.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.api.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  searchindex.js
Due: djlint-django, eslint, translations

draft fcm subscriptions endpoint
  integreat_cms/api/urls.py
  integreat_cms/api/v3/push_notifications.py
  integreat_cms/firebase_api/firebase_data_client.py
Due: translations

fix mypy errors
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/fetch_page_accesses.py
  integreat_cms/integreat_celery/celery.py
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Still fixing mypy errors
  integreat_cms/core/management/commands/fetch_page_accesses.py
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Rename online_link to meeting_url
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0138_rename_online_link_event_meeting_url.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_en_events.json
Due: djlint-django, translations

Add constraint
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0139_alter_event_meeting_url_and_more.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

clear hidden input on submit
  integreat_cms/static/src/js/events/conditional-fields.ts
Due: eslint

prefer stable hiding logic
  integreat_cms/static/src/js/events/conditional-fields.ts
Due: eslint

return new Contact record from copy method
  integreat_cms/cms/models/contact/contact.py
Due: translations

Add management command to copy pois
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/copy_pois_events_and_contacts.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

add test
  docs/src/management-commands.rst
  tests/core/management/commands/test_copy_pois_events_and_contacts.py
Due: translations

Fill page accesses
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/core/management/commands/fetch_page_accesses.py
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Fix retrieve accesses
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Fix phone number autolink on space key (fixes #3693, #3713)
  integreat_cms/release_notes/2025/2025.6.3/3693.yml
  integreat_cms/release_notes/2025/2025.6.3/3713.yml
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
Due: eslint

Add UserNameForm to user settings
  integreat_cms/cms/forms/__init__.py
  integreat_cms/cms/forms/users/user_name_form.py
  integreat_cms/cms/templates/settings/user_settings.html
  integreat_cms/cms/views/settings/user_settings_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update username form and settings template
  integreat_cms/cms/forms/users/user_name_form.py
  integreat_cms/cms/templates/settings/user_settings.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add release note for username form (#1124)
  integreat_cms/release_notes/2025/2025.6.3/1124.yml
Due: none

Make MT budget configurable
  example-configs/integreat-cms.ini
  integreat_cms/cms/constants/machine_translation_budget.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0138_configurable_mt_budget.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/templates/region_condition/region_condition_row.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2615.yml
  integreat_cms/static/src/js/conditional-fields.ts
  tests/cms/test_duplicate_regions.py
  tests/cms/views/regions/test_region_mt_management.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_api_test.py
Due: djlint-django, eslint, translations

Update integreat_cms/release_notes/2025/2025.6.3/3693.yml
  integreat_cms/release_notes/2025/2025.6.3/3693.yml
Due: none

Update integreat_cms/release_notes/2025/2025.6.3/3713.yml
  integreat_cms/release_notes/2025/2025.6.3/3713.yml
Due: none

Fix spacing in contact card in RTL languages
  integreat_cms/release_notes/current/unreleased/3709.yml
  integreat_cms/static/src/css/tinymce_custom.css
Due: none

Update integreat_cms/release_notes/current/unreleased/3709.yml
  integreat_cms/release_notes/current/unreleased/3709.yml
Due: none

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
