Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Add related issues header for issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

Add note to link app issues
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

Add support for glossaries for deepl translations
  integreat_cms/core/settings.py
  integreat_cms/deepl_api/apps.py
  integreat_cms/deepl_api/deepl_api_client.py
Due: translations

Small refactor in deepl_api_client
  integreat_cms/deepl_api/apps.py
Due: translations

Correct translation for archive contact
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3181.yml
Due: none

Add note to ping Toni
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

[WIP] Refactor recurrence rule
  integreat_cms/api/v3/events.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/recurrence_rule_form.py
  integreat_cms/cms/migrations/0107_refactor_recurrence_rule.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/models/events/recurrence_rule.py
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/models/events/test_recurrence_rule.py
Due: translations

Fix copying of language tree nodes in the region form
  integreat_cms/cms/forms/regions/region_form.py
Due: translations

Update
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/contact_box.ts
Due: eslint

Zammad: remove unique URL & add webhook token
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0110_region_zammad_webhook_token_alter_region_zammad_url.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3192.yml
Due: djlint-django, translations

Fix copying of language tree nodes in the region form (#3203)
  integreat_cms/cms/forms/regions/region_form.py
Due: translations

Update documentation of commit b93c81693cfa0ffeea8c06cefad99eb0c3bba620 [skip ci]
  documentation.html
  packaging.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Import recurrence rules when importing external calendars
  integreat_cms/cms/constants/frequency.py
  integreat_cms/cms/constants/weekdays.py
  integreat_cms/cms/constants/weeks.py
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add tests
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_a.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_b.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Fixes
  integreat_cms/cms/utils/external_calendar_utils.py
Due: translations

Run Ruff
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/core/management/commands/test_import_events.py
Due: translations

Test for region deletion
  integreat_cms/cms/fixtures/test_data.json
  tests/cms/views/regions/delete_region.py
  tests/sitemap/expected-sitemaps/sitemap-nurnberg-de.xml
  tests/sitemap/sitemap_config.py
Due: translations

Add filter for external calendar
  integreat_cms/cms/constants/calendar.py
  integreat_cms/cms/forms/events/event_filter_form.py
  integreat_cms/cms/templates/events/_event_filter_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add related issues header for issue templates (#3198)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

Show which pages user has access to
  integreat_cms/cms/templates/users/user_form.html
  integreat_cms/cms/views/users/user_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix comparison to zero
  integreat_cms/cms/utils/internal_link_utils.py
Due: translations

Embarrassing attempt at refactoring
  integreat_cms/static/src/js/dashboard/utils.ts
Due: eslint

Rebase and fix checks
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/_missing_translations_row.html
  integreat_cms/cms/views/dashboard/dashboard_view.py
Due: djlint-django, translations

Rebuild translation coverage with ajax
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/number_of_missing_or_outdated_translations_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/dashboard/translation-coverage.ts
Due: djlint-django, eslint, translations

Add translation coverage row to dashboard
  integreat_cms/cms/templates/dashboard/_todo_dashboard_widget.html
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/_missing_translations_row.html
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/number_of_missing_or_outdated_translations_row.html
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix calculation of outdated pages
  integreat_cms/cms/views/dashboard/dashboard_view.py
Due: translations

Include implictly and explicitly archived pages
  integreat_cms/cms/views/dashboard/dashboard_view.py
Due: translations

Make the number of online accesses in statistics collapsible
  integreat_cms/cms/templates/statistics/statistics_chart.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 1880e145f8eb172b1c1600e54882e748de39a49b [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix error at bulk action in broken link list
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/release_notes/current/unreleased/3118.yml
Due: djlint-django, translations

Fix display of start and end of archived events
  integreat_cms/cms/templates/events/event_list_archived_row.html
  integreat_cms/release_notes/current/unreleased/3190.yml
Due: djlint-django, translations

Update documentation of commit fbb8a3fbc7f046437c0ad78593e3924add9a112d [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix error with spacing in events
  integreat_cms/cms/templates/events/event_list_archived_row.html
  integreat_cms/cms/templates/events/event_list_row.html
Due: djlint-django, translations

Small translation fix
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Ical: Add support for recurrence rules (#3205)
  integreat_cms/cms/constants/frequency.py
  integreat_cms/cms/constants/weekdays.py
  integreat_cms/cms/constants/weeks.py
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_a.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_b.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Update documentation of commit dff329938b8051813f9469708b514bfb81c33fa7 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.core.management.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.views.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Revive export box of statistics
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3131.yml
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
