Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Add SSI content endpoints, fix #4448
  integreat_cms/api/urls.py
  integreat_cms/api/v3/raw_content.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/api/v3/templates/raw_content.html
  integreat_cms/api/v3/templates/raw_content_error.html
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/news_managers/abstract_news_manager.py
  integreat_cms/news_managers/pushnews_manager.py
  integreat_cms/release_notes/current/unreleased/4448.yml
  tests/api/api_config.py
  tests/api/expected-outputs/raw_content.html
  tests/api/expected-outputs/raw_content_augsburg.html
  tests/api/expected-outputs/raw_content_augsburg_de.html
  tests/api/expected-outputs/raw_content_augsburg_de_event.html
  tests/api/expected-outputs/raw_content_augsburg_de_event_non-existing.html
  tests/api/expected-outputs/raw_content_augsburg_de_imprint.html
  tests/api/expected-outputs/raw_content_augsburg_de_location.html
  tests/api/expected-outputs/raw_content_augsburg_de_location_non-existing.html
  tests/api/expected-outputs/raw_content_augsburg_de_page.html
  tests/api/expected-outputs/raw_content_augsburg_de_page_non-existing.html
  tests/api/expected-outputs/raw_content_augsburg_de_pn_non-existing.html
  tests/api/expected-outputs/raw_content_augsburg_non-existing.html
  tests/api/expected-outputs/raw_content_birkenfeld_de_archived.html
  tests/api/expected-outputs/raw_content_landing_de.html
  tests/api/expected-outputs/raw_content_landing_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_imprint.html
  tests/api/expected-outputs/social_birkenfeld_de_archived.html
  tests/api/test_api_raw_content.py
  tests/news_managers/test_tunews_manager.py
Due: djlint-django, translations

change invalid links table design
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/linkcheck_filters.py
Due: djlint-django, translations

add mark as valid functionality from table row
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/static/src/js/feature/bulk-actions.ts
Due: djlint-django, eslint, translations

add description text for view, and change header to Links from Broken Links
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

add linkcheck wiki url link to all views
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/core/settings.py
Due: djlint-django, translations

update translation file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

fix error- new button should be visible only for broken links
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/static/src/js/feature/bulk-actions.ts
Due: djlint-django, eslint, translations

update fuzzy translation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

update po file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

remove nested tbody from link_list_row and consistent button design
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

fix linting
  integreat_cms/cms/templates/linkcheck/link_list_row.html
Due: djlint-django, translations

4132: Renamed the rest of push notifications to news
  integreat_cms/cms/migrations/0157_news_wording.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/views/language_tree/language_tree_context_mixin.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Rename some more
  integreat_cms/cms/migrations/0160_alter_pushnotification_archived_and_more.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

4132: Updated the migration number to 0159
  integreat_cms/cms/migrations/0159_news_wording.py
Due: translations

4132: Change the wording from PushNotifications to News
  integreat_cms/cms/migrations/0157_news_wording.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4132.yml
Due: djlint-django, translations

4132 Fixed the formatting
  integreat_cms/cms/migrations/0160_alter_pushnotification_archived_and_more.py
Due: translations

4132: Added the word item to news
  integreat_cms/cms/migrations/0160_alter_pushnotification_archived_and_more.py
  integreat_cms/cms/migrations/0160_news_wording.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

4132: Change the wording from PushNotifications to News (#4477)
  integreat_cms/cms/migrations/0160_news_wording.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/views/language_tree/language_tree_context_mixin.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4132.yml
Due: djlint-django, translations

change column name, fix column overflow, and use branding title
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
Due: djlint-django, translations

2308: Return server errors in json for API
  integreat_cms/cms/views/error_handler/error_handler.py
  integreat_cms/release_notes/current/unreleased/2308.yml
Due: translations

2308: Added a single leading underscore
  integreat_cms/cms/views/error_handler/error_handler.py
Due: translations

3726: Fix the tooltip of the restore contact button
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3726.yml
Due: djlint-django, translations

2308: Return server errors in json for API (#4487)
  integreat_cms/cms/views/error_handler/error_handler.py
  integreat_cms/release_notes/current/unreleased/2308.yml
Due: translations

Update documentation of commit 77903ccccca8b4d4ae0e7dfe20c281e0d1d77e2f [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.error_handler.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.error_handler.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

fix: import SQLQueryTriggered lazily for django-debug-toolbar 5.0
  integreat_cms/cms/models/abstract_base_model.py
Due: translations

refactor: consolidate duplicated debug_toolbar lazy-import workaround
  integreat_cms/cms/models/abstract_base_model.py
Due: translations

unify test settings, eliminate ordering dependencies, fix flaky tests
  integreat_cms/core/circleci_settings.py
  integreat_cms/core/test_settings.py
  pyproject.toml
  tests/cms/test_duplicate_regions.py
  tests/cms/utils/test_disable_hix_post_save_signal.py
  tests/cms/utils/test_repair_tree.py
  tests/cms/utils/test_tree_mutex.py
  tests/conftest.py
  tests/core/management/commands/test_copy_pois.py
  tests/core/management/commands/test_fix_internal_links.py
  tests/core/management/commands/test_repair_tree.py
  tests/core/management/commands/test_replace_links.py
  tests/core/management/commands/test_reset_deepl_budget.py
  tests/core/management/commands/test_update_link_text.py
  tools/test.sh
Due: translations

introduce pytest markers unit and slow, reduce role parametrization
  pyproject.toml
  tests/cms/models/events/test_recurrence_rule.py
  tests/cms/test_duplicate_regions.py
  tests/cms/utils/test_external_calendar_utils.py
  tests/cms/utils/test_rounded_hix_value.py
  tests/cms/utils/test_translation_utils.py
  tests/cms/utils/test_tree_mutex.py
  tests/cms/views/status_code/conftest.py
  tests/conftest.py
  tools/test.sh
Due: translations

Add timeout for textlab API call
  integreat_cms/cms/views/utils/hix.py
  integreat_cms/core/settings.py
  integreat_cms/textlab_api/textlab_api_client.py
  tests/cms/views/utils/test_hix.py
Due: translations

run tests in docker container by default
  docker-compose.test.yml
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
  tools/test.sh
Due: none

test: align db-trigger tests with the no-serialized_rollback convention
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

fix: disable cacheops entry points in test settings
  integreat_cms/core/test_settings.py
Due: translations

fix: make QUICK_ROLES work in Docker mode and parse it as boolean
  docker-compose.test.yml
  tests/conftest.py
  tools/test.sh
Due: translations

fix: restore clean_news_cache fixture dropped by the conftest rewrite
  tests/conftest.py
Due: translations
