Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Rename contact opening hours to office hours
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0146_remove_contact_opening_hours_contact_office_hours.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix ruff
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
Due: translations

Revert most changes
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0146_alter_contact_opening_hours.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add office hours to contact card
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Use Syft for generating SBOM
  .circleci/config.yml
  integreat_cms/_manifest/spdx_2.2/manifest.spdx.json.sha256
  integreat_cms/cms/templates/imprint/open_source_licenses.html
  integreat_cms/cms/views/imprint/open_source_licenses_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 2856953e4d3328458a22f348846431f71620cb00 [skip ci]
  ref-ext/integreat_cms.cms.views.imprint.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.imprint.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix expected Chat Zammad return code
  integreat_cms/cms/utils/zammad.py
Due: translations

Handle chat back end exceptions
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

bump integreat-django-linkcheck again
  pyproject.toml
Due: none

fix default celery queue for dev server
  tools/run.sh
Due: none

Simplify push notification by merging templates and draft status
  integreat_cms/api/v3/push_notifications.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/migrations/0146_remove_pushnotification_draft_and_more.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/push_notifications/__init__.py
  integreat_cms/cms/views/push_notifications/push_notification_actions.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/cms/views/push_notifications/push_notification_list_view.py
  integreat_cms/core/management/commands/send_push_notifications.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2639.yml
  integreat_cms/static/src/js/conditional-fields.ts
  tests/api/test_pushnotification_api.py
  tests/cms/views/view_config.py
  tests/core/management/commands/test_send_push_notifications.py
Due: djlint-django, eslint, translations

Update documentation of commit 8670e7a973a47d5f8c5f5029da9e14d7bd7fdd25 [skip ci]
  documentation.html
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.imprint.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/tests.api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.imprint.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/tests.api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 40ab9ed65cc35293bc4e4d7d7348ee63e0114546 [skip ci]
  documentation.html
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.imprint.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/integreat_cms.matomo_api.html
  ref-ext/tests.api.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.imprint.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/integreat_cms.matomo_api.html
  ref/tests.api.html
  searchindex.js
Due: djlint-django, eslint, translations

Increase Celery log level
  integreat_cms/core/settings.py
Due: translations

Refactor page form view
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit 2a873ab92d4eec9bc746d41067725f18480120f3 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.imprint.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.matomo_api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.views.imprint.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.matomo_api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update integreat_cms/cms/utils/zammad.py
  integreat_cms/cms/utils/zammad.py
Due: translations

Fix database request
  integreat_cms/cms/models/regions/region.py
Due: translations

server side sorting
  integreat_cms/cms/templates/_sortable_table_header.html
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/templatetags/sort_tags.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/mixins.py
Due: djlint-django, translations

update translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

fix type annotations
  integreat_cms/cms/templatetags/sort_tags.py
  integreat_cms/cms/views/mixins.py
Due: translations

Fix time period update
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

styling in list view table header to prevent line break
  integreat_cms/cms/templates/_sortable_table_header.html
Due: djlint-django, translations

change search_input query from POST to GET
  integreat_cms/cms/templates/search_input_form.html
  integreat_cms/cms/views/mixins.py
Due: djlint-django, translations

switch search in POIs to GET
  integreat_cms/cms/views/pois/poi_list_view.py
Due: translations

Fix redirect
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
Due: translations

Enable debugging for notifications
  integreat_cms/core/docker_settings.py
Due: translations

add release note for #3831 linkcheck celery
  integreat_cms/release_notes/current/unreleased/3831.yml
Due: none

introduce primary contact label
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4015.yml
Due: djlint-django, translations

transfer poi name to primary contact only if contact name is not given
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/release_notes/current/unreleased/4016.yml
Due: translations

Update documentation of commit c7662cad14446727c9ab76c3ea17f4556a535276 [skip ci]
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Refactor poi_box.html (#4027)
  integreat_cms/cms/templates/ajax_poi_form/_base_poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/contact_poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/event_poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Remove dependancy from total accesses chart
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint, translations

Update documentation of commit 11e75a02c55df04dfec8a7aa7e3ad89d568d9664 [skip ci]
  documentation.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/integreat_cms.matomo_api.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/integreat_cms.matomo_api.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 550b17cd2492a7a05f3895000d67de9bb42461f7 [skip ci]
  documentation.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/integreat_cms.matomo_api.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/integreat_cms.matomo_api.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 51462d9bd14b2ab21808a9faa2648eadf8ee1c08 [skip ci]
  documentation.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/integreat_cms.matomo_api.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.chat.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/integreat_cms.matomo_api.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix code style
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
