Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Invalidate Permission cache when changing user role
  integreat_cms/cms/forms/users/user_form.py
  integreat_cms/release_notes/current/unreleased/4303.yml
Due: translations

Uninstall eslint-config-airbnb
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint

Add fallback message for failed LLM responses
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add fallback message for failed LLM responses (#4165)
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit 44b811ee0fb358b9cf2bcb008fe7e470b16c5d51 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Refactor has_public_translations to is_publicly_reachable to check ancestors
  integreat_cms/cms/forms/pages/mirrored_page_field_widget.py
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/models/pages/page.py
Due: translations

Bump CI Python & PSQL versions
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  integreat_cms/api/v3/locations.py
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/utils/shadow_instance.py
  integreat_cms/cms/utils/shortcodes/utils.py
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/utils/tree_mutex.py
  integreat_cms/cms/views/imprint/open_source_licenses_view.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/utils/translation_coverage.py
  integreat_cms/core/logging_filter.py
  integreat_cms/core/settings.py
  integreat_cms/core/signals/hix_signals.py
  integreat_cms/gvz_api/utils.py
  integreat_cms/summ_ai_api/utils.py
  pyproject.toml
  tests/cms/views/dashboard/test_dashboard.py
  tests/cms/views/events/test_event_form.py
  tests/cms/views/pages/test_page_translations.py
  tests/cms/views/poi_categories/test_poi_category_form_view.py
  tests/cms/views/view_config.py
  tests/conftest.py
  tests/mt_api/mt_api_test.py
  tests/utils.py
  tools/_analyze_force_merges.py
  tools/install.sh
Due: translations

Change node version
  .circleci/config.yml
  docs/src/installation.rst
  flake.nix
  package-lock.json
  package.json
  tools/run.sh
Due: none

move DIRECTORY_SEARCH_FIELDS to search_fields.py
  integreat_cms/cms/models/media/directory.py
  integreat_cms/cms/search/search_fields.py
Due: translations

Re-add rules
  .eslintrc.js
Due: eslint

move classmethods to bottom in media_file.py
  integreat_cms/cms/models/media/media_file.py
Due: translations

pass list of values instead of queryset as filtered relation for django version > 4.2 compability
  integreat_cms/cms/models/pages/page.py
  tests/cms/views/search/test_search_suggest.py
Due: translations

improve log for MT error
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/google_translate_api_client.py
Due: translations

Update documentation of commit 1552255ed4a67d7108a40987be3dbedd945de745 [skip ci]
  documentation.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.deepl_api.html
  ref-ext/integreat_cms.google_translate_api.html
  ref-ext/integreat_cms.html
  ref-ext/tests.mt_api.html
  ref/integreat_cms.core.html
  ref/integreat_cms.deepl_api.html
  ref/integreat_cms.google_translate_api.html
  ref/integreat_cms.html
  ref/tests.mt_api.html
  searchindex.js
Due: djlint-django, eslint, translations

Refactor for common news endpoint
  integreat_cms/api/urls.py
  integreat_cms/api/v3/news.py
  integreat_cms/api/v3/push_notifications.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/cms/utils/social_media_utils.py
  integreat_cms/core/management/commands/import_external_news.py
  integreat_cms/integreat_celery/celery.py
  integreat_cms/news_managers/__init__.py
  integreat_cms/news_managers/abstract_news_manager.py
  integreat_cms/news_managers/pushnews_manager.py
  integreat_cms/news_managers/registry.py
  integreat_cms/news_managers/tunews_manager.py
  tests/api/test_news_endpoint.py
  tests/conftest.py
  tests/news_managers/__init__.py
  tests/news_managers/test_tunews_manager.py
Due: translations

filter search suggestions by language
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/media/directory.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/mixins.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/views/search/search_suggest.py
  tests/cms/search/test_suggest_filters.py
  tests/cms/views/search/test_search_suggest.py
Due: translations

force test ordering to avoid unique violation bugs after test db flush
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

normalize urls in internal link checker to avoid false positives in invalid links list
  integreat_cms/cms/utils/internal_link_checker.py
  tests/cms/utils/test_internal_link_checker.py
Due: translations

Fix new Link creation
  integreat_cms/release_notes/current/unreleased/4196.yml
  integreat_cms/release_notes/current/unreleased/4228.yml
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint

Add filter for regions for mirrored pages
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/core/settings.py
  integreat_cms/release_notes/current/unreleased/4299.yml
Due: translations

Fix matomo query
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Create registry and Add search-query module
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  docs/src/_docstrings.rst
  docs/src/conf.py
  docs/src/documentation.rst
  docs/src/frontend-bundling.rst
  docs/src/index.rst
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/cms/templates/ajax_poi_form/contact_poi_box.html
  integreat_cms/cms/templates/ajax_poi_form/event_poi_box.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/ajax-contact-form.ts
  integreat_cms/static/src/js/feature/ajax-contact-form.ts
  integreat_cms/static/src/js/feature/search-query.ts
  integreat_cms/static/src/js/forms/update-permalink.ts
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/search-query.ts
  integreat_cms/static/src/js/utils/define-feature.ts
  integreat_cms/static/src/types/index.d.ts
  package-lock.json
  package.json
  pyproject.toml
  tools/make_docs.sh
  tools/npm/markOrphan.ts
  tsconfig.json
  typedoc.json
Due: djlint-django, eslint, translations

Load preview listeners for filtered pages
  integreat_cms/static/src/js/pages/page-preview.ts
Due: eslint

add release note
  integreat_cms/release_notes/current/unreleased/4170.yml
Due: none

Update documentation of commit 7e0a6fe7768fb44892b59c2f30421d741ca92e8c [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Increase upload limit for media library to 4MB
  integreat_cms/core/settings.py
  integreat_cms/release_notes/current/unreleased/4281.yml
Due: translations

Update documentation of commit 553d70abba8e966db838074374201e0973e684ed [skip ci]
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Refactor form views
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/abstract_tree_node.py
  integreat_cms/cms/models/chat/chat_message.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/firebase/firebase_statistic.py
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/models/media/directory.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/offers/offer_template.py
  integreat_cms/cms/models/poi_categories/poi_category.py
  integreat_cms/cms/models/poi_categories/poi_category_translation.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/users/role.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/models/users/user_fido_key.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Add browser spellcheck to config
  integreat_cms/release_notes/current/unreleased/4151.yml
  integreat_cms/static/src/js/forms/tinymce-init.ts
Due: eslint

Update documentation of commit 1751babd9466b8c906ce3125734283dde1a60649 [skip ci]
  documentation.html
  frontend_md/js/bulk-actions/functions/setBulkActionEventListeners.html
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Save original Zammad chat message
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
