Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Remove (0) from phone number formatting
  integreat_cms/cms/migrations/0137_adopt_new_phone_number_format.py
  integreat_cms/cms/utils/link_utils.py
  integreat_cms/release_notes/current/unreleased/3712.yml
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
  tests/cms/views/contacts/test_contact_form.py
Due: eslint, translations

Querry for all pages of a region
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Add validation and set new format
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/migrations/0146_adopt_new_phone_number_format.py
  integreat_cms/cms/utils/link_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
  tests/cms/views/contacts/test_contact_form.py
Due: eslint, translations

Make Django debuggable
  .vscode/launch.json
Due: none

Add change request
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
Due: translations

Make primary contact only editable by the contact fields if user is in POI form
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/templates/ajax_contact_form/_contact_form_widget.html
  integreat_cms/cms/views/contacts/contact_form_ajax_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4050.yml
  integreat_cms/static/src/js/ajax-contact-form.ts
Due: djlint-django, eslint, translations

Fix Zammad response check for saved message
  integreat_cms/cms/utils/zammad.py
Due: translations

Introduce ADR/0001-compose-referenced-objects-into-content-dynamically.md
  .adr-dir
  ADR/0001-compose-referenced-objects-into-content-dynamically-shortcodes.md
  ADR/README.md
Due: none

add shortcodes system
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/utils/shortcodes/__init__.py
  integreat_cms/cms/utils/shortcodes/utils.py
  pyproject.toml
Due: translations

shortcode contact
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/shortcodes/__init__.py
  integreat_cms/cms/utils/shortcodes/contact.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

shortcode page
  integreat_cms/cms/utils/shortcodes/__init__.py
  integreat_cms/cms/utils/shortcodes/page.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fix ruff
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
Due: translations

Transform opening hours in API
  integreat_cms/api/v3/locations.py
Due: translations

Rename contact opening hours to office hours
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0146_remove_contact_opening_hours_contact_office_hours.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_context_mixin.py
  integreat_cms/cms/views/pois/poi_context_mixin.py
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add office hours to contact card
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Revert most changes
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/migrations/0146_alter_contact_opening_hours.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/utils/opening_hour.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add weekdays to contact cards
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Upgrade to Django 5.2 & support Python 3.13
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
Due: none

Fix 'ValueError: Model instances passed to related filters must be saved' during page creation
  integreat_cms/cms/forms/pages/page_form.py
Due: translations

Fix logout
  integreat_cms/cms/templates/_base.html
Due: djlint-django, translations

Pin new versions
  pyproject.toml
Due: none

Fix 'ValueError' in terminal
  integreat_cms/cms/models/pages/page.py
  pyproject.toml
Due: translations

Fix undefined self
  integreat_cms/cms/models/abstract_tree_node.py
Due: translations

Fix djlint
  integreat_cms/cms/templates/_base.html
Due: djlint-django, translations

Fix rrule
  integreat_cms/cms/models/events/recurrence_rule.py
Due: translations

[WIP] Refactor event and poi form view
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Fix abstract tree node get_repr
  integreat_cms/cms/models/abstract_tree_node.py
Due: translations

Fix get_repr methods
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/abstract_tree_node.py
  integreat_cms/cms/models/chat/chat_message.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/firebase/firebase_statistic.py
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/models/media/directory.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/offers/offer_template.py
  integreat_cms/cms/models/poi_categories/poi_category.py
  integreat_cms/cms/models/poi_categories/poi_category_translation.py
  integreat_cms/cms/models/push_notifications/push_notification.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/statistics/page_accesses.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/users/role.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/models/users/user_fido_key.py
Due: translations

Refactor 'get' in 'page_form_view'
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Skip 'test_replace_links_commit'
  tests/core/management/commands/test_replace_links.py
Due: translations

Update documentation of commit 79eecad7bfc7eec934789fbd21079d35352426fb [skip ci]
  ref-ext/integreat_cms.cms.models.feedback.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.models.feedback.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix rrule
  integreat_cms/cms/models/events/recurrence_rule.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Upgrade to Django 5.2 & support Python 3.13
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  pyproject.toml
Due: djlint-django, translations

Update treebeard
  pyproject.toml
Due: none

Fix page creation
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
Due: translations

Rename page_tree_tutorial_seen field to has_seen_page_tree_tutorial and update help text for better clarity.
  integreat_cms/cms/migrations/0146_remove_user_page_tree_tutorial_seen_and_more.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/views/settings/dismiss_tutorial_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations
