Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Delete show_page_based_statistics
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/core/settings.py
  integreat_cms/release_notes/current/unreleased/4545.yml
Due: djlint-django, translations

Fix djlint settings
  integreat_cms/api/v3/templates/webapp_server_side_include.html
  pyproject.toml
Due: djlint-django, translations

Format html templates with djlint
  docs/src/templates/layout.html
  integreat_cms/api/v3/templates/error_headers.html
  integreat_cms/api/v3/templates/raw_content.html
  integreat_cms/api/v3/templates/social_media_headers.html
  integreat_cms/api/v3/templates/webapp_server_side_include.html
Due: djlint-django, translations

Update Python dependencies
  pyproject.toml
Due: none

Allow releasing a region from API management
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/regions/__init__.py
  integreat_cms/cms/views/regions/region_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4558.yml
  tests/cms/views/regions/test_release_api_management.py
Due: djlint-django, translations

Assert the message level instead of its translated text
  tests/cms/views/regions/test_release_api_management.py
Due: translations

Keep a released budget that is not one of the package sizes
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/regions/region_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/regions/test_release_api_management.py
Due: djlint-django, translations

Do not let the unsaved-warning cancel a confirmed action
  integreat_cms/release_notes/current/unreleased/4560.yml
  integreat_cms/static/src/js/__tests__/unsaved-warning.test.ts
  integreat_cms/static/src/js/unsaved-warning.ts
Due: eslint

Let prettier ignore `tests/api/expected-outputs`
  .prettierignore
Due: none

Fix test fixtures
  tests/api/expected-outputs/raw_content_augsburg_de_event.html
  tests/api/expected-outputs/raw_content_augsburg_de_imprint.html
  tests/api/expected-outputs/raw_content_augsburg_de_location.html
  tests/api/expected-outputs/raw_content_augsburg_de_page.html
  tests/api/expected-outputs/social.html
  tests/api/expected-outputs/social_augsburg.html
  tests/api/expected-outputs/social_augsburg_de.html
  tests/api/expected-outputs/social_augsburg_de_child_page.html
  tests/api/expected-outputs/social_augsburg_de_event.html
  tests/api/expected-outputs/social_augsburg_de_event_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_imprint.html
  tests/api/expected-outputs/social_augsburg_de_location.html
  tests/api/expected-outputs/social_augsburg_de_location_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_page.html
  tests/api/expected-outputs/social_augsburg_de_page_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_pn_non-existing.html
  tests/api/expected-outputs/social_augsburg_non-existing.html
  tests/api/expected-outputs/social_birkenfeld_de_archived.html
  tests/api/expected-outputs/social_landing.html
  tests/api/expected-outputs/social_landing_de.html
  tests/api/expected-outputs/social_landing_en.html
  tests/api/expected-outputs/social_landing_non-existing.html
Due: djlint-django, translations

Raise JS target to `es2020`
  eslint.config.mjs
  tsconfig.json
Due: eslint

WIP
  integreat_cms/sitemap/urls.py
Due: translations

Update translation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Update documentation of commit e9f80a8e127d70bfc110b9e8c05c1cf6b4cbc459 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix flaky test: test_api_raw_content.py::test_api_result
  docs/src/testing.rst
  integreat_cms/api/v3/raw_content.py
  tests/api/test_api_raw_content.py
  tests/cms/models/chat/test_user_chat.py
  tests/cms/views/contacts/test_contact_from_existing_data.py
Due: translations

Update documentation of commit c396ae37e7283b7fb6a506296d66019ab35c129b [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.api.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/tests.api.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Track floating cimg/python:3.13 tag in Dockerfile.test to match ci config
  tools/docker/Dockerfile.test
Due: none

Add VS Code settings
  .vscode/extensions.json
  .vscode/settings.json
  TODO.md
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
Due: djlint-django, translations

Use `HttpResponse` as `AnalyticsView.get()` return type
  integreat_cms/cms/views/statistics/statistics_view.py
Due: translations

Make member variables in `MatomoApiClient` private and tighten types
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Disable eslint rule `no-param-reassign`
  eslint.config.mjs
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
  integreat_cms/static/src/js/feature/bulk-actions.ts
  integreat_cms/static/src/js/filter-form.ts
  integreat_cms/static/src/js/machine-translation-overlay.ts
  integreat_cms/static/src/js/mutually-exclusive-checkboxes.ts
  integreat_cms/static/src/js/pages/fetch-subpages.ts
  integreat_cms/static/src/js/pages/toggle-subpages.ts
  integreat_cms/static/src/js/pages/xliff-export-overlay.ts
  integreat_cms/static/src/js/pages/xliff-import.ts
  integreat_cms/static/src/js/pois/opening-hours/component/opening-hours-input-fields.tsx
  integreat_cms/static/src/js/pois/poi-map.ts
  integreat_cms/static/src/js/revisions.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  integreat_cms/static/src/js/unsaved-warning.ts
  integreat_cms/static/src/js/user/organization.ts
Due: eslint

Remove unused file `testfile`
  testfile
Due: none

Replace `@import` with `@use` in scss files
  integreat_cms/static/src/css/style.scss
Due: none

Convert `QuerySet` to `list` to satisfy type checker
  integreat_cms/cms/views/statistics/statistics_actions.py
Due: translations

Move constants to the top level
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Move loader indicator next to text to avoid layout shift
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
Due: djlint-django, translations

Inline functions in `statistics-page-accesses.ts`
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Raise JS target to `es2018`
  eslint.config.mjs
  tsconfig.json
Due: eslint

Let `updateChart()` take the chart object
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Move parameter definition into `fetch()` call
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Remove unused `export` qualifier
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Store map of chart items by checkboxes
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Inline functions in `statistics-charts.ts`
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Hide page based stats when no language is selected
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/locale/nl/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/utils/html.ts
  integreat_cms/static/src/js/utils/iterators.ts
Due: djlint-django, eslint, translations

Move machine translation processing to Celery
  integreat_cms/cms/constants/translation_status.py
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/forms/push_notifications/push_notification_translation_form.py
  integreat_cms/cms/migrations/0159_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/content_edit_lock.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/cms/views/utils/machine_translations.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/deepl_api/apps.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/apps.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_content_edit_lock.py
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/cms/views/utils/test_machine_translation_report.py
  tests/core/utils/__init__.py
  tests/core/utils/test_machine_translation_celery_task.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
Due: translations

Integrate refresh outdated translations with async mt translations
  integreat_cms/cms/migrations/0164_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/mt_api/mt_api_test.py
Due: translations

Add migration and style fix
  integreat_cms/cms/migrations/0161_add_currently_in_machine_translation_field.py
  tests/mt_api/mt_api_test.py
Due: translations

Release MT locks and flag on task failure and add lock ttl
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
