Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Update documentation of commit aa458c7f160df8806516cf84f39b91fab1656690 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix poi table layout (#3044)
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/templates/pois/poi_list_archived.html
Due: djlint-django, translations

Update documentation of commit f742afbd6fcceb5986f7bc6241cf665afd605d5f [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Configure dependabot for devcontainer, pip and npm
  .github/dependabot.yml
  docs/src/documentation.rst
Due: none

Update documentation of commit 2e5733f0a21a2afa53817a9a51d8f056e9f33b01 [skip ci]
  documentation.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update dependencies
  package-lock.json
  pyproject.toml
Due: none

Remove dependabot for pip
  .github/dependabot.yml
Due: none

Update documentation of commit 2d4aa90eb12b9d68c555241ad80638a2d628137b [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix typo in organization form
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Add organization URLs to link check
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/linklists.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/release_notes/current/unreleased/2369.yml
Due: translations

Update documentation of commit 127d22a9b90851368d6c4d025b0b79a3bbc095c4 [skip ci]
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.forms.organizations.html
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.forms.users.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.pois.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.templatetags.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.dashboard.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.forms.organizations.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.forms.users.html
  ref/integreat_cms.cms.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.pois.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.templatetags.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.dashboard.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.html
  searchindex.js
Due: djlint-django, eslint, translations

Budget for Summ AI
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0103_region_summ_ai_budget_used_and_more.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/word_count.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/conditional-fields.ts
  integreat_cms/summ_ai_api/summ_ai_api_client.py
  integreat_cms/summ_ai_api/utils.py
  tests/cms/test_duplicate_regions.py
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Add `.python-version` to .gitignore
  .gitignore
Due: none

Add organization bulk actions
  integreat_cms/cms/templates/organizations/organization_list.html
  integreat_cms/cms/templates/organizations/organization_list_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/organizations/__init__.py
  integreat_cms/cms/views/organizations/organization_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Reformating
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/organizations/__init__.py
Due: translations

Add centralised link list in the network management
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/linkcheck_filters.py
  integreat_cms/cms/templatetags/url_tags.py
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/linkcheck/link_replace_view.py
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/1443.yml
Due: djlint-django, translations

Do not show translation status of the root language
  integreat_cms/cms/constants/countries.py
  integreat_cms/cms/migrations/0103_alter_language_primary_country_code_and_more.py
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/events/event_list_archived.html
  integreat_cms/cms/templates/events/event_list_archived_row.html
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_archived.html
  integreat_cms/cms/templates/pages/page_tree_archived_node.html
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list_row.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_template_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2389.yml
  package-lock.json
  package.json
Due: djlint-django, translations

Add automatic translation for incoming message
  docs/src/api-docs.rst
  integreat_cms/api/urls.py
  integreat_cms/api/v3/chat/chat_bot.py
  integreat_cms/api/v3/chat/user_chat.py
  integreat_cms/api/v3/chat/zammad_api.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0103_userchat_language_userchat_region_and_more.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/models/regions/region.py
Due: translations

Fix user chat migration
  integreat_cms/cms/migrations/0104_userchat_language_userchat_region_and_more.py
Due: translations

Update documentation of commit c3d865688420d06930ed408a071a30e64b56e42f [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add `.python-version` to .gitignore (#3069)
  .gitignore
Due: none

Update documentation of commit 413c3e508f6882dfa2a4f9905e29a7a1487a3c1b [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add deferrable tree constraints
  integreat_cms/cms/migrations/0105_languagetreenode_languagetreenode_unique_lft_tree_and_more.py
  integreat_cms/cms/models/abstract_tree_node.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/models/pages/page.py
  tests/core/management/commands/test_repair_tree.py
  tests/core/management/commands/test_send_push_notifications.py
Due: translations

Update documentation of commit 413c3e508f6882dfa2a4f9905e29a7a1487a3c1b [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Automatically attempt to fix tree when triggering signal handlers with save() fails after page move
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Re-implement repair_tree as a utility, fix test_data
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/utils/repair_tree.py
  integreat_cms/cms/utils/shadow_instance.py
  integreat_cms/core/management/commands/repair_tree.py
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
Due: translations

tests the repair_tree utility and management command
  tests/cms/utils/test_repair_tree.py
  tests/core/management/commands/test_repair_tree.py
Due: translations

tests for @tree_mutex()
  tests/cms/utils/test_tree_mutex.py
Due: translations

new @tree_mutex() decorator, forcing treebeard to use transactions :tada:
  integreat_cms/cms/models/abstract_tree_node.py
  integreat_cms/cms/utils/repair_tree.py
  integreat_cms/cms/utils/tree_mutex.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/language_tree/language_tree_actions.py
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/cms/views/language_tree/language_tree_node_form_view.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fix typo
  integreat_cms/static/src/js/analytics/hix-widget.ts
Due: eslint

Fix preact setter types
  integreat_cms/static/src/js/media-management/component/create-directory.tsx
  integreat_cms/static/src/js/media-management/component/directory-content.tsx
  integreat_cms/static/src/js/media-management/component/edit-sidebar.tsx
  integreat_cms/static/src/js/media-management/component/upload-file.tsx
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/pois/opening-hours/component/opening-hours-display.tsx
  integreat_cms/static/src/js/pois/opening-hours/component/opening-hours-input-fields.tsx
Due: eslint
