Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Update documentation of commit f6a90d15e7363adf795f3a920b5d6b821293e17e [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

docs: clarify which state leaks between non-transactional tests
  docs/src/testing.rst
Due: none

fix: enforce coverage threshold only on full test runs
  .circleci/config.yml
  tools/test.sh
Due: none

ci: drop redundant migrate step from test job
  .circleci/config.yml
Due: none

Revert django_db_setup override to fix CI test data loading
  tests/cms/views/poi_categories/test_poi_category_form_view.py
  tests/conftest.py
Due: translations

fix: make QUICK_ROLES work in Docker mode and parse it as boolean
  docker-compose.test.yml
  tests/conftest.py
  tools/test.sh
Due: translations

introduce pytest markers unit and slow, reduce role parametrization
  pyproject.toml
  tests/cms/models/events/test_recurrence_rule.py
  tests/cms/test_duplicate_regions.py
  tests/cms/utils/test_external_calendar_utils.py
  tests/cms/utils/test_rounded_hix_value.py
  tests/cms/utils/test_translation_utils.py
  tests/cms/utils/test_tree_mutex.py
  tests/cms/views/status_code/conftest.py
  tests/conftest.py
  tools/test.sh
Due: translations

fix: make rebased test refactor pass current ruff and mypy
  docs/src/testing.rst
  tests/constants.py
Due: translations

refactor: replace deprecated item.fspath with item.path
  tests/cms/views/status_code/conftest.py
Due: translations

test: keep the testmon database up to date on --changed runs
  docs/src/tools.rst
  tools/test.sh
Due: none

ruff
  tests/conftest.py
Due: translations

fix: disable cacheops entry points in test settings
  integreat_cms/core/test_settings.py
Due: translations

fix: compile only project translations in the test container
  tools/docker/test_entrypoint.sh
Due: none

avoid database hits in get_repr
  integreat_cms/cms/models/abstract_content_translation.py
Due: translations

fix: discard leaked messages from the shared test client
  docs/src/testing.rst
  tests/conftest.py
Due: translations

avoid spinning up a broken postgres container if INTEGREAT_CMS_DB_PORT is set to a different value then default 5432
  tools/_functions.sh
Due: none

fix: sync dockerized test env with CI images (Python 3.13, PSQL 17)
  docker-compose.test.yml
  tools/docker/Dockerfile.test
  tools/test.sh
Due: none

set INTEGREAT_CMS_DB_PORT to INTEGREAT_CMS_DOCKER_LISTEN_PORT if docker is used to avoid port mismatch
  tools/test.sh
Due: none

test: align db-trigger tests with the no-serialized_rollback convention
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

test: replace create_page/create_language fixtures with factories
  docs/src/testing.rst
  tests/cms/models/pages/test_page_translation.py
  tests/cms/views/pages/test_page_form.py
  tests/conftest.py
Due: translations

clear cache between test runs
  tests/conftest.py
Due: translations

docs: describe Docker test mode, coverage gate and updated ordering
  docs/src/testing.rst
Due: none

unify test settings, eliminate ordering dependencies, fix flaky tests
  integreat_cms/core/circleci_settings.py
  integreat_cms/core/test_settings.py
  pyproject.toml
  tests/cms/test_duplicate_regions.py
  tests/cms/utils/test_disable_hix_post_save_signal.py
  tests/cms/utils/test_repair_tree.py
  tests/cms/utils/test_tree_mutex.py
  tests/conftest.py
  tests/core/management/commands/test_copy_pois.py
  tests/core/management/commands/test_fix_internal_links.py
  tests/core/management/commands/test_repair_tree.py
  tests/core/management/commands/test_replace_links.py
  tests/core/management/commands/test_reset_deepl_budget.py
  tests/core/management/commands/test_update_link_text.py
  tools/test.sh
Due: translations

run tests in docker container by default
  docker-compose.test.yml
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
  tools/test.sh
Due: none

fix: run dockerized tests as the invoking host user
  docker-compose.test.yml
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
  tools/test.sh
Due: none

pass --update-snapshot argument to pytest and fix indentation on generated snapshot files
  tests/api/test_api_result.py
  tools/test.sh
Due: translations

fix venv volume write permissions via image, not runtime chown
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
Due: none

clean and tighten test_fix_internal_links_commit_skips_version_conflicts and restore linkcheck listener settings between test runs
  tests/conftest.py
  tests/core/management/commands/test_fix_internal_links.py
Due: translations

ci: note that the test images are mirrored by the local docker setup
  .circleci/config.yml
Due: none

ci: run pytest-xdist inside test containers, halve shard count
  .circleci/config.yml
Due: none

decrease required test coverage
  pyproject.toml
Due: none

fix: ensure webpack bundle exists before dockerized test runs
  tools/test.sh
Due: none

Restore @pytest.mark.order("last") on all transactional tests
  docs/src/testing.rst
  tests/cms/test_duplicate_regions.py
  tests/cms/utils/test_repair_tree.py
  tests/cms/utils/test_tree_mutex.py
  tests/core/management/commands/test_copy_pois.py
  tests/core/management/commands/test_fix_internal_links.py
  tests/core/management/commands/test_repair_tree.py
  tests/core/management/commands/test_replace_links.py
  tests/core/management/commands/test_reset_deepl_budget.py
  tests/core/management/commands/test_update_link_text.py
Due: translations

test: don't instrument filtered test runs with coverage
  docs/src/testing.rst
  tools/test.sh
Due: none

fix: run --changed tests serially since testmon conflicts with xdist
  tools/test.sh
Due: none

fix: never use redis/cacheops in test settings
  integreat_cms/core/test_settings.py
  pyproject.toml
Due: translations

Keep filter state after copy and delete action in Events (#4428)
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/utils/event_utils.py
  integreat_cms/cms/views/events/event_actions.py
  integreat_cms/release_notes/current/unreleased/2396.yml
  integreat_cms/static/src/js/utils/confirmation-popup.ts
Due: djlint-django, eslint, translations
