Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

[WIP] Restored commit
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Disallow publishing imported events through version history
  integreat_cms/cms/templates/content_versions.html
  integreat_cms/cms/views/content_version_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add timeout setting for Integreat chat
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/core/settings.py
Due: translations

Update documentation of commit b0f0dcdbbc1d9efef5ee571aa3d0b966b44e0bbf [skip ci]
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.imprint.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.imprint.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Exclude contact cards (and other non-editable blocks) from HIX
  integreat_cms/cms/views/utils/hix.py
Due: translations

Fix loading of childnodes
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: djlint-django, translations

Fix codestyle
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: djlint-django, translations

Add tests for contact actions
  tests/cms/models/contacts/test_contacts.py
  tests/cms/views/contacts/test_contact_actions.py
Due: translations

Add popup for information about page access statistics
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0111_add_statistics_tutorial_seen_to_user.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/generic_tutorial_dialog.html
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/tutorials/page_access_statistics.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/settings/dismiss_tutorial_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3132.yml
Due: djlint-django, translations

Add _generic_page_tree_node.hmtl
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: djlint-django, translations

update translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Cleaning up and deleting page_tree_archived files
  integreat_cms/cms/templates/pages/page_tree_archived.html
  integreat_cms/cms/templates/pages/page_tree_archived_node.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Rename page_tree to pages_page_tree
  integreat_cms/cms/templates/pages/_page_tree_children.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tree-drag-and-drop.ts
Due: djlint-django, eslint, translations

Apply suggestion
  tests/cms/views/link_replace/test_link_actions.py
Due: translations

Add page accesses calls
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/statistics/__init__.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Fix pylint
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: translations

Prevent orphaned contact cards
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fix sudden ruff complaint
  integreat_cms/core/wsgi.py
Due: translations

Link to (Integreat) Map
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/templates/ajax_poi_form/_poi_address_container.html
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Replace black with ruff
  .circleci/config.yml
  docs/src/conf.py
  integreat_cms/api/v3/chat/utils/zammad_api.py
  integreat_cms/api/v3/languages.py
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/forms/languages/language_form.py
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/forms/pages/page_form.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0066_update_poi_translation_status.py
  integreat_cms/cms/migrations/0104_userchat_language_userchat_region_and_more.py
  integreat_cms/cms/migrations/0110_region_zammad_webhook_token_alter_region_zammad_url.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/templatetags/linkcheck_filters.py
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/cms/views/events/event_actions.py
  integreat_cms/cms/views/pages/page_permission_actions.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/cms/views/utils/hix.py
  integreat_cms/core/signals/feedback_signals.py
  integreat_cms/core/utils/word_count.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  pyproject.toml
  setup.py
  tests/cms/views/dashboard/test_dashboard.py
  tests/cms/views/organizations/test_organization_actions.py
  tests/cms/views/utils.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
  tests/mt_api/utils.py
  tests/summ_ai_api/summ_ai_test.py
  tests/textlab_api/textlab_api_test.py
  tests/utils.py
  tools/black.sh
  tools/ruff.sh
Due: translations

[WIP] Include page tree to statistics
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: djlint-django, eslint, translations

Add translation coverage row to dashboard
  integreat_cms/cms/templates/dashboard/_todo_dashboard_widget.html
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/_missing_translations_row.html
  integreat_cms/cms/templates/dashboard/todo_dashboard_rows/number_of_missing_or_outdated_translations_row.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/dashboard/translation-coverage.ts
Due: djlint-django, eslint, translations

Adjust link type wording
  integreat_cms/cms/constants/linkcheck.py
  integreat_cms/cms/templates/analytics/_broken_links_widget.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 4b96727e522fd34d20b3d1a5e7c80d462a41d4b7 [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Stop hiding the grids when POI is removed
  integreat_cms/static/src/js/poi_box.ts
Due: eslint

Add support for left and right arrows
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/static/src/js/search-query.ts
Due: djlint-django, eslint, translations

Javascript code
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Disable select for events from external calendars
  integreat_cms/cms/templates/events/event_form_sidebar/date_and_time_box.html
Due: djlint-django, translations

Update documentation of commit f00b63c86414aaef770986afa6bdfcd9bd097abd [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.views.linkcheck.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.views.linkcheck.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix some problems with outlook recurrence rule (#3229)
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_bymonth.ics
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_bymonthday.ics
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_wkst_su.ics
  tests/cms/utils/test_external_calendar_utils.py
  tests/core/management/commands/assets/calendars/outlook_calendar.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Parse recurrence rules with `BYDAY` entries with frequency
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_conflicting_byday_and_bysetpos.ics
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_multiple_byday_frequencies.ics
  tests/cms/utils/test_external_calendar_utils.py
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Fix event creation
  integreat_cms/cms/templates/ajax_poi_form/_poi_address_container.html
  integreat_cms/release_notes/current/unreleased/3223.yml
  tests/cms/views/events/test_event_form.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_api_test.py
Due: djlint-django, translations

temporary disable
  tests/cms/views/link_replace/test_link_actions.py
Due: translations

Fix migration
  integreat_cms/cms/migrations/0112_add_statistics_tutorial_seen_to_user.py
Due: translations

[WIP] First idea for graph
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations
