Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

update sitemap for augsburg_de
  tests/pdf/test_pdf_export.py
Due: translations

update expected pages for augsburg children and children depth2
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
Due: none

change back sitemap
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
Due: none

new sitemap
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
Due: none

fix sitemap
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
Due: none

set new test pages to archived
  integreat_cms/cms/fixtures/test_data.json
  tests/pdf/test_pdf_export.py
Due: translations

remove archived pages from expected json results
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
Due: none

revert changes to sitemap
  tests/sitemap/sitemap_config.py
Due: translations

revert changes to sitemap
  tests/pdf/test_pdf_export.py
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
Due: translations

Add contact bulk actions
  integreat_cms/cms/templates/contacts/contact_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/contacts/__init__.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 25850c4cac2f88f7a05ad26727d1858dc2c10b8a [skip ci]
  documentation.html
  genindex.html
  objects.inv
  py-modindex.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.language_tree.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.language_tree.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Apply suggestions from code review
  integreat_cms/cms/templates/events/external_calendar_list_row.html
Due: djlint-django, translations

Adjust colspan and wording of created_by
  integreat_cms/cms/migrations/0107_update_externalcalendar.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/templates/events/external_calendar_list.html
  integreat_cms/cms/templates/events/external_calendar_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

normalize svg to 24x24 and no color
  integreat_cms/static/src/svg/call.svg
  integreat_cms/static/src/svg/clock.svg
  integreat_cms/static/src/svg/contact.svg
  integreat_cms/static/src/svg/email.svg
  integreat_cms/static/src/svg/group.svg
  integreat_cms/static/src/svg/idea.svg
  integreat_cms/static/src/svg/no-translate.svg
  integreat_cms/static/src/svg/pin.svg
  integreat_cms/static/src/svg/select-down-arrow.svg
  integreat_cms/static/src/svg/speech.svg
  integreat_cms/static/src/svg/www.svg
Due: none

re-vectorize no-translate icon
  integreat_cms/static/src/svg/no-translate.svg
Due: none

Only make this feature available to staff
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/views/region_condition/region_condition_actions.py
Due: djlint-django, translations

Implement region condition data export
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/region_condition/__init__.py
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/cms/views/region_condition/region_condition_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix sphinx error
  integreat_cms/cms/views/region_condition/region_condition_actions.py
Due: translations

Fix ruff
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/region_condition/__init__.py
  integreat_cms/cms/views/region_condition/region_condition_actions.py
Due: translations

Fix typos and translations
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Implement region condition data export (#3079)
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/region_condition/region_condition.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/cms/views/region_condition/__init__.py
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/cms/views/region_condition/region_condition_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Re-implement repair_tree as a utility, fix test_data
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/utils/repair_tree.py
  integreat_cms/cms/utils/shadow_instance.py
  integreat_cms/core/management/commands/repair_tree.py
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
Due: translations

Automatically attempt to fix tree when triggering signal handlers with save() fails after page move
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

tests the repair_tree utility and management command
  tests/cms/utils/test_repair_tree.py
  tests/core/management/commands/test_repair_tree.py
Due: translations

adjust previous migration to fix tree before adding constraints
  integreat_cms/cms/migrations/0105_languagetreenode_languagetreenode_unique_lft_tree_and_more.py
  integreat_cms/cms/utils/repair_tree.py
Due: translations

change test region to nurnberg, un-archive test-pages, add test pages to expected outcomes
  integreat_cms/cms/fixtures/test_data.json
  tests/cms/utils/test_cancel_translation.py
  tests/sitemap/expected-sitemaps/sitemap-nurnberg-de.xml
  tests/sitemap/sitemap_config.py
Due: translations

revert changes to expected api test results
  tests/api/api_config.py
Due: translations

update region for cancellation test
  tests/cms/utils/test_cancel_translation.py
Due: translations

add contacts to content search api endpoint
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/views/utils/search_content_ajax.py
Due: translations

implement embedded contacts functionality with tinymce
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/utils/contact_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/tinymce_custom.css
  integreat_cms/static/src/editor_content.ts
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

always render cards for embedded contacts server side
  integreat_cms/cms/utils/content_utils.py
Due: translations

implement tracking where contacts are embedded and update when details change
  integreat_cms/cms/apps.py
  integreat_cms/cms/contactlist.py
  integreat_cms/cms/migrations/0107_contactusage_and_more.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/contact/contact_usage.py
  integreat_cms/cms/utils/contact_usage_listeners.py
  integreat_cms/cms/utils/contact_utils.py
  integreat_cms/core/management/commands/findcontacts.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

show where contact is embedded
  integreat_cms/cms/templates/_related_contents_table.html
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/cms/views/contacts/contact_form_view.py
Due: djlint-django, translations

remove roles that have no permissions for nurnberg
  tests/cms/utils/test_cancel_translation.py
Due: translations

import block linting
  tests/cms/utils/test_cancel_translation.py
Due: translations

Fix error when importing iCal events with multiple categories
  integreat_cms/cms/utils/external_calendar_utils.py
Due: translations

Add last changed and last updated fields
  integreat_cms/cms/migrations/0108_alter_externalcalendar.py
  integreat_cms/cms/models/external_calendars/external_calendar.py
  integreat_cms/cms/templates/events/external_calendar_list.html
  integreat_cms/cms/templates/events/external_calendar_list_row.html
  integreat_cms/cms/views/external_calendars/external_calendar_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Disable copying for imported events
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/views/events/event_context_mixin.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Disallow publishing imported events through version history
  integreat_cms/cms/templates/content_versions.html
Due: djlint-django, translations
