Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update documentation of commit 609e56bf428914fa5c7ad6e442f14d09937cfe31 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Move machine translation processing to Celery
  integreat_cms/cms/constants/translation_status.py
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/forms/push_notifications/push_notification_translation_form.py
  integreat_cms/cms/migrations/0159_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/content_edit_lock.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/cms/views/utils/machine_translations.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/deepl_api/apps.py
  integreat_cms/deepl_api/deepl_api_client.py
  integreat_cms/google_translate_api/apps.py
  integreat_cms/google_translate_api/google_translate_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_content_edit_lock.py
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/cms/views/utils/test_machine_translation_report.py
  tests/core/utils/__init__.py
  tests/core/utils/test_machine_translation_celery_task.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
Due: translations

Add Redis fallback and fix failing documentation build
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
Due: translations

Add change requests
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/forms/push_notifications/push_notification_translation_form.py
  integreat_cms/cms/migrations/0159_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/utils/content_edit_lock.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/deepl_api/apps.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Add migration and style fix
  integreat_cms/cms/migrations/0161_add_currently_in_machine_translation_field.py
  tests/mt_api/mt_api_test.py
Due: translations

Fix failing test
  tests/mt_api/mt_api_test.py
Due: translations

Fix privilege escalation in task_progress endpoint
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_progress.py
Due: translations

Untranslate internal MT error strings and split up start_async_translation
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/utils/machine_translation_types.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/cms/views/utils/test_machine_translation_report.py
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Integrate refresh outdated translations with async mt translations
  integreat_cms/cms/migrations/0164_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/mt_api/mt_api_test.py
Due: translations

Release MT locks and flag on task failure and add lock ttl
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Wrap async call in transaction.on_commit
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/core/utils/test_machine_translation_celery_task.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
Due: translations

Refactor translation reports as django model
  integreat_cms/cms/migrations/0165_machine_translation_report.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/machine_translations/__init__.py
  integreat_cms/cms/models/machine_translations/machine_translation_report.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_report.py
Due: translations

Make redis a hard, loud requirement
  integreat_cms/core/apps.py
  integreat_cms/core/checks.py
  integreat_cms/core/settings.py
Due: translations

Remove blanket cache flush on post_migrate
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/cache_signals.py
Due: translations

Document redis lock + db flag decision in ADR
  ADR/0004-redis-lock-and-db-flag-for-machine-translation-concurrency.md
Due: none

Add frontend UX for Celery-based machine translation progress
  integreat_cms/cms/templates/_content_edit_lock.html
  integreat_cms/cms/templates/_machine_translation_lock_dialog.html
  integreat_cms/cms/templates/messages.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/js/content-edit-lock.ts
  integreat_cms/static/src/js/feature/mt-progress-poll.ts
  integreat_cms/static/src/js/utils/mt-report-banner.ts
Due: djlint-django, eslint, translations

update CircleCI config: use branches ignore pattern instead of negative lookahaed
  .circleci/config.yml
Due: none

Update documentation of commit 998e074fbf2c989780d720cd1399f1e2249a8890 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.cms.views.status_code.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.cms.views.status_code.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix `make_docs.sh` errors
  package-lock.json
  package.json
  tools/npm/markOrphan.ts
  tools/npm/tsconfig.json
Due: eslint

Allow some npm build scripts
  package.json
Due: none

Update NPM dependency `maplibre-gl`
  integreat_cms/static/src/js/pois/poi-map.ts
  package-lock.json
  package.json
  webpack.config.js
Due: eslint

Fix new ruff errors
  integreat_cms/cms/utils/pdf_utils.py
  integreat_cms/news_managers/abstract_news_manager.py
  pyproject.toml
Due: translations

Allow `maplibre-gl` updates from dependabot again
  .github/dependabot.yml
Due: none

Fix new mypy errors
  docs/src/conf.py
  tests/cms/models/contacts/test_contacts.py
  tests/cms/test_login.py
  tests/cms/utils/test_cancel_translation.py
  tests/cms/utils/test_slug_utils.py
  tests/cms/views/bulk_actions.py
  tests/cms/views/contacts/test_contact_actions.py
  tests/cms/views/contacts/test_contact_form.py
  tests/cms/views/contacts/test_contact_utils.py
  tests/cms/views/events/test_event_form.py
  tests/cms/views/language_nodes/test_language_tree_node_actions.py
  tests/cms/views/link_replace/test_link_actions.py
  tests/cms/views/organizations/test_organization_actions.py
  tests/cms/views/organizations/test_organization_form.py
  tests/cms/views/pages/test_page_actions.py
  tests/cms/views/pages/test_page_form.py
  tests/cms/views/poi/test_poi_form.py
  tests/cms/views/push_notifications/test_push_notification_form_view.py
  tests/cms/views/utils/test_hix.py
  tests/conftest.py
  tests/core/management/commands/test_duplicate_pages.py
  tests/core/management/commands/test_hix_bulk.py
  tests/core/management/commands/test_send_push_notifications.py
  tests/firebase_api/test_firebase_api_client.py
  tests/firebase_api/test_firebase_data_client.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
  tests/mt_api/mt_provider_assignment_test.py
  tests/textlab_api/textlab_api_test.py
  tests/xliff/xliff_test.py
Due: translations

Update dependencies, remove unused packages
  eslint.config.mjs
  integreat_cms/static/src/types/index.d.ts
  package-lock.json
  package.json
  vitest.config.mts
Due: eslint

Update Python dependencies
  pyproject.toml
Due: none

2908: Fix indentation levels and fixtures
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/static/src/css/pdf_page_export.css
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf
  tests/pdf/test_pdf_export.py
Due: djlint-django, translations

2908: Replace xhtml2pdf
  .circleci/config.yml
  README.md
  docs/src/conf.py
  docs/src/frontend-bundling.rst
  docs/src/installation.rst
  docs/src/prod-server.rst
  example-configs/integreat-cms.ini
  flake.nix
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/cms/utils/pdf_utils.py
  integreat_cms/core/settings.py
  integreat_cms/release_notes/current/unreleased/2908.yml
  integreat_cms/static/src/css/pdf_page_export.css
  integreat_cms/static/src/fonts/dejavu-sans/dejavu-sans-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef.css
  integreat_cms/static/src/fonts/noto-sans-ethiopic/noto-sans-ethiopic-pdf.css
  integreat_cms/static/src/fonts/noto-sans-georgian/noto-sans-georgian-pdf.css
  integreat_cms/static/src/fonts/noto-sans-sc/noto-sans-sc-pdf.css
  integreat_cms/static/src/fonts/open-sans/open-sans-pdf.css
  integreat_cms/static/src/fonts/raleway/raleway-pdf.css
  pyproject.toml
  tests/pdf/test_pdf_export.py
  tools/docker/Dockerfile.test
Due: djlint-django, translations

2908: Fixed the indentation for ul and ol lists
  integreat_cms/static/src/css/pdf_page_export.css
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
Due: none

3059: Reverted to base_location at copy_places
  integreat_cms/core/management/commands/copy_places.py
Due: translations

3059: Fixed formatting for djlint
  integreat_cms/cms/templates/_place_query_result.html
  integreat_cms/cms/templates/ajax_place_form/_base_place_box.html
  integreat_cms/cms/templates/ajax_place_form/_place_address_container.html
  integreat_cms/cms/templates/ajax_place_form/_place_form_widget.html
  integreat_cms/cms/templates/places/place_form.html
  integreat_cms/cms/templates/places/place_form_sidebar/minor_edit_box.html
Due: djlint-django, translations

2908: Fixed the formatting for djlint
  integreat_cms/cms/templates/pages/page_pdf.html
Due: djlint-django, translations

4288: Changed hover text
  integreat_cms/cms/templates/users/user_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4288.yml
Due: djlint-django, translations

Add PDF path to example Apache config
  example-configs/apache2-integreat-vhost.conf
Due: none

Update documentation of commit 474f02e8567dcb086183c45a2cf95ea50959bce1 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.cms.views.status_code.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.cms.views.status_code.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add logo usage terms
  NOTICE.md
Due: none

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
