Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Update integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pages/page.py
Due: translations

Fix initializing of set
  integreat_cms/cms/models/pages/page.py
Due: translations

Remove unique slug migration
  integreat_cms/cms/migrations/0142_change_permission_page_based_statistics.py
  integreat_cms/cms/migrations/0142_make_existing_slugs_unique.py
Due: translations

Track generated chat words
  integreat_cms/api/v3/chat/utils/chat_bot.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0144_userchat_created_timestamp_and_more.py
  integreat_cms/cms/models/chat/user_chat.py
  integreat_cms/cms/templates/dashboard/_public_chat_stats.html
  integreat_cms/cms/templates/dashboard/dashboard.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/utils/zammad.py
  integreat_cms/cms/views/dashboard/dashboard_view.py
  integreat_cms/core/context_processors.py
  integreat_cms/core/settings.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3695.yml
  tests/cms/models/chat/test_user_chat.py
Due: djlint-django, translations

added new validation start_date must be today or later
  integreat_cms/cms/forms/events/event_form.py
Due: translations

Update German translation for event start validation
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Update documentation of commit fb51095823738e7802103fbcfc02a7ac468ddf58 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Option to activate contacts
  docs/src/api-docs.rst
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0143_region_contacts_enabled.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  tests/api/expected-outputs/regions.json
  tests/api/expected-outputs/regions_augsburg.json
  tests/api/expected-outputs/regions_berlin.json
  tests/api/expected-outputs/regions_nurnberg.json
  tests/cms/models/contacts/test_contacts.py
  tests/cms/views/contacts/test_contact_form.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_api_test.py
  tests/sitemap/expected-sitemaps/sitemap-index.xml
Due: djlint-django, eslint, translations

Update integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Fix opening hours of contact created in new poi form
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Update documentation of commit 05550871a03229c78580c3999691cf5236a6db9a [skip ci]
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix pcregrep install in devcontainer
  .devcontainer/Dockerfile
Due: none

Change page access statistics loading indication to single indication
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Update documentation of commit 3efccf5827946ddf7d63ecf7b42971799bb0d29b [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 43ba873addc41475f0b8251f5d0f677b38c6c0fa [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Remove duplicates in search suggestion
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint, translations

Log shortcode errors
  integreat_cms/cms/utils/shortcodes/__init__.py
Due: translations

Fix page shortcode when using the page title as link title
  integreat_cms/cms/utils/shortcodes/page.py
Due: translations

Force rebuild: normalize django.po translation file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Fix: enscure newline at the translation file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

added release note for events with invalid or past dates
  integreat_cms/release_notes/2025/2025.10.0/3797.yml
Due: none

Fix prettier formatting style.
  integreat_cms/release_notes/2025/2025.10.0/3797.yml
Due: none

Refactor primary contact to manger method
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Generate SBOM for releases
  .circleci/config.yml
Due: none

Update documentation of commit d54163334f94371d0b259becc8ed4b39aac8d15f [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Change CircleCI bumpver resource class
  .circleci/config.yml
Due: none

Update documentation of commit 5202cc1ae2c5cd437db3b70e37ceaf2f5eb52cf8 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 26c0479e093bae54a44d67de084b39be2f26c34d [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit f8183b36a7e976f6175f49ec7134478dab408f26 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix SBOM arguments and CircleCI resource class
  .circleci/config.yml
Due: none

Update documentation of commit 5774352c4d6fd01f4fb2547808ea3b9341fbe7d9 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
