Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Add Change Request
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Added change requests
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
Due: eslint

Fix typo
  integreat_cms/release_notes/current/unreleased/2133.yml
Due: none

Add migration to make inactive visible nodes invisible
  integreat_cms/cms/migrations/0135_languagetreenode_language_tree_node_inactive_requires_invisible.py
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/cache_signals.py
Due: translations

Add constraint for language tree node
  integreat_cms/cms/forms/language_tree/language_tree_node_form.py
  integreat_cms/cms/migrations/0135_languagetreenode_language_tree_node_inactive_requires_invisible.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2133.yml
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
  tests/cms/models/languages/test_language_tree_node.py
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Fix the migration number
  integreat_cms/cms/migrations/0140_languagetreenode_language_tree_node_inactive_requires_invisible.py
Due: translations

add only_weekdays to API
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_en_events.json
Due: translations

Update documentation of commit 7541922779f60886e13b692a4bcbe67faa74d88f [skip ci]
  api-docs.html
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

api events: fix internal server error
  integreat_cms/api/v3/locations.py
  integreat_cms/release_notes/current/unreleased/3776.yml
Due: translations

Update documentation of commit 0ff0360a53b24a23d6bde04a6ddab141c126203d [skip ci]
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

fix contact trigram similarity search
  integreat_cms/cms/models/contact/contact.py
Due: translations

keep decorator and catch in ltn view
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit d4779b38912e6f417116c2fdcae85a1f4105586b [skip ci]
  api-docs.html
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.language_tree.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.language_tree.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Add_forwarding_bulkaction_to_feedback
  integreat_cms/cms/templates/feedback/region_feedback_list.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/feedback/__init__.py
  integreat_cms/cms/views/feedback/region_feedback_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2925.yml
Due: djlint-django, translations

Rename online_link to meeting_url, add exclusivity constraint with location
  docs/src/api-docs.rst
  integreat_cms/api/v3/events.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/events/event_form.py
  integreat_cms/cms/migrations/0140_rename_online_link_event_meeting_url.py
  integreat_cms/cms/models/events/event.py
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/events/conditional-fields.ts
  integreat_cms/static/src/js/poi-box.ts
  tests/api/expected-outputs/augsburg_ar_events.json
  tests/api/expected-outputs/augsburg_de_events.json
  tests/api/expected-outputs/augsburg_de_events_combine_recurring.json
  tests/api/expected-outputs/augsburg_en_events.json
  tests/api/expected-outputs/nurnberg_de_events.json
  tests/api/expected-outputs/nurnberg_en_events.json
Due: djlint-django, eslint, translations

Rework page accesses typescript
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Remove error messages from html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Add language title to bar
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Styling
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

PoC Scope Ts Files and dynamically initialize
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/ajax-contact-form.ts
  integreat_cms/static/src/js/auto-file-download.ts
  integreat_cms/static/src/js/bulk-actions.ts
  integreat_cms/static/src/js/pages/fetch-subpages.ts
Due: djlint-django, eslint, translations

Add constraint for language tree node
  integreat_cms/cms/forms/language_tree/language_tree_node_form.py
  integreat_cms/cms/migrations/0141_languagetreenode_language_tree_node_inactive_requires_invisible.py
  integreat_cms/cms/models/languages/language_tree_node.py
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/language_tree/language_tree_bulk_actions.py
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/cache_signals.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2133.yml
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
  tests/cms/models/languages/test_language_tree_node.py
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

WIP Fix npm install error
  package-lock.json
  package.json
Due: none

Fix order of initial loading
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Fix prettier
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Refactor poi templates
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/templates/pois/poi_list_archived.html
  integreat_cms/cms/templates/pois/poi_list_archived_row.html
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/cms/views/events/event_list_view.py
  integreat_cms/cms/views/pois/poi_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3794.yml
Due: djlint-django, translations

Update documentation of commit 1365fd7c773549ee1b5c0bb2f188ce00db5dcaf9 [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Fix plural and singular wording
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

WIP bulk upload management command
  integreat_cms/core/management/commands/bulk_media_upload.py
Due: translations

add bulk_media_upload to management command docs
  docs/src/management-commands.rst
  integreat_cms/core/management/commands/bulk_media_upload.py
Due: translations

add comments
  integreat_cms/core/management/commands/bulk_media_upload.py
Due: translations

Fix: prevent TypeError on id_use_location_opening_hours when element is missing
  docs/src/templates/layout.html
  integreat_cms/static/src/js/media-management/index.tsx
  integreat_cms/static/src/js/pois/opening-hours/index.tsx
Due: djlint-django, eslint, translations

Fix migration
  integreat_cms/cms/migrations/0139_auto_20250707_0624.py
  integreat_cms/cms/migrations/0139_make_existing_slugs_unique.py
Due: translations

Fix generate_unique_slug for script duplication
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Fix duplicate pages test
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
Due: translations

Fix Ruff
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
