Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

fix: compile only project translations in the test container
  tools/docker/test_entrypoint.sh
Due: none

ci: drop redundant migrate step from test job
  .circleci/config.yml
Due: none

fix: never use redis/cacheops in test settings
  integreat_cms/core/test_settings.py
  pyproject.toml
Due: translations

fix: run dockerized tests as the invoking host user
  docker-compose.test.yml
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
  tools/test.sh
Due: none

fix permissions in docker image
  docker-compose.test.yml
  tools/docker/test_entrypoint.sh
Due: none

fix cache issues
  docker-compose.test.yml
Due: none

fix: make rebased test refactor pass current ruff and mypy
  docs/src/testing.rst
  tests/constants.py
Due: translations

ci: run pytest-xdist inside test containers, halve shard count
  .circleci/config.yml
Due: none

refactor: replace deprecated item.fspath with item.path
  tests/cms/views/status_code/conftest.py
Due: translations

fix: run --changed tests serially since testmon conflicts with xdist
  tools/test.sh
Due: none

fix: ensure webpack bundle exists before dockerized test runs
  tools/test.sh
Due: none

docs: describe Docker test mode, coverage gate and updated ordering
  docs/src/testing.rst
Due: none

fix: enforce coverage threshold only on full test runs
  .circleci/config.yml
  tools/test.sh
Due: none

fix: sync dockerized test env with CI images (Python 3.13, PSQL 17)
  docker-compose.test.yml
  tools/docker/Dockerfile.test
  tools/test.sh
Due: none

fix volume write permission issue
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
Due: none

docs: clarify which state leaks between non-transactional tests
  docs/src/testing.rst
Due: none

re-write test factories into fixtures
  docs/src/testing.rst
  tests/cms/models/pages/test_page_translation.py
  tests/cms/views/pages/test_page_form.py
  tests/conftest.py
  tests/factories.py
Due: translations

ci: note that the test images are mirrored by the local docker setup
  .circleci/config.yml
Due: none

fix: discard leaked messages from the shared test client
  docs/src/testing.rst
  tests/conftest.py
Due: translations

clean and tighten test_fix_internal_links_commit_skips_version_conflicts and restore linkcheck listener settings between test runs
  tests/conftest.py
  tests/core/management/commands/test_fix_internal_links.py
Due: translations

test: don't instrument filtered test runs with coverage
  docs/src/testing.rst
  tools/test.sh
Due: none

test: keep the testmon database up to date on --changed runs
  docs/src/tools.rst
  tools/test.sh
Due: none

test: replace create_page/create_language fixtures with factories
  docs/src/testing.rst
  tests/cms/models/pages/test_page_translation.py
  tests/cms/views/pages/test_page_form.py
  tests/conftest.py
Due: translations

Add tools/branch_for_issue.sh and python script to fetch info from GitHub
  tools/branch_for_issue.sh
  tools/github_info.py
Due: translations

fix linting
  tools/branch_for_issue.sh
  tools/github_info.py
Due: translations

Remove side-by-side translation view
  integreat_cms/cms/templates/imprint/imprint_form.html
  integreat_cms/cms/templates/imprint/imprint_sbs.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/page_form_sidebar/translator_view_box.html
  integreat_cms/cms/templates/pages/page_sbs.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/imprint/__init__.py
  integreat_cms/cms/views/imprint/imprint_form_view.py
  integreat_cms/cms/views/imprint/imprint_sbs_view.py
  integreat_cms/cms/views/pages/__init__.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pages/page_sbs_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/locale/nl/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4351.yml
  integreat_cms/static/src/editor.ts
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/pages/page-side-by-side.ts
  integreat_cms/static/src/js/pages/sbs-copy-content.ts
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

feat: Add region settings API endpoint
  integreat_cms/api/urls.py
  integreat_cms/api/v3/region_settings.py
  integreat_cms/cms/constants/region_api_settings.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0158_mt_budget_adjustment.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/core/management/commands/reset_mt_budget.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4138-settings-api.yml
  integreat_cms/static/src/js/regions/conditional-fields.ts
  tests/api/test_region_settings.py
  tests/cms/views/regions/test_region_mt_management.py
  tests/core/management/commands/test_reset_deepl_budget.py
Due: djlint-django, eslint, translations

fix: Make the budget adjustment optional in the region form
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0158_mt_budget_adjustment.py
  integreat_cms/cms/models/regions/region.py
Due: translations

fix: Apply review suggestions to the region settings endpoint
  README.md
  integreat_cms/api/v3/region_settings.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0160_mt_budget_adjustment.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/conditional-fields.ts
  tests/api/test_region_settings.py
Due: eslint, translations

fix: migration and translations
  integreat_cms/cms/migrations/0161_mt_budget_adjustment.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/4138-settings-api.yml
  integreat_cms/release_notes/current/unreleased/4138.yml
Due: translations

fix: Show the real budget for API-managed regions
  integreat_cms/cms/forms/regions/region_form.py
  tests/api/test_region_settings.py
Due: translations

Update documentation of commit cb54c2f7eafded876e600b4040e22115e7dca5e3 [skip ci]
  frontend_md/js/forms/prevent-premature-submission/classes/default.html
  frontend_md/js/pages/page-preview/functions/openPreviewWindowInPageTree.html
  frontend_md/js/pages/persistent_page_tree/functions/restorePageTreeLayout.html
  frontend_md/js/pages/persistent_page_tree/functions/storeExpandedState.html
  frontend_md/js/pages/toggle-subpages/functions/setToggleSubpagesEventListeners.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpages.html
  frontend_md/js/pages/toggle-subpages/functions/toggleSubpagesForElement.html
  frontend_md/js/tree-drag-and-drop/functions/addDragAndDropListeners.html
  frontend_md/js/utils/wrapped-events/functions/off.html
  frontend_md/js/utils/wrapped-events/functions/on.html
  genindex.html
  objects.inv
  py-modindex.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.urls.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.imprint.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref-ext/tests.cms.views.html
  ref/integreat_cms.cms.html
  ref/integreat_cms.cms.urls.html
  ref/integreat_cms.cms.views.html
  ref/integreat_cms.cms.views.imprint.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  ref/tests.cms.views.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

invalidate cache on node deletion and on NS_NodeManager methods for forward compatibility with treebeard 7
  integreat_cms/cms/models/abstract_tree_node.py
  integreat_cms/cms/models/pages/page.py
  tests/cms/models/test_tree_cache_invalidation.py
Due: translations

Pin version for postcss
  package-lock.json
  package.json
Due: none

infer shortcodes from html
  integreat_cms/api/v3/events.py
  integreat_cms/api/v3/imprint.py
  integreat_cms/api/v3/locations.py
  integreat_cms/api/v3/pages.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/cms/forms/custom_content_model_form.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/templates/content_versions.html
  integreat_cms/cms/templates/pages/_page_xliff_import_diff.html
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/cms/templates/pois/poi_view.html
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/internal_link_utils.py
  integreat_cms/cms/utils/link_shortcode_utils.py
  integreat_cms/cms/utils/shortcodes/__init__.py
  integreat_cms/cms/utils/shortcodes/page.py
  integreat_cms/cms/utils/shortcodes/utils.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/core/signals/hix_signals.py
  integreat_cms/core/utils/machine_translation_api_client.py
  tests/cms/utils/test_link_shortcode_utils.py
  tests/cms/utils/test_shortcodes.py
Due: djlint-django, translations

fix build-documentation
  integreat_cms/cms/utils/link_shortcode_utils.py
Due: translations

make content_ith_expanded_links no cached property to avoid one-off for form read
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/utils/shortcodes/utils.py
  tests/cms/utils/test_link_shortcode_utils.py
Due: translations

refactor to content_for_cms and content_for_delivery
  integreat_cms/api/v3/events.py
  integreat_cms/api/v3/imprint.py
  integreat_cms/api/v3/locations.py
  integreat_cms/api/v3/pages.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/cms/forms/custom_content_model_form.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/templates/content_versions.html
  integreat_cms/cms/templates/pages/_page_xliff_import_diff.html
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/cms/templates/pois/poi_view.html
  integreat_cms/cms/utils/shortcodes/__init__.py
  integreat_cms/cms/views/pages/page_actions.py
  integreat_cms/core/signals/hix_signals.py
  tests/cms/utils/test_link_shortcode_utils.py
  tests/cms/utils/test_shortcodes.py
Due: djlint-django, translations
