Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Fix cancel button color
  integreat_cms/cms/templates/_machine_translation_overlay.html
  integreat_cms/cms/templates/generic_confirmation_dialog.html
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/position_box.html
Due: djlint-django, translations

Improve link checker GUI
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2588.yml
Due: djlint-django, translations

Update documentation of commit 8490250f855d529e77b87c589c325eeafffd8f0d [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Show related contacts in the POI form
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/poi/test_poi_form.py
Due: djlint-django, translations

Update documentation of commit 3f6a95575066e72813fe122dd6c8675a34e3688c [skip ci]
  continuous-integration.html
  packaging.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit e0c5a876393708609f18079f8a3a7e145797c6d9 [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.integreat_celery.html
  ref-ext/integreat_cms.integreat_celery.migrations.html
  ref-ext/tests.api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/integreat_cms.integreat_celery.html
  ref/integreat_cms.integreat_celery.migrations.html
  ref/tests.api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

TinyMCE: Insert contact, but track using linkcheck, v2
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/utils/content_utils.py
  integreat_cms/cms/utils/internal_link_checker.py
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/imprint/imprint_form_view.py
  integreat_cms/cms/views/mixins.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/contact_utils.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/contact_signals.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/tinymce_custom.css
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

Adjust link type wording
  integreat_cms/cms/constants/linkcheck.py
  integreat_cms/cms/templates/analytics/_broken_links_widget.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/views/linkcheck/linkcheck_list_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Merging page_tree_node and page_tree_archived_node
  integreat_cms/cms/templates/pages/page_tree.html
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Multiple fixes for development setup problems caused by celery
  .gitignore
  flake.nix
  pyproject.toml
Due: none

Disable dragable tree node for archived tree nodes
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 8af46a278b7ddcf0ba607b0ddeca30834d2d0b1b [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Remove checkbox appearence for roles who do not have edit permission
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/templates/pois/poi_list.html
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/release_notes/current/unreleased/3014.yml
Due: djlint-django, translations

Update documentation of commit d6205b649fd188add045c8c47632201fd425e60e [skip ci]
  ref-ext/integreat_cms.api.v3.chat.html
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.organizations.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.integreat_celery.html
  ref-ext/integreat_cms.integreat_celery.migrations.html
  ref-ext/tests.api.html
  ref/integreat_cms.api.v3.chat.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.organizations.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.core.html
  ref/integreat_cms.integreat_celery.html
  ref/integreat_cms.integreat_celery.migrations.html
  ref/tests.api.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add cancel button to creation and edit forms
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2930.yml
Due: djlint-django, translations

Add edit icon to contact, page, event and poi
  integreat_cms/cms/templates/contacts/contact_list_row.html
  integreat_cms/cms/templates/events/event_list_row.html
  integreat_cms/cms/templates/pages/page_tree_node.html
  integreat_cms/cms/templates/pois/poi_list_row.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3187.yml
Due: djlint-django, translations

Add alt attribute for fax icon
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/release_notes/current/unreleased/3237.yml
Due: djlint-django, translations

Update documentation of commit 8f2022d13adcc0ca397ed34641fc36a0d12abfaa [skip ci]
  documentation.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 8f2022d13adcc0ca397ed34641fc36a0d12abfaa [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Remove contact data fields from poi
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/migrations/0112_remove_poi_email_remove_poi_phone_number_and_more.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/ajax_poi_form/_poi_address_container.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix input field arrow key navigation and make search query function accessible
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/static/src/js/search-query.ts
Due: djlint-django, eslint, translations

Update documentation of commit c2299153f6eb35a28ad57ec34262170bfa43f5f0 [skip ci]
  documentation.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.core.html
  ref/integreat_cms.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Recurrence rule: Handle `BYMONTHDAY` and `BYMONTH` properties
  integreat_cms/cms/utils/external_calendar_utils.py
Due: translations

Recurrence rule: Handle `WKST` property
  integreat_cms/cms/utils/external_calendar_utils.py
Due: translations

Add tests
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_bymonth.ics
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_bymonthday.ics
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_wkst_su.ics
  tests/cms/utils/test_external_calendar_utils.py
  tests/core/management/commands/assets/calendars/outlook_calendar.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Drop root privileges for celery worker
  .gitignore
  tools/run.sh
Due: none

[WIP] Page based access
  integreat_cms/cms/views/statistics/statistics_actions.py
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Parse recurrence rules with `BYDAY` entries with frequency
  integreat_cms/cms/utils/external_calendar_utils.py
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_conflicting_byday_and_bysetpos.ics
  tests/cms/utils/assets/calendars/invalid_recurrence_rule_multiple_byday_frequencies.ics
  tests/cms/utils/test_external_calendar_utils.py
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/test_import_events.py
Due: translations

use tomselect
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/css/tinymce_custom.css
  integreat_cms/static/src/css/tomselect.scss
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
  package-lock.json
  package.json
Due: eslint, translations

add contacts to content search api endpoint
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/views/utils/search_content_ajax.py
Due: translations

display where contacts are used
  integreat_cms/cms/templates/_related_contents_table.html
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/cms/views/contacts/contact_form_view.py
Due: djlint-django, translations

implement embedded contacts functionality with tinymce
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/imprint/imprint_form_view.py
  integreat_cms/cms/views/mixins.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/tinymce_custom.css
  integreat_cms/static/src/editor_content.ts
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

always render cards for embedded contacts server side
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/utils/content_utils.py
Due: djlint-django, translations

simplify styling
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/css/tomselect.scss
Due: none

some cleanup
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/pages/page_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/core/signals/contact_signals.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: djlint-django, eslint, translations

Adjust card styling, add address
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/static/src/css/tinymce_custom.css
Due: djlint-django, translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
