Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Validate recurring event start date against recurrence rule
  integreat_cms/cms/forms/events/recurrence_rule_form.py
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/1967.yml
Due: translations

Update documentation of commit 3a049d9f566d3bcf437947f2ce78636322bdee18 [skip ci]
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.cms.utils.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Add Summary of discussion to the new templates too
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

Add Fallback for PushNotification
  integreat_cms/core/utils/machine_translation_api_client.py
Due: translations

Apply suggestions
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/story.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

unify test settings, eliminate ordering dependencies, fix flaky tests
  integreat_cms/core/circleci_settings.py
  integreat_cms/core/test_settings.py
  pyproject.toml
  tests/cms/test_duplicate_regions.py
  tests/cms/utils/test_disable_hix_post_save_signal.py
  tests/cms/utils/test_repair_tree.py
  tests/cms/utils/test_tree_mutex.py
  tests/conftest.py
  tests/core/management/commands/test_copy_pois.py
  tests/core/management/commands/test_fix_internal_links.py
  tests/core/management/commands/test_repair_tree.py
  tests/core/management/commands/test_replace_links.py
  tests/core/management/commands/test_reset_deepl_budget.py
  tests/core/management/commands/test_update_link_text.py
  tools/test.sh
Due: translations

introduce pytest markers unit and slow, reduce role parametrization
  pyproject.toml
  tests/cms/models/events/test_recurrence_rule.py
  tests/cms/test_duplicate_regions.py
  tests/cms/utils/test_external_calendar_utils.py
  tests/cms/utils/test_rounded_hix_value.py
  tests/cms/utils/test_translation_utils.py
  tests/cms/utils/test_tree_mutex.py
  tests/cms/views/status_code/conftest.py
  tests/conftest.py
  tools/test.sh
Due: translations

decrease required test coverage
  pyproject.toml
Due: none

ruff
  tests/conftest.py
Due: translations

Revert django_db_setup override to fix CI test data loading
  tests/cms/views/poi_categories/test_poi_category_form_view.py
  tests/conftest.py
Due: translations

Fix matomo query
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/matomo_api/utils.py
Due: translations

Restore @pytest.mark.order("last") on all transactional tests
  docs/src/testing.rst
  tests/cms/test_duplicate_regions.py
  tests/cms/utils/test_repair_tree.py
  tests/cms/utils/test_tree_mutex.py
  tests/core/management/commands/test_copy_pois.py
  tests/core/management/commands/test_fix_internal_links.py
  tests/core/management/commands/test_repair_tree.py
  tests/core/management/commands/test_replace_links.py
  tests/core/management/commands/test_reset_deepl_budget.py
  tests/core/management/commands/test_update_link_text.py
Due: translations

Create research.yml
  .github/ISSUE_TEMPLATE/research.yml
Due: none

Fix do_not_translate_title logic
  integreat_cms/core/utils/machine_translation_api_client.py
Due: translations

make MAX_RETRY module level constant
  integreat_cms/cms/utils/content_translation_utils.py
Due: translations

assert that search suggestions exist when comparing lower and uppercase queries
  tests/cms/search/test_suggest.py
Due: translations

use more specific query in test_search_suggestions_are_sorted_by_score to get multiple results
  tests/cms/views/search/test_search_suggest.py
Due: translations

Fix failing ajax POI creation
  integreat_cms/cms/templates/ajax_poi_form/_poi_form_widget.html
  integreat_cms/cms/views/pois/poi_form_ajax_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/cms/views/utils/contact_utils.py
Due: djlint-django, translations

add type property to button
  integreat_cms/cms/templates/_search_input.html
Due: djlint-django, translations

Prevent selected POI from being cleared when contact creation fails
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/release_notes/current/unreleased/4089.yml
  tests/cms/views/contacts/test_contact_form.py
Due: translations

Update documentation of commit 9988acf38ae0433715adfd5f3a755495c5ae99ab [skip ci]
  ref-ext/integreat_cms.cms.models.chat.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Save tue news posts in cache
  integreat_cms/api/v3/push_notifications.py
  integreat_cms/api/v3/social_media_headers.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/migrations/0151_add_tue_news.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/tue_news/__init__.py
  integreat_cms/cms/models/tue_news/news_category.py
  integreat_cms/cms/models/tue_news/news_item.py
  integreat_cms/cms/models/tue_news/news_language.py
  integreat_cms/cms/utils/tue_news_utils.py
  integreat_cms/core/management/commands/import_tuenews.py
  integreat_cms/integreat_celery/celery.py
Due: translations

delete old cache
  integreat_cms/core/management/commands/import_tuenews.py
Due: translations

Update documentation of commit c4a9e277c937a60c5006a6e6faeaf00f777946d9 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.utils.html
  ref-ext/integreat_cms.deepl_api.html
  ref-ext/integreat_cms.google_translate_api.html
  ref-ext/integreat_cms.summ_ai_api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.utils.html
  ref/integreat_cms.deepl_api.html
  ref/integreat_cms.google_translate_api.html
  ref/integreat_cms.summ_ai_api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

fix bumpver for rc
  .circleci/config.yml
Due: none

use search_suggest endpoint for MediaFile
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/mixins.py
  integreat_cms/cms/search/search_fields.py
  integreat_cms/cms/views/media/media_context_mixin.py
Due: translations

add directories to media file search results
  integreat_cms/cms/models/media/directory.py
  integreat_cms/cms/models/media/media_file.py
Due: translations

lower default min similarity to 0.1
  integreat_cms/cms/models/mixins.py
Due: translations

Add change requests
  docs/src/frontend-bundling.rst
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/feature/ajax-contact-form.ts
  integreat_cms/static/src/js/feature/search-query.ts
  integreat_cms/static/src/js/media-management/library.tsx
Due: eslint

Prevent empty title for push news
  integreat_cms/cms/migrations/0151_alter_pushnotificationtranslation_title.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/release_notes/current/unreleased/4128.yml
  tests/cms/views/view_config.py
Due: translations

Update documentation of commit 49f07153faa193b01d4847bca176aee0909de3b4 [skip ci]
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.push_notifications.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.push_notifications.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.firebase_api.html
  ref-ext/tests.api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.push_notifications.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.push_notifications.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.core.html
  ref/integreat_cms.firebase_api.html
  ref/tests.api.html
  ref/tests.cms.views.html
  ref/tests.core.management.commands.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

pretend unreleased dir not there if without release notes
  tools/make_release_notes.sh
Due: none

Apply suggestions from code review
  tools/make_release_notes.sh
Due: none

Fix page path in API response
  integreat_cms/cms/models/pages/page.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
