Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

let linkcheck run inline
  integreat_cms/core/settings.py
Due: translations

Improve messsage of the search & replace of links
  integreat_cms/cms/forms/linkcheck/link_replace_form.py
  integreat_cms/cms/utils/linkcheck_utils.py
  integreat_cms/cms/views/linkcheck/link_replace_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3721.yml
Due: translations

Adjust test
  tests/cms/views/link_replace/test_link_actions.py
Due: translations

Further experimenting
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

Refactoring for search_content_ajax
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/feedback/feedback.py
  integreat_cms/cms/models/languages/language.py
  integreat_cms/cms/models/media/media_file.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/models/users/organization.py
  integreat_cms/cms/models/utils.py
  integreat_cms/cms/templates/events/event_list.html
  integreat_cms/cms/templates/push_notifications/push_notification_list.html
  integreat_cms/cms/utils/user_utils.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/static/src/js/media-management/library.tsx
  tests/cms/views/view_config.py
Due: djlint-django, eslint, translations

Update contact.py
  integreat_cms/cms/models/contact/contact.py
Due: translations

update: contact.py - Add docstring & remove whitespace
  integreat_cms/cms/models/contact/contact.py
Due: translations

Update contact.py - Remove redundant types
  integreat_cms/cms/models/contact/contact.py
Due: translations

Fix background color of search suggestion in media library
  integreat_cms/release_notes/current/unreleased/3315.yml
  integreat_cms/static/src/js/media-management/library.tsx
Due: eslint

Update documentation of commit 8c267fc5af1035e716b2d7e37ec52c58c4f4a39f [skip ci]
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add region column to global link checker
  integreat_cms/cms/utils/linkcheck_utils.py
Due: translations

Update integreat_cms/release_notes/current/unreleased/3315.yml
  integreat_cms/release_notes/current/unreleased/3315.yml
Due: none

Script for SVG
  integreat_cms/core/management/commands/change_to_svg.py
Due: translations

use raw CTEs to figure out full path
  integreat_cms/core/management/commands/change_to_svg.py
Due: translations

count overall successful/failed replacements
  integreat_cms/core/management/commands/change_to_svg.py
Due: translations

Fetch from matomo in bulk
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

draft shortcodes
  integreat_cms/api/v3/pages.py
  integreat_cms/cms/utils/shortcodes/__init__.py
  integreat_cms/cms/utils/shortcodes/contact.py
  integreat_cms/cms/utils/shortcodes/page.py
  integreat_cms/cms/utils/shortcodes/utils.py
  pyproject.toml
Due: translations

fix update_links_to()
  integreat_cms/cms/utils/content_translation_utils.py
Due: translations

simplify after url.internal became obsolete
  integreat_cms/cms/utils/content_translation_utils.py
Due: translations

add release note for #3781
  integreat_cms/release_notes/current/unreleased/3781.yml
Due: none

Create unique slugs on the model level
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/migrations/0139_auto_20250707_0624.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/release_notes/current/unreleased/3060.yml
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/media/test_media_file.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Change Zammad privacy policy attr in region endpoint
  integreat_cms/api/v3/regions.py
  tests/api/expected-outputs/regions.json
  tests/api/expected-outputs/regions_berlin.json
  tests/api/expected-outputs/regions_nurnberg.json
Due: translations

Update integreat_cms/release_notes/2025/2025.6.3/3693.yml
  integreat_cms/release_notes/2025/2025.6.3/3693.yml
Due: none

Update integreat_cms/release_notes/2025/2025.6.3/3713.yml
  integreat_cms/release_notes/2025/2025.6.3/3713.yml
Due: none

Update documentation of commit a7e1d083800b6fc2d8d107cc5086ccbad5d7ce0d [skip ci]
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 751e894fb046e0eb4b68c5bbeee5730020f898ee [skip ci]
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pages.html
  ref-ext/integreat_cms.cms.forms.pois.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pages.html
  ref/integreat_cms.cms.forms.pois.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix spacing in contact card in RTL languages
  integreat_cms/release_notes/current/unreleased/3709.yml
  integreat_cms/static/src/css/tinymce_custom.css
Due: none

Update documentation of commit bf63a4408097938438e9370aa301f702a210ae22 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix generate_unique_slug for script duplication
  integreat_cms/cms/utils/slug_utils.py
Due: translations

Fix hover on not showing details after PNG export
  integreat_cms/release_notes/current/unreleased/3197.yml
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Update documentation of commit a3d1f64cbc3fb1f95da3334e5e7bba9f0a5e0d7d [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix duplicate pages test
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
Due: translations

Fix constraint failure in tests
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Fix Ruff
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Revive MT budget column in region condition export
  integreat_cms/cms/views/region_condition/region_condition_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3787.yml
Due: translations

Update documentation of commit b88032f3c4a9a3dd9da6a0d092fb002563496523 [skip ci]
  ref-ext/integreat_cms.cms.views.region_condition.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.views.region_condition.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations
