Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

update translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Cleaning up and deleting page_tree_archived files
  integreat_cms/cms/templates/pages/page_tree_archived.html
  integreat_cms/cms/templates/pages/page_tree_archived_node.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Fix pylint
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: translations

Rename page_tree to pages_page_tree
  integreat_cms/cms/templates/pages/_page_tree_children.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tree-drag-and-drop.ts
Due: djlint-django, eslint, translations

Javascript code
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

[WIP] Include page tree to statistics
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: djlint-django, eslint, translations

[WIP] First idea for graph
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Show bars
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Fix text direction in content form
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/templates/imprint/imprint_form.html
  integreat_cms/cms/views/events/event_form_view.py
  integreat_cms/cms/views/imprint/imprint_form_view.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/release_notes/current/unreleased/3290.yml
Due: djlint-django, translations

Fix missing legend on png export in statistics
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Fix Contact module not found error
  docs/src/api-docs.rst
  integreat_cms/api/v3/locations.py
  integreat_cms/cms/models/pois/poi.py
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_ar_locations.json
  tests/api/expected-outputs/augsburg_de_locations.json
  tests/api/expected-outputs/augsburg_en_locations.json
  tests/api/expected-outputs/nurnberg_de_locations.json
  tests/api/expected-outputs/nurnberg_en_locations.json
Due: translations

Add option to change time range and language selection
  integreat_cms/cms/templates/statistics/_statistics_legend_item.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Chat: parallelize translation and answering
  integreat_cms/api/v3/chat/utils/chat_bot.py
Due: translations

Update documentation of commit abce73abc71878b7a6f426040c5af3c03f72017c [skip ci]
  packaging.html
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pages.html
  ref-ext/integreat_cms.cms.forms.pois.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.cms.views.imprint.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pages.html
  ref/integreat_cms.cms.forms.pois.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.cms.views.imprint.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Check explicitely if None
  integreat_cms/cms/models/regions/region.py
  integreat_cms/release_notes/current/unreleased/3309.yml
  tests/cms/views/regions/test_region_mt_management.py
Due: translations

Change error message for external calendars
  integreat_cms/cms/utils/external_calendar_utils.py
  integreat_cms/cms/views/external_calendars/external_calendar_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Update documentation of commit 7d703abaaec38b92c701de806b2179ad89615a6b [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.external_calendars.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.html
  ref-ext/tests.cms.utils.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.external_calendars.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.cms.utils.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 7d703abaaec38b92c701de806b2179ad89615a6b [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Disable editable page tree in statistics
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
Due: djlint-django, translations

Upgrade lucide dependicy
  package-lock.json
  package.json
Due: none

Add cancel button to creation and edit forms
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/events/event_form.html
  integreat_cms/cms/templates/events/external_calendar_form.html
  integreat_cms/cms/templates/languagetreenodes/languagetreenode_form.html
  integreat_cms/cms/templates/organizations/organization_form.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/cms/templates/users/region_user_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/2930.yml
Due: djlint-django, translations

Update translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Fix page tree
  integreat_cms/cms/templates/pages/_page_tree_children.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/cms/views/pages/partial_page_tree_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit a51f84f0e4b02b47d7ec6e71520e78eee9122b29 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Show only selected data in CSV export
  integreat_cms/release_notes/current/unreleased/3279.yml
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Update documentation of commit b439037104d5ba0858ce4d408aa8a1162856f2b5 [skip ci]
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  release-notes.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Only save the absolute path
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/views/utils/contact_utils.py
  integreat_cms/static/src/js/forms/tinymce-init.ts
Due: djlint-django, eslint, translations

Fix contact insertion (#3305)
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/views/utils/contact_utils.py
  integreat_cms/static/src/js/forms/tinymce-init.ts
Due: djlint-django, eslint, translations

Update documentation of commit 5ab3a33413e3fc1d46c12a776a1a5c9e5f6df3a4 [skip ci]
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.signals.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Prevent orphaned contact cards
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/templates/contacts/contact_card.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/views/contacts/contact_actions.py
  integreat_cms/cms/views/contacts/contact_bulk_actions.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/contact_card.css
  tests/api/api_config.py
  tests/api/expected-outputs/augsburg_de_children.json
  tests/api/expected-outputs/augsburg_de_children_archived_descendants.json
  tests/api/expected-outputs/augsburg_de_children_depth_2.json
  tests/api/expected-outputs/augsburg_de_pages.json
  tests/cms/models/contacts/test_contacts.py
  tests/cms/test_duplicate_regions.py
  tests/cms/views/contacts/test_contact_actions.py
  tests/cms/views/poi/test_poi_form.py
  tests/pdf/files/89219cf973/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/test_pdf_export.py
  tests/sitemap/expected-sitemaps/sitemap-augsburg-de.xml
  tests/sitemap/sitemap_config.py
Due: djlint-django, translations

Fix archived page tree
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/pages/page_tree_view.py
  integreat_cms/cms/views/statistics/statistics_view.py
Due: djlint-django, translations

Stop hiding the grids when POI is removed
  integreat_cms/cms/templates/ajax_poi_form/poi_box.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/poi-box.ts
Due: djlint-django, eslint, translations

Update documentation of commit 5980e10450fe8f785b03158321524079a3145e38 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix code styles
  integreat_cms/cms/templates/pages/_generic_page_tree_node.html
  integreat_cms/cms/templates/pages/_page_tree_children.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/cms/views/pages/partial_page_tree_view.py
Due: djlint-django, translations
