Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Add screenshot of page form to README
  README.md
  integreat_cms/README.md
Due: none

Update documentation of commit f022d3b86f8e1b5e9ecba6c6c98ed0d5224f3826 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

update typescript and ts-loader
  package-lock.json
  package.json
Due: none

update core-js
  package-lock.json
  package.json
Due: none

Upgrade maplibre-gl to version 5.7.3
  package-lock.json
  package.json
Due: none

update tinymce and tom-select
  package-lock.json
  package.json
Due: none

Fix problems with devcontainer after ruff migration
  .devcontainer/devcontainer.json
Due: none

Rework page accesses typescript
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Update documentation of commit 27daa24afb25b3e14a4d44b455cb3bd8ae1c307e [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix pcregrep install in devcontainer
  .devcontainer/Dockerfile
Due: none

Update documentation of commit 4c8c06d73635226b5e3f78af6c64765c9a1b0eb8 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Change permission for page based statistics
  integreat_cms/cms/constants/roles.py
  integreat_cms/cms/fixtures/test_roles.json
  integreat_cms/cms/migrations/0143_change_permission_page_based_statistics.py
  integreat_cms/cms/models/users/user.py
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/core/settings.py
Due: djlint-django, translations

Update documentation of commit adc7ae2f80b3a1972741b63160855aa52251d322 [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

switch to alternatives for deprecated tinymce methods - editor.selection.setContent() → editor.insertContent() (to be removed in 9.0) - editor.fire() → editor.dispatch() (to be removed in 9.0)
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: eslint

Add option to select all languages in page based statistics
  integreat_cms/cms/templates/statistics/_statistics_legend.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-charts.ts
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Fix openingHours null error
  integreat_cms/static/src/js/pois/opening-hours/index.tsx
Due: eslint

Separate fix for failing test_find_missing_versions_failure
  tests/core/management/commands/test_find_missing_versions.py
Due: translations

Fix pretier and translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: eslint

Change page access statistics loading indication to single indication
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
  integreat_cms/cms/templates/statistics/statistics_viewed_pages_node.html
  integreat_cms/static/src/js/analytics/statistics-page-accesses.ts
Due: djlint-django, eslint, translations

Improve error message of ajax contact form
  integreat_cms/cms/templates/pois/poi_form_sidebar/related_contacts_box.html
  integreat_cms/cms/views/contacts/contact_form_ajax_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3840.yml
  integreat_cms/static/src/js/ajax-contact-form.ts
Due: djlint-django, eslint, translations

Update documentation of commit 0619cea750155c5765531875b0b4794005a74819 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Update documentation of commit 13c36f24658dae8430ea1af2ab92d3b355f2854e [skip ci]
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.media.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.models.users.html
  ref-ext/integreat_cms.cms.views.pages.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.media.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.models.users.html
  ref/integreat_cms.cms.views.pages.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit fa6701288851a0f20b8f2cdf05948fcf186a955d [skip ci]
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit fa6701288851a0f20b8f2cdf05948fcf186a955d [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

add filter for events
  integreat_cms/cms/constants/status.py
  integreat_cms/cms/forms/events/event_filter_form.py
  integreat_cms/cms/templates/events/_event_filter_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/release_notes/current/unreleased/3719.yml
Due: djlint-django, translations

Update documentation of commit 225219e0fa21012ebe1f003010e36c34124f1b9e [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.cms.constants.html
  ref-ext/integreat_cms.cms.forms.events.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.html
  ref-ext/integreat_cms.cms.views.events.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.html
  ref/integreat_cms.cms.constants.html
  ref/integreat_cms.cms.forms.events.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.views.events.html
  ref/integreat_cms.core.html
  release-notes.html
  searchindex.js
Due: djlint-django, eslint, translations

remove unused get_mixed_tree_paths(), add mgmt cmd docs
  docs/src/management-commands.rst
  docs/src/tools.rst
  integreat_cms/core/management/commands/bulk_replace_page_icons.py
Due: translations

Refactor statistics legend
  integreat_cms/cms/templates/statistics/_statistics_legend.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: djlint-django, eslint, translations

Fix typing and linting
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/matomo_api/matomo_api_client.py
Due: djlint-django, translations

Fix ruff
  integreat_cms/matomo_api/matomo_api_client.py
Due: translations

3804: Fix current color for react-native
  integreat_cms/static/src/svg/poi-category-icons/advice.svg
  integreat_cms/static/src/svg/poi-category-icons/culture.svg
  integreat_cms/static/src/svg/poi-category-icons/daily_routine.svg
  integreat_cms/static/src/svg/poi-category-icons/education.svg
  integreat_cms/static/src/svg/poi-category-icons/finance.svg
  integreat_cms/static/src/svg/poi-category-icons/gastronomy.svg
  integreat_cms/static/src/svg/poi-category-icons/health.svg
  integreat_cms/static/src/svg/poi-category-icons/house.svg
  integreat_cms/static/src/svg/poi-category-icons/leisure.svg
  integreat_cms/static/src/svg/poi-category-icons/media.svg
  integreat_cms/static/src/svg/poi-category-icons/medical_aid.svg
  integreat_cms/static/src/svg/poi-category-icons/meeting_point.svg
  integreat_cms/static/src/svg/poi-category-icons/mental_health.svg
  integreat_cms/static/src/svg/poi-category-icons/mobility.svg
  integreat_cms/static/src/svg/poi-category-icons/office.svg
  integreat_cms/static/src/svg/poi-category-icons/other.svg
  integreat_cms/static/src/svg/poi-category-icons/other_help.svg
  integreat_cms/static/src/svg/poi-category-icons/service.svg
  integreat_cms/static/src/svg/poi-category-icons/shelter.svg
  integreat_cms/static/src/svg/poi-category-icons/shopping.svg
  integreat_cms/static/src/svg/poi-category-icons/structure.svg
Due: none

Update documentation of commit 85bfe728d0bcd685a1a867a58fc5781c14ab1f46 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add publiccode.yaml
  publiccode.yml
Due: none

Fix TypeError in Javascript console for Language Tree Node
  integreat_cms/static/src/js/languages/language-tree-node-form.ts
Due: eslint

Update integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/cms/views/utils/search_content_ajax.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
