Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: black
        name: black (custom script)
        entry: ./tools/black.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint (custom script)
        entry: ./tools/pylint.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

Do not push SBOM to develop
  .circleci/config.yml
Due: none

Update documentation of commit 165c81827e3702117584ae9b792a9b6275006f3b [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Persist SBOM in CircleCI workspace
  .circleci/config.yml
Due: none

Update documentation of commit 2aba7ccf19086e99d57d1d6c7cb6379832b46f48 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Script for SVG
  docs/src/management-commands.rst
  docs/src/tools.rst
  integreat_cms/core/management/commands/bulk_replace_page_icons.py
Due: translations

Add publiccode.yaml
  .circleci/config.yml
  publiccode.yml
Due: none

Refactor statistics legend
  integreat_cms/cms/templates/statistics/_statistics_legend.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
  integreat_cms/cms/templates/statistics/statistics_sidebar.html
  integreat_cms/cms/views/statistics/statistics_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/matomo_api/matomo_api_client.py
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: djlint-django, eslint, translations

Update documentation of commit 7850e557e9040741a9467c4fb314f2efb73af69a [skip ci]
  ref-ext/integreat_cms.cms.forms.regions.html
  ref-ext/integreat_cms.cms.models.regions.html
  ref-ext/integreat_cms.cms.views.statistics.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.matomo_api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.regions.html
  ref/integreat_cms.cms.models.regions.html
  ref/integreat_cms.cms.views.statistics.html
  ref/integreat_cms.core.html
  ref/integreat_cms.matomo_api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Add release notes for #3638 and #3874
  integreat_cms/release_notes/current/unreleased/3638.yml
  integreat_cms/release_notes/current/unreleased/3874.yml
Due: none

debugging test_no_changes_were_made_message
  .circleci/config.yml
  tests/cms/views/poi_categories/test_poi_category_form_view.py
Due: translations

Enable logging for passing tests
  .circleci/config.yml
Due: none

Run exact same container that failed before
  .circleci/config.yml
Due: none

Adjust test data
  tests/core/management/commands/assets/calendars/event_with_wrong_category.ics
  tests/core/management/commands/assets/calendars/outlook_calendar.ics
  tests/core/management/commands/assets/calendars/recurrence_rules.ics
  tests/core/management/commands/assets/calendars/single_event.ics
  tests/core/management/commands/assets/calendars/single_event_v2.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_b.ics
  tests/core/management/commands/test_import_events.py
Due: translations

Disable Test ordering
  .circleci/config.yml
Due: none

debug pytest version
  .circleci/config.yml
Due: none

Order by path flag
  .circleci/config.yml
Due: none

Undo attempts at ordering
  .circleci/config.yml
Due: none

logs for debugging test_poi_category_form_view:test_no_changes_were_made_message
  integreat_cms/cms/views/poi_categories/poi_category_form_view.py
  integreat_cms/core/settings.py
  tests/cms/views/poi_categories/test_poi_category_form_view.py
Due: translations

Fix ruff errors
  integreat_cms/cms/views/poi_categories/poi_category_form_view.py
  tests/cms/views/poi_categories/test_poi_category_form_view.py
Due: translations

update chart.js
  package-lock.json
  package.json
Due: none

fix typo in management command help
  integreat_cms/core/management/commands/fetch_page_accesses.py
Due: translations

Fix msgstr formatting in German translation file
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

Run failing container
  .circleci/config.yml
  test_selection.txt
  tests/cms/views/poi_categories/test_poi_category_form_view.py
  tests/conftest.py
Due: translations

test data correction
  integreat_cms/cms/forms/events/event_form.py
  tests/core/management/commands/assets/calendars/event_with_daily_recurrence.ics
  tests/core/management/commands/assets/calendars/event_with_multiple_categories.ics
  tests/core/management/commands/assets/calendars/single_recurring_event_a.ics
Due: translations

Fix phone number linking
  integreat_cms/static/src/js/tinymce-plugins/autolink_tel/plugin.js
Due: eslint

Add release note for 3904
  integreat_cms/release_notes/current/unreleased/3904.yml
Due: none

Update documentation of commit da38600af9c6edcb653a0be784fe7134b14d917b [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

update tinymce and tom-select
  package-lock.json
  package.json
Due: none

switch to alternatives for deprecated tinymce methods - editor.selection.setContent() → editor.insertContent() (to be removed in 9.0) - editor.fire() → editor.dispatch() (to be removed in 9.0)
  integreat_cms/static/src/js/forms/tinymce-init.ts
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: eslint

update sass and related packages
  package-lock.json
  package.json
Due: none

Handle error no translation in one region of push notification
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
  integreat_cms/core/management/commands/send_push_notifications.py
  integreat_cms/firebase_api/firebase_api_client.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: translations

Fix word count
  integreat_cms/cms/views/translations/translations_management_view.py
  integreat_cms/release_notes/current/unreleased/3858.yml
Due: translations

Update documentation of commit 7b6943830d6bda4f71535668da0ae491f3ca86d6 [skip ci]
  ref-ext/integreat_cms.api.html
  ref-ext/integreat_cms.api.v3.html
  ref-ext/integreat_cms.cms.forms.contacts.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.pois.html
  ref-ext/integreat_cms.cms.models.html
  ref-ext/integreat_cms.cms.utils.html
  ref-ext/integreat_cms.cms.views.contacts.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.cms.views.regions.html
  ref-ext/integreat_cms.cms.views.utils.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/integreat_cms.core.signals.html
  ref-ext/integreat_cms.firebase_api.html
  ref-ext/tests.core.management.commands.html
  ref-ext/tests.firebase_api.html
  ref/integreat_cms.api.html
  ref/integreat_cms.api.v3.html
  ref/integreat_cms.cms.forms.contacts.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.pois.html
  ref/integreat_cms.cms.models.html
  ref/integreat_cms.cms.utils.html
  ref/integreat_cms.cms.views.contacts.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.cms.views.regions.html
  ref/integreat_cms.cms.views.utils.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/integreat_cms.core.signals.html
  ref/integreat_cms.firebase_api.html
  ref/tests.core.management.commands.html
  ref/tests.firebase_api.html
  searchindex.js
Due: djlint-django, eslint, translations
