Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Fix constraint failure in tests
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Create unique slugs on the model level
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/migrations/0139_auto_20250707_0624.py
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/release_notes/current/unreleased/3060.yml
  tests/cms/models/events/test_event_translation.py
  tests/cms/models/media/test_media_file.py
  tests/cms/models/pages/test_page_translation.py
  tests/cms/models/pois/test_poi_translation.py
Due: translations

Fix migration order
  integreat_cms/cms/migrations/0142_make_existing_slugs_unique.py
Due: translations

Update documentation of commit 1365fd7c773549ee1b5c0bb2f188ce00db5dcaf9 [skip ci]
  continuous-integration.html
  packaging.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Mark poi test as last
  tests/core/management/commands/test_copy_pois.py
Due: translations

Remove duplicates in search suggestion
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/media/media_file.py
Due: translations

fix for feedback search
  integreat_cms/cms/models/feedback/feedback.py
Due: translations

Fix for region and push notification
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/models/regions/region.py
Due: translations

fix for poi, page and event
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pois/poi_translation.py
  integreat_cms/cms/views/utils/search_content_ajax.py
  integreat_cms/static/src/js/tinymce-plugins/custom_link_input/plugin.js
Due: eslint, translations

Fix empty entry in the languages in which mirrored content is available
  integreat_cms/cms/models/pages/page_translation.py
  integreat_cms/release_notes/current/unreleased/2712.yml
Due: translations

Concatenate with string
  tests/conftest.py
Due: translations

Log request.param
  tests/conftest.py
Due: translations

Log number of users
  tests/conftest.py
Due: translations

Debug Node Spinup
  .circleci/config.yml
Due: none

Log CircleCI worker
  .circleci/config.yml
  tests/conftest.py
Due: translations

Disable test_copy_pois_succeeds
  tests/core/management/commands/test_copy_pois.py
Due: translations

Unskip test
  tests/core/management/commands/test_copy_pois.py
Due: translations

Delete hookwrapper
  tests/conftest.py
Due: translations

Enable Local Debug of mt_api_test
  integreat_cms/google_translate_api/google_translate_api_client.py
  tests/mt_api/mt_api_test.py
  tools/test.sh
Due: translations

do not override existing content object slugs unless explicitely updated
  integreat_cms/cms/constants/machine_translatable_attributes.py
  integreat_cms/cms/utils/slug_utils.py
  integreat_cms/cms/views/utils/slugify_ajax.py
Due: translations

Upgrade node to 22
  docs/src/installation.rst
  package.json
Due: none

Change pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update webpack and babel packages
  package-lock.json
  package.json
Due: none

3804: Remove grey background from poi category icons
  integreat_cms/cms/templates/poicategories/poicategory_list_row.html
  integreat_cms/static/src/css/poi_categories.css
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/js/poi-categories/poicategory-colors-icons.ts
  integreat_cms/static/src/svg/poi-category-icons/advice.svg
  integreat_cms/static/src/svg/poi-category-icons/culture.svg
  integreat_cms/static/src/svg/poi-category-icons/daily_routine.svg
  integreat_cms/static/src/svg/poi-category-icons/education.svg
  integreat_cms/static/src/svg/poi-category-icons/finance.svg
  integreat_cms/static/src/svg/poi-category-icons/gastronomy.svg
  integreat_cms/static/src/svg/poi-category-icons/health.svg
  integreat_cms/static/src/svg/poi-category-icons/house.svg
  integreat_cms/static/src/svg/poi-category-icons/leisure.svg
  integreat_cms/static/src/svg/poi-category-icons/media.svg
  integreat_cms/static/src/svg/poi-category-icons/medical_aid.svg
  integreat_cms/static/src/svg/poi-category-icons/meeting_point.svg
  integreat_cms/static/src/svg/poi-category-icons/mental_health.svg
  integreat_cms/static/src/svg/poi-category-icons/mobility.svg
  integreat_cms/static/src/svg/poi-category-icons/office.svg
  integreat_cms/static/src/svg/poi-category-icons/other.svg
  integreat_cms/static/src/svg/poi-category-icons/other_help.svg
  integreat_cms/static/src/svg/poi-category-icons/service.svg
  integreat_cms/static/src/svg/poi-category-icons/shelter.svg
  integreat_cms/static/src/svg/poi-category-icons/shopping.svg
  integreat_cms/static/src/svg/poi-category-icons/structure.svg
Due: djlint-django, eslint, translations

Add screenshots of Integreat CMS
  screenshots/page-form.png
  screenshots/page-tree.png
Due: none

Update documentation of commit f6adfee041deca520d9aa4102c90c1e0676f36a6 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 0f0dbe254afa890e2076bfa6744eac03bed6cd52 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Change node version in Readme
  README.md
Due: none

Fix phrasing
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/models/pages/page.py
Due: translations

Hide the info message when contact is deactivated
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
Due: djlint-django, translations

Leave option to remove contact card in editor
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: eslint

Fix archive/delete availability in the contact list
  integreat_cms/cms/templates/contacts/contact_list_row.html
Due: djlint-django, translations

Option to activate contacts
  docs/src/api-docs.rst
  integreat_cms/api/v3/regions.py
  integreat_cms/cms/fixtures/test_data.json
  integreat_cms/cms/forms/contacts/contact_form.py
  integreat_cms/cms/forms/pois/poi_form.py
  integreat_cms/cms/forms/regions/region_form.py
  integreat_cms/cms/migrations/0139_region_contacts_enabled.py
  integreat_cms/cms/models/pois/poi.py
  integreat_cms/cms/models/regions/region.py
  integreat_cms/cms/templates/_base.html
  integreat_cms/cms/templates/_tinymce_config.html
  integreat_cms/cms/templates/contacts/contact_form.html
  integreat_cms/cms/templates/pois/poi_form.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/action_box.html
  integreat_cms/cms/templates/pois/poi_form_sidebar/contact_box.html
  integreat_cms/cms/templates/regions/region_form.html
  integreat_cms/cms/views/contacts/contact_form_view.py
  integreat_cms/cms/views/contacts/contact_list_view.py
  integreat_cms/cms/views/pois/poi_actions.py
  integreat_cms/cms/views/pois/poi_form_view.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
  tests/api/expected-outputs/regions.json
  tests/api/expected-outputs/regions_augsburg.json
  tests/api/expected-outputs/regions_berlin.json
  tests/api/expected-outputs/regions_nurnberg.json
  tests/cms/models/contacts/test_contacts.py
  tests/cms/views/contacts/test_contact_form.py
  tests/cms/views/view_config.py
  tests/mt_api/mt_api_test.py
  tests/sitemap/expected-sitemaps/sitemap-index.xml
Due: djlint-django, eslint, translations

add explanation coments
  integreat_cms/cms/views/pois/poi_actions.py
Due: translations

Change the redirect message to info
  integreat_cms/cms/views/contacts/contact_list_view.py
Due: translations

Fix migration files
  integreat_cms/cms/migrations/0142_region_contacts_enabled.py
Due: translations

Add comment about link_suggestion_flag
  integreat_cms/cms/views/utils/search_content_ajax.py
Due: translations

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
