Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        exclude: .github/PULL_REQUEST_TEMPLATE.md|tests/cms/views/dashboard/expected_output/chat.html
      - id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
  - repo: local
    hooks:
      - id: ruff
        name: ruff (custom script)
        entry: ./tools/ruff.sh
        language: script
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--external-sources]
  - repo: local
    hooks:
      - id: djlint-django
        name: djlint (custom script)
        entry: ./tools/djlint.sh
        args: ["--as-precommit"]
        types_or: ["html"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: eslint
        name: eslint (custom script)
        entry: ./tools/eslint.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: prettier
        name: prettier (custom script)
        entry: ./tools/prettier.sh
        args: ["--as-precommit"]
        types_or: ["javascript", "jsx", "ts", "tsx", "css", "sass", "scss", "yaml", "markdown", "json"]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: translations
        name: translations
        description: Check if the translation file is up-to-date
        entry: tools/check_translations.sh
        types_or: [python, html]
        language: script
        pass_filenames: true
  - repo: local
    hooks:
      - id: frontend-tests
        name: frontend-tests
        description: Run frontend tests
        entry: tools/vitest.sh
        language: script
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy (custom script)
        entry: ./tools/mypy.sh
        args: ["--as-precommit"]
        types_or: ["python", "pyi"]
        language: script
        pass_filenames: true

update translations
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: none

make eslint happy as well
  integreat_cms/static/src/js/tinymce-plugins/custom_contact_input/plugin.js
Due: eslint

remove default ordering from abstract base model
  integreat_cms/cms/models/abstract_base_model.py
Due: translations

fix unordered list object warning when no sort parameter is supplied
  integreat_cms/cms/views/mixins.py
Due: translations

Re-introduce link to the sent PN in the form
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
Due: djlint-django, translations

Update documentation of commit 00417c2c4ec9e44dee32366f602c2b9863a6f6e0 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Fix with of statistics box
  integreat_cms/cms/templates/_collapsible_box.html
  integreat_cms/cms/templates/statistics/statistics_chart.html
  integreat_cms/cms/templates/statistics/statistics_overview.html
Due: djlint-django, translations

Update documentation of commit 02573229d077f4eeb4714e0ee3635177bc5d074f [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

add ADR for server-side sorting
  ADR/0002-server-side-sorting-for-list-views.md
Due: none

Fix error message color
  integreat_cms/core/utils/machine_translation_api_client.py
Due: translations

Update documentation of commit b33be4bbbeb64e15c1cf2aaa99b1a45a5b456319 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.utils.html
  ref-ext/integreat_cms.deepl_api.html
  ref-ext/integreat_cms.google_translate_api.html
  ref-ext/integreat_cms.summ_ai_api.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.utils.html
  ref/integreat_cms.deepl_api.html
  ref/integreat_cms.google_translate_api.html
  ref/integreat_cms.summ_ai_api.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Curl yarn public key
  .devcontainer/Dockerfile
Due: none

Create registry and Add search-query module
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/static/src/index.ts
  integreat_cms/static/src/js/media-management/library.tsx
  integreat_cms/static/src/js/search-query.ts
  integreat_cms/static/src/registry.ts
  integreat_cms/static/src/types/index.d.ts
  package.json
  tools/npm/generateRegistry.ts
  tsconfig.json
Due: djlint-django, eslint, translations

Delete runtime check
  integreat_cms/static/src/index.ts
Due: eslint

Add featureModule validation checks
  integreat_cms/static/src/index.ts
  tools/npm/generateRegistry.ts
Due: eslint

Install npm in circleci job
  .circleci/config.yml
Due: none

Fix after rebase
  integreat_cms/static/src/index.ts
Due: eslint

Add documentation
  docs/src/_docstrings.rst
  docs/src/documentation.rst
  docs/src/frontend-bundling.rst
  integreat_cms/static/src/types/index.d.ts
Due: eslint

Disable checkboxes of translation box for archived PNs
  integreat_cms/cms/forms/push_notifications/push_notification_form.py
  integreat_cms/cms/views/push_notifications/push_notification_form_view.py
Due: translations

Update documentation of commit 54c0926d6b48ed9d2a8bbc1a5fc79eea0745ba32 [skip ci]
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.push_notifications.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.core.html
  ref-ext/tests.cms.views.html
  ref-ext/tests.firebase_api.html
  ref-ext/tests.html
  ref-ext/tests.mt_api.html
  ref-ext/tests.summ_ai_api.html
  ref-ext/tests.xliff.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.push_notifications.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.core.html
  ref/tests.cms.views.html
  ref/tests.firebase_api.html
  ref/tests.html
  ref/tests.mt_api.html
  ref/tests.summ_ai_api.html
  ref/tests.xliff.html
  searchindex.js
  testing.html
Due: djlint-django, eslint, translations

Reinstantiate Forms after Fail
  integreat_cms/cms/views/pois/poi_form_view.py
Due: translations

Update documentation of commit ea63e39c7b522d2c23a865e6c0aded551e2eb0ef [skip ci]
  genindex.html
  objects.inv
  ref-ext/integreat_cms.api.v3.chat.utils.html
  ref-ext/integreat_cms.cms.forms.html
  ref-ext/integreat_cms.cms.forms.push_notifications.html
  ref-ext/integreat_cms.cms.views.html
  ref-ext/integreat_cms.cms.views.pois.html
  ref-ext/integreat_cms.cms.views.push_notifications.html
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.utils.html
  ref-ext/integreat_cms.deepl_api.html
  ref-ext/integreat_cms.google_translate_api.html
  ref-ext/integreat_cms.summ_ai_api.html
  ref/integreat_cms.api.v3.chat.utils.html
  ref/integreat_cms.cms.forms.html
  ref/integreat_cms.cms.forms.push_notifications.html
  ref/integreat_cms.cms.views.pois.html
  ref/integreat_cms.cms.views.push_notifications.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.utils.html
  ref/integreat_cms.deepl_api.html
  ref/integreat_cms.google_translate_api.html
  ref/integreat_cms.summ_ai_api.html
  searchindex.js
Due: djlint-django, eslint, translations

Prevent PNs from being sent withoout user using Send button
  integreat_cms/core/management/commands/send_push_notifications.py
  tests/core/management/commands/test_send_push_notifications.py
Due: translations

Re-introduce char counter to PN form
  integreat_cms/cms/templates/push_notifications/push_notification_form.html
  integreat_cms/static/src/js/charCounter.ts
Due: djlint-django, eslint, translations

Update documentation of commit 8394c8fe15a05cd021dc29bf2c214e9a6de0cb21 [skip ci]
  ref-ext/integreat_cms.core.html
  ref-ext/integreat_cms.core.management.commands.html
  ref-ext/tests.core.management.commands.html
  ref/integreat_cms.core.html
  ref/integreat_cms.core.management.commands.html
  ref/tests.core.management.commands.html
  searchindex.js
Due: djlint-django, eslint, translations

Update documentation of commit 087aebf757e1825aa66ce06b8264b136fccbbb47 [skip ci]
  ref-ext/integreat_cms.core.html
  ref/integreat_cms.core.html
  searchindex.js
Due: djlint-django, eslint, translations

Add release note for ASGI support
  integreat_cms/release_notes/current/unreleased/4074.yml
Due: none

exclude yarn dependency
  .devcontainer/Dockerfile
Due: none

remove base matcher and add tests for TrigramMatcher
  integreat_cms/cms/search/matchers.py
  tests/cms/search/test_suggest.py
Due: translations

add page search fields
  integreat_cms/cms/models/pages/page.py
  integreat_cms/cms/search/search_fields.py
Due: translations

define search fields in central place and handle foreign key relations
  integreat_cms/cms/forms/contacts/contact_search_form.py
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/search/matchers.py
  integreat_cms/cms/search/search_fields.py
  integreat_cms/cms/search/suggest.py
  integreat_cms/cms/search/tokenize.py
  integreat_cms/cms/views/search/search_suggest.py
Due: translations

min query length
  integreat_cms/cms/search/suggest.py
  tests/cms/views/search/test_search_suggest.py
Due: translations

refactor search suggestions
  integreat_cms/cms/models/contact/contact.py
  integreat_cms/cms/models/mixins.py
  integreat_cms/cms/search/matchers.py
  integreat_cms/cms/search/scorer.py
  integreat_cms/cms/search/suggest.py
  integreat_cms/cms/search/tokenize.py
  integreat_cms/cms/templates/_search_input.html
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/search/__init__.py
  integreat_cms/cms/views/search/search_content_ajax.py
  integreat_cms/cms/views/search/search_suggest.py
  integreat_cms/cms/views/utils/__init__.py
  integreat_cms/static/src/js/search-query.ts
Due: djlint-django, eslint, translations

add tests for search-suggest
  tests/cms/search/__init__.py
  tests/cms/search/test_suggest.py
  tests/cms/views/search/__init__.py
  tests/cms/views/search/test_search_suggest.py
Due: translations

add search_fields description
  integreat_cms/cms/forms/contacts/contact_search_form.py
  integreat_cms/cms/forms/object_search_form.py
  integreat_cms/cms/search/search_fields.py
Due: translations

boost scores of tokens that start with query and add tests for scorer
  integreat_cms/cms/search/scorer.py
  integreat_cms/cms/search/suggest.py
  tests/cms/search/test_suggest.py
Due: translations

event search fields
  integreat_cms/cms/models/events/event_translation.py
  integreat_cms/cms/search/search_fields.py
Due: translations
