Repository digitalfabrik/integreat-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint-django, eslint, translations

djlint-django:
  name: djlint (custom script)
  entry: ./tools/djlint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

eslint:
  name: eslint (custom script)
  entry: ./tools/eslint.sh
  args:
  - --as-precommit
  language: script
  pass_filenames: true

translations:
  name: translations
  description: Check if the translation file is up-to-date
  entry: tools/check_translations.sh
  language: script
  pass_filenames: true

Untranslate internal MT error strings and split up start_async_translation
  integreat_cms/cms/models/abstract_content_model.py
  integreat_cms/cms/templatetags/content_filters.py
  integreat_cms/cms/utils/machine_translation_types.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/cms/views/utils/test_machine_translation_progress.py
  tests/cms/views/utils/test_machine_translation_report.py
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Fix privilege escalation in task_progress endpoint
  integreat_cms/cms/urls/protected.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_progress.py
Due: translations

Fix failing test
  tests/mt_api/mt_api_test.py
Due: translations

Add change requests
  integreat_cms/cms/forms/machine_translation_form.py
  integreat_cms/cms/forms/push_notifications/push_notification_translation_form.py
  integreat_cms/cms/migrations/0159_add_currently_in_machine_translation_field.py
  integreat_cms/cms/models/abstract_content_translation.py
  integreat_cms/cms/models/push_notifications/push_notification_translation.py
  integreat_cms/cms/views/bulk_action_views.py
  integreat_cms/cms/views/utils/content_edit_lock.py
  integreat_cms/cms/views/utils/machine_translation_progress.py
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/deepl_api/apps.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/core/utils/test_machine_translation_celery_task.py
Due: translations

Add Redis fallback and fix failing documentation build
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_api_client.py
Due: translations

Wrap async call in transaction.on_commit
  integreat_cms/core/settings.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  tests/core/utils/test_machine_translation_celery_task.py
  tests/mt_api/bulk_mt_test.py
  tests/mt_api/deepl_api_test.py
  tests/mt_api/google_translate_api_test.py
  tests/mt_api/mt_api_test.py
Due: translations

Document redis lock + db flag decision in ADR
  ADR/0004-redis-lock-and-db-flag-for-machine-translation-concurrency.md
Due: none

Remove blanket cache flush on post_migrate
  integreat_cms/core/signals/__init__.py
  integreat_cms/core/signals/cache_signals.py
Due: translations

Refactor translation reports as django model
  integreat_cms/cms/migrations/0165_machine_translation_report.py
  integreat_cms/cms/models/__init__.py
  integreat_cms/cms/models/machine_translations/__init__.py
  integreat_cms/cms/models/machine_translations/machine_translation_report.py
  integreat_cms/cms/views/utils/machine_translation_report.py
  integreat_cms/core/utils/machine_translation_celery_task.py
  integreat_cms/locale/de/LC_MESSAGES/django.po
  tests/cms/views/utils/test_machine_translation_report.py
Due: translations

Make redis a hard, loud requirement
  integreat_cms/core/apps.py
  integreat_cms/core/checks.py
  integreat_cms/core/settings.py
Due: translations

Add frontend UX for Celery-based machine translation progress
  integreat_cms/cms/templates/_content_edit_lock.html
  integreat_cms/cms/templates/_machine_translation_lock_dialog.html
  integreat_cms/cms/templates/messages.html
  integreat_cms/cms/templates/pages/page_form.html
  integreat_cms/cms/templates/pages/pages_page_tree.html
  integreat_cms/cms/templates/pages/pages_page_tree_node.html
  integreat_cms/locale/de/LC_MESSAGES/django.po
  integreat_cms/static/src/css/style.scss
  integreat_cms/static/src/js/content-edit-lock.ts
  integreat_cms/static/src/js/feature/mt-progress-poll.ts
  integreat_cms/static/src/js/utils/mt-report-banner.ts
Due: djlint-django, eslint, translations

Update Python dependencies
  pyproject.toml
Due: none

Fix test fixtures
  tests/api/expected-outputs/raw_content_augsburg_de_event.html
  tests/api/expected-outputs/raw_content_augsburg_de_imprint.html
  tests/api/expected-outputs/raw_content_augsburg_de_location.html
  tests/api/expected-outputs/raw_content_augsburg_de_page.html
  tests/api/expected-outputs/social.html
  tests/api/expected-outputs/social_augsburg.html
  tests/api/expected-outputs/social_augsburg_de.html
  tests/api/expected-outputs/social_augsburg_de_child_page.html
  tests/api/expected-outputs/social_augsburg_de_event.html
  tests/api/expected-outputs/social_augsburg_de_event_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_imprint.html
  tests/api/expected-outputs/social_augsburg_de_location.html
  tests/api/expected-outputs/social_augsburg_de_location_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_page.html
  tests/api/expected-outputs/social_augsburg_de_page_non-existing.html
  tests/api/expected-outputs/social_augsburg_de_pn_non-existing.html
  tests/api/expected-outputs/social_augsburg_non-existing.html
  tests/api/expected-outputs/social_birkenfeld_de_archived.html
  tests/api/expected-outputs/social_landing.html
  tests/api/expected-outputs/social_landing_de.html
  tests/api/expected-outputs/social_landing_en.html
  tests/api/expected-outputs/social_landing_non-existing.html
Due: djlint-django, translations

Fix typing in `url.py`
  integreat_cms/sitemap/urls.py
Due: translations

Fix djlint settings
  integreat_cms/api/v3/templates/webapp_server_side_include.html
  pyproject.toml
Due: djlint-django, translations

Let prettier ignore `tests/api/expected-outputs`
  .prettierignore
Due: none

Update NPM packages
  package-lock.json
Due: none

Raise JS target to `es2018`
  eslint.config.mjs
  tsconfig.json
Due: eslint

Format html templates with djlint
  docs/src/templates/layout.html
  integreat_cms/api/v3/templates/error_headers.html
  integreat_cms/api/v3/templates/raw_content.html
  integreat_cms/api/v3/templates/social_media_headers.html
  integreat_cms/api/v3/templates/webapp_server_side_include.html
Due: djlint-django, translations

Fix running tests in Docker
  tools/_functions.sh
  tools/docker/test_entrypoint.sh
  tools/npm/tsconfig.json
  tsconfig.json
Due: none

Update test PDF files
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf
Due: none

2908: Replace xhtml2pdf
  .circleci/config.yml
  README.md
  docs/src/conf.py
  docs/src/frontend-bundling.rst
  docs/src/installation.rst
  docs/src/prod-server.rst
  example-configs/integreat-cms.ini
  flake.nix
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/cms/utils/pdf_utils.py
  integreat_cms/core/settings.py
  integreat_cms/release_notes/current/unreleased/2908.yml
  integreat_cms/static/src/css/pdf_page_export.css
  integreat_cms/static/src/fonts/dejavu-sans/dejavu-sans-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef-pdf.css
  integreat_cms/static/src/fonts/lateef/lateef.css
  integreat_cms/static/src/fonts/noto-sans-ethiopic/noto-sans-ethiopic-pdf.css
  integreat_cms/static/src/fonts/noto-sans-georgian/noto-sans-georgian-pdf.css
  integreat_cms/static/src/fonts/noto-sans-sc/noto-sans-sc-pdf.css
  integreat_cms/static/src/fonts/open-sans/open-sans-pdf.css
  integreat_cms/static/src/fonts/raleway/raleway-pdf.css
  pyproject.toml
  tests/pdf/test_pdf_export.py
  tools/docker/Dockerfile.test
Due: djlint-django, translations

2908: Removed system libraries from some CI jobs and added them to the devcontainer were its missing
  .circleci/config.yml
  .devcontainer/Dockerfile
Due: none

2908: Fixed the formatting for djlint
  integreat_cms/cms/templates/pages/page_pdf.html
Due: djlint-django, translations

2908: Fix indentation levels and fixtures
  integreat_cms/cms/templates/pages/page_pdf.html
  integreat_cms/static/src/css/pdf_page_export.css
  tests/pdf/files/28814d44dd/Integreat - Ukrainisch - Ласкаво просимо в Аугсбург.pdf
  tests/pdf/files/3b02f5ea5b/Integreat - Arabisch - معلومات الوصول.pdf
  tests/pdf/files/52d22a85dc/Integreat - Amharisch - እንኳን ደህና መጡ.pdf
  tests/pdf/files/6262976c99/Integreat - Deutsch - Willkommen.pdf
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
  tests/pdf/files/ba6f45d0ab/Integreat - Griechisch - Καλώς ήλθατε στο Augsburg.pdf
  tests/pdf/files/e155c5e38b/Integreat - Englisch - Welcome.pdf
  tests/pdf/test_pdf_export.py
Due: djlint-django, translations

2908: Fixed the indentation for ul and ol lists
  integreat_cms/static/src/css/pdf_page_export.css
  tests/pdf/files/990a572a06/Integreat - Deutsch - Augsburg.pdf
Due: none

Show error messages and help text for external links in the broken links view
  integreat_cms/cms/constants/linkcheck_external_link_error.py
  integreat_cms/cms/templates/linkcheck/link_list_row.html
  integreat_cms/cms/templates/linkcheck/links_by_filter.html
  integreat_cms/cms/templatetags/link_checker.py
  integreat_cms/cms/utils/internal_link_checker.py
Due: djlint-django, translations

refactor: manage python dependencies with uv lock file
  .circleci/config.yml
  .devcontainer/.env
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  README.md
  docker-compose.test.yml
  docs/src/continuous-integration.rst
  docs/src/installation.rst
  docs/src/packaging.rst
  docs/src/prod-server.rst
  docs/src/tools.rst
  docs/src/virtualenv.rst
  flake.nix
  pyproject.toml
  tools/docker/Dockerfile.test
  tools/docker/test_entrypoint.sh
  tools/install.sh
  tools/update_dependencies.sh
  uv.lock
Due: none

Move loader indicator next to text to avoid layout shift
  integreat_cms/cms/templates/statistics/statistics_viewed_pages.html
Due: djlint-django, translations

Store map of chart items by checkboxes
  integreat_cms/static/src/js/analytics/statistics-charts.ts
Due: eslint

Path conditions:
  djlint-django: any of: \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  translations: any of: \.py$, \.(html|htm|xhtml)$
